---
layout: landingpage
title: "Home Assistant Connect ZBT-1"
description: "Best way to add Zigbee and Thread to Home Assistant"
date: 2022-10-05
tagline: Home Assistant Connect ZBT-1
tagline_wide: false
og_image: /images/connectzbt1/connectzbt1-cover.jpg
hero_image: /images/connectzbt1/connectzbt1_horizontal.png
frontpage: true
frontpage_image: /images/frontpage/feature-zbt1.jpg
---

<style>
  #landingpage .banner .title {
    text-shadow: 0px 0px 10px rgba(0, 0, 0), 0px 0px 10px rgba(0, 0, 0);
  }
  #landingpage .content .bullet-points,
  #landingpage .sub-title {
    margin-top: 100px;
  }
  #landingpage #buy-dialog {
    overflow-y: auto;
  }
  #landingpage .page-content .content .bullet-points .item span{
    letter-spacing: unset;
  }
  
  .multi-pan {
    max-width: 750px;
    margin: 100px auto;
  }

  .material-card .documentation-card svg {
      height: 42px;
      max-width: 42px;
      min-width: 42px;
      align-self: center;
  }

  .material-card .documentation-card {
    text-decoration: none !important;
    color: black !important;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 0;
  }
  
  .material-card .documentation-card .content-container {
    display: flex;
  }

  .material-card .documentation-card .content-container div:first-of-type {
    margin-right: 24px;
  }

  .material-card .documentation-card .content-container div:first-of-type img, .material-card .documentation-card .content-container div:first-of-type svg {
    max-width: 170px;
    max-height: 170px;
    min-width: 170px;
    min-height: 170px;
    padding: 32px;
    border-radius: 3px;
    box-shadow: rgba(0,0,0,0.06) 0 0 10px;
    vertical-align: middle;
    border: 5px solid #fff;
  }

  .material-card .documentation-card div {
    display: flex;
    align-items: center;
  }

  #skyconnectBanner {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<div class="content">
  <div class="material-card text banner-overlay with-box">
    <div>
      <div class="banner-overlay-content">
        Home Assistant Connect ZBT-1 (previously known as Home Assistant SkyConnect) is the easiest way to add Zigbee support
        to your Home Assistant instance.
        <br /><br />
        Home Assistant Connect ZBT-1 can also be used to turn your Home Assistant installation into a Thread border router.
      </div>
    </div>
    <div class="material-card text box">
      <div class="banner-overlay-images">
        <div class="img-container">
          <img src="/images/connectzbt1/connectzbt1_square.jpg" />
        </div>
        <div class="img-container">
          <img src="/images/connectzbt1/connectzbt1_horizontal.png" />
        </div>
        <div class="img-container">
          <img src="/images/connectzbt1/connectzbt1_isometric.png" />
        </div>
      </div>
      <div class="banner-overlay-button buy" onclick="showBuyDialog()">
        <div>Order now</div>
      </div>
    </div>
  </div>

  <div class="bullet-points">
    <div class="item">
      <span>Compatible</span>
      <span>Zigbee</span>
      <span>Works with Home Assistant and Zigbee2MQTT<sup>1</sup></span>
    </div>
    <div class="item">
      <span>Reliable</span>
      <span>Range</span>
      <span>+20 dBm</span>
    </div>
    <div class="item">
      <span>Future Proof</span>
      <span>Updatable</span>
      <span>Updates delivered via Home Assistant</span>
    </div>
    <div class="item">
      <span>Zero Setup</span>
      <span>Plug and Play</span>
      <span>Automatically detected by Home Assistant</span>
    </div>
  </div>
</div>

<div class="sub-title">Specifications</div>
<div class="flex">
  <div class="specifications">
    <div class="specifications-components">
      <h3>Product details</h3>
      <div class="component-list">

        <div class="spec-title">Model No.</div>
        <div class="spec-content">NC-ZBT-9710</div>

        <div class="spec-title">Radio Chipset</div>
        <div class="spec-content">Silicon Labs Multiprotocol EFR32MG21</div>

        <div class="spec-title">Frequency</div>
        <div class="spec-content">2.4 GHz</div>

        <div class="spec-title">TX Power</div>
        <div class="spec-content">up to +20 dBm</div>

        <div class="spec-title">Protocols</div>
        <div class="spec-content">Zigbee 3.0;<br> Thread (Matter) via firmware update</div>

        <div class="spec-title">USB</div>
        <div class="spec-content">
          2.0 full-speed, Silicon Labs CP2102N USB-to-UART bridge
        </div>

        <div class="spec-title">Supply</div>
        <div class="spec-content">5 V DC / up to 150 mA</div>
      </div>
    </div>
  </div>
  <div class="specifications">
    <div class="specifications-components" style="margin-right: 0">
      <h3>Form Factor</h3>
      <div class="component-list">
        <div class="spec-title">Width</div>
        <div class="spec-content">18&nbsp;mm / 0.7&nbsp;inch</div>
        <div class="spec-title">Height</div>
        <div class="spec-content">4.5&nbsp;mm / 0.18&nbsp;inch</div>
        <div class="spec-title">Depth</div>
        <div class="spec-content">38.5&nbsp;mm / 1.5&nbsp;inch</div>
        <div class="spec-title">Weight</div>
        <div class="spec-content">4 g / 0.14 oz</div>
      </div>
    </div>
  </div>
</div>

<h1 class="sub-title">FAQs</h1>
<div class="faq-list">
  {% details "What is the difference between Home Assistant SkyConnect and Connect ZBT-1?" %} Home Assistant Connect ZBT-1 is the new name for Home Assistant SkyConnect. Though it's a new name and look, they have the exact same hardware, capability, and support. We made this change to help make room for a new line of Connect products, specifically an upcoming Z-Wave Connect product. Going forward, whenever we mention updates or features for Home Assistant Connect ZBT-1, this will also apply to SkyConnect-branded devices. Retailers will continue to sell SkyConnect-branded devices while supplies last, and we would encourage you to purchase whatever is available as they are functionally identical.
  {% enddetails %}

  {% details "Why include a USB extension cable?" %} USB 3.0 ports (the ones with blue on the inside) are known to cause significant noise and radio interference to any 2.4&nbsp;GHz wireless devices. This includes Zigbee and Thread. If you do not use the extension cable, it may not work at all, and if it does, it could be flaky at best with intermittent problems (issues with pairing, device dropouts, unreachable devices, timeout errors, etc).
  <br><br>
  <a href="https://www.youtube.com/watch?v=tHqZhNcFEvA">See demo on YouTube.</a> 
  {% enddetails %}

  {% details "Which use case do you recommend for Home Assistant Connect ZBT-1?" %}
  Our current recommendation for Home Assistant Connect ZBT-1 is to use the Zigbee firmware to power your Zigbee network. This solution offers a great experience out-of-the-box.<br /><br />
  As part of our efforts to bring Matter to Home Assistant, we're now focused on ensuring that the Thread experience will catch up and become a first-class citizen, making it easy to connect to your Thread-based Matter devices in Home Assistant without a third-party Thread border router. The Thread firmware is already fully functional under the hood, but we still have some work to do to make the experience of using Thread-based devices in Home Assistant feel good. Once the experience has improved, we will recommend using this Thread firmware to power your Thread network as an alternative to using third-party Thread border routers from Apple or Google.
  {% enddetails %}

  {% details "What is the current state of multiprotocol support?" %} 
  <br />
  <b>Multiprotocol will remain an experimental feature and is not recommended for use. </b>
  <br /><br />
  When we launched this device, we announced our intent to release firmware supporting multiprotocol, which allows the device's Silicon Labs chip to connect to both Zigbee and Thread networks with one radio. <br /><br />
  This experimental firmware has been available since December 2022. Through extensive testing, we have found that although it works in some circumstances, it has technical limitations that lead to a worse user experience. We now do not recommend using this firmware, and it will be experimental for the foreseeable future. Instead, we will focus on making sure the dedicated Zigbee and Thread firmwares for Home Assistant Connect ZBT-1 deliver the best experience to users.<br /><br />
  
  If you currently have the multiprotocol firmware installed but don't actively use it to connect to Thread devices, we recommend that you <a href="https://connectzbt1.home-assistant.io/procedures/disable-multiprotocol/">disable multiprotocol</a>. <br /><br />
  Nothing changes for current users of the multiprotocol firmware who are happy with their experience. The experimental multiprotocol firmware will remain available, but we will not recommend it to new users.
  {% enddetails %}

  {% details "What is the Home Assistant Connect ZBT-1 replacement program?" %}
  We’ve found an issue in Home Assistant Connect ZBT-1 that is the result of a faulty part incorporated in the first batch of ZBT-1 devices (sold between June and October of 2024). These devices can fail if plugged into certain USB-A ports, but can operate without issue if plugged into most devices. <br /><br />
  We have instituted a program to provide a replacement device free of charge for a period of 60 months (effective October 2, 2024) for verified purchases. If it’s working, keep it plugged into the device it’s working with. The long coverage period means you don’t need to worry about a replacement until you require one. Regardless of whether the device has failed, we will provide a replacement upon request. SkyConnect branded devices are unaffected by this issue and do not require replacement. <br /><br />
  Please contact the seller where you purchased your device, and they will arrange the return process and replacement. For more information on the program, <a href="https://www.home-assistant.io/blog/2024/10/02/connect-zbt1-issue-and-replacement/">read our blog</a>
  {% enddetails %}
</div>

<div style="margin-top: 24px; text-align: center; font-size: .8rem;">
  1: Relies on the experimental EmberZNet support in Zigbee2MQTT.
</div>
<div class="material-card text spaced-card" style="margin-top: 72px;">
  <a href="https://connectzbt1.home-assistant.io/" target="_blank"
  class="documentation-card">
    <div class="content-container">
        <div>
            
          <svg width="24" height="24" viewBox="0 0 24 24">
            <path
              d="M6 2a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8l-6-6H6m0 2h7v5h5v11H6V4m2 8v2h8v-2H8m0 4v2h5v-2H8Z"
            />
          </svg>
        </div>
        <div>
            <h1>View documentation</h1>
        </div>
    </div>
    {% include assets/chevron_right.html %}
  </a>
</div>


{% include custom/buy-dialog.html product="zbt-1" %}

<div
  class="fab buy" style="position: fixed; top: 116px; height: 48px;"
  title="Order Home Assistant Connect ZBT-1"
>
  <svg style="width: 32px; height: 32px" viewBox="0 0 32 32">
    <path
      fill="currentColor"
      d="M17,18C15.89,18 15,18.89 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20C19,18.89 18.1,18 17,18M1,2V4H3L6.6,11.59L5.24,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42A0.25,0.25 0 0,1 7.17,14.75C7.17,14.7 7.18,14.66 7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.58 17.3,11.97L20.88,5.5C20.95,5.34 21,5.17 21,5A1,1 0 0,0 20,4H5.21L4.27,2M7,18C5.89,18 5,18.89 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20C9,18.89 8.1,18 7,18Z"
    />
  </svg>
  ORDER
</div>

<script>
  if (window.location.hash === "#from-skyconnect") {
    const banner = document.createElement("div");
    banner.id = "skyconnectBanner";
    banner.textContent = "We noticed you were looking for Home Assistant SkyConnect - it's now called Home Assistant Connect ZBT-1, and remains the best way to connect to Zigbee devices.";

    // Apply styles
    Object.assign(banner.style, {
        backgroundColor: "white",
        padding: "10px",
        fontSize: "16px",
      });

    // Insert the banner content into the header element
    document.querySelector("header").appendChild(banner);
  }
</script>