
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Instrument+Sans:ital,wdth,wght@0,99,400..700;1,99,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,650;1,650&display=swap');

body, html {
  background-color: $site-background;
  color: $text-color;
  font-family: $sans-serif;
  height: 100%;
}

p,li {
  letter-spacing: .005em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $heading-font;
  font-weight: 650;
  letter-spacing: -.005em;
}
h1 {font-weight: 800;}
h3, h4 {font-weight: 700;}
.page h1.title.indent {
  font-size: 56px;
}
h1.title.delta {
  border-bottom: none;
  text-transform: uppercase;
  letter-spacing: .1em;
}

a {
  color: $link-color;
  text-decoration: none;
  .menu & {
    color: $link-color;
  }
}

.gist {
  font-size: 0.75em;
}

.title.indent {
  @media only screen and (max-width: $palm-end){
    &::before {
      display: none;
    }
  }
  &::before {
    // content: "// ";
    color: $primary-color;
  }
}

article> {
  ol {
    counter-reset: my-awesome-counter;
    list-style: none;
  }
  ol>li {
    margin-left: -0.25rem;
    counter-increment: my-awesome-counter;
    position: relative;
  }
  ol>li::before {
    content: counter(my-awesome-counter);
    color: $white;
    font-size: 1.25rem;
    font-weight: 600;
    position: absolute;
    left: -2.75rem;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    top: 0;
    background: $primary-color;
    border-radius: 50%;
    text-align: center;
  }
}

.divider {
  border: none;
  border-bottom: 2px solid $primary-color;
  clear: both;
  margin: 2em 0;
}

article.post,
article.page,
article.listing {
  img {
    border: 5px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    &.right {
      float: right;
      margin: 0 0 10px 20px;
    }
    &.left {
      float: left;
      margin: 0 20px 10px 0;
    }
  }
}
