body > header {
  background-color: $header-background;
  margin-bottom: 2em;

  .site-title {
    color: $text-color;
    font-size: 1.7em;
    line-height: 2.5em;
    letter-spacing: .06125rem;
  }
}