// #sidebar {
//   .title {
//     border-bottom: 1px solid $blue;
//     color: $grayDark;
//     margin: 1em 0 0.5em;
//     padding-bottom: 5px;
//   }
//   .social {
//     ul {
//       @include content-columns(2, 10px);
//     }
//   }

//   @media only screen and (min-width: $desk-start){
//     section:first-child {
//       h3 {margin-top: 0;}
//     }
//   }
// }

.aside-module {
  @media only screen and (min-width: $desk-start){
    &:first-child {
      .title {margin-top: 0;}
    }
  }
  .title {
    border-bottom: 1px solid $blue;
    color: $grayDark;
    margin: 1em 0 0.5em;
    padding-bottom: 5px;

    .btn {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding: 5px 10px;
      text-decoration: none;
    }
  }

  .loading {
    display: block;
    font-size: 2em;
    text-align: center;
  }
}