@import 'oscailte/oscailte';
@import 'custom/paulus';
@import 'custom/landingpage';
@import 'custom/features';
@import 'custom/component_page';
@import 'custom/syntax';
@import 'custom/details';
@import 'custom/print';
@import 'custom/layout';
@import 'custom/getting_started';
@import 'custom/tabbed_block';