<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SNMP - Home Assistant</title>
    <meta name="author" content="Home Assistant">
    <meta name="description" content="Instructions how to integrate SNMP into Home Assistant.">
    
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://home-assistant.io/components/device_tracker.snmp/">

    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="SNMP">
    <meta property="og:site_name" content="Home Assistant">
    <meta property="og:url" content="https://home-assistant.io/components/device_tracker.snmp/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Instructions how to integrate SNMP into Home Assistant.">
    <meta property="og:image" content="https://home-assistant.io/images/default-social.png">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@home_assistant">
    
    <meta name="twitter:title" content="SNMP">
    <meta name="twitter:description" content="Instructions how to integrate SNMP into Home Assistant.">
    <meta name="twitter:image" content="https://home-assistant.io/images/default-social.png">

    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>

  <body >

    <header>
      <div class="grid-wrapper">
  <div class="grid">

    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/demo/favicon-192x192.png'>
    <span>Home Assistant</span>
  </a>
</div>

<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  
  <li><a href="/getting-started/">Getting started</a></li>
  <li><a href="/components/">Components</a></li>
  <li><a href="/ecosystem/">Ecosystem</a></li>
  <li><a href="/cookbook/">Examples</a></li>
  <li><a href="/developers/">Developers</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
</ul>
  </nav>
</div>

  </div>
</div>
    </header>

    

    <div class="grid-wrapper">
      <div class="grid grid-center">
        
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
        

          <article class="page">
  
  

  
  <header>
    <h1 class="title indent">
      SNMP
    </h1>
  </header>
  <hr class="divider">
  

  <p>A lot WiFi access points and WiFi routers support the Simple Network Management Protocol (SNMP). This is a standardized method for monitoring/manageing network connected devices. SNMP uses a tree-like hierarchy where each node is an object. Many of these objects contain (live) lists of insances and metrics, like network interfaces, disks, and wifi registrations.</p>

<p class="note warning">
This device tracker needs SNMP to be enabled on the router.
</p>

<p>OID examples:</p>

<ul>
  <li>Mikrotik: <code class="highlighter-rouge">1.3.6.1.4.1.14988.1.1.1.2.1.1</code> (confirmed, unknown RouterOS version/model)</li>
  <li>Mikrotik: <code class="highlighter-rouge">1.3.6.1.2.1.4.22.1.2</code> (confirmed, RouterOS 6.x on RB2011)</li>
  <li>Aruba: <code class="highlighter-rouge">1.3.6.1.4.1.14823.2.3.3.1.2.4.1.2</code> (untested)</li>
  <li>BiPAC 7800DXL: <code class="highlighter-rouge">1.3.6.1.2.1.17.7.1.2.2.1.1</code> (confirmed on firmware 2.32e)</li>
  <li>OpenWrt: <code class="highlighter-rouge">1.3.6.1.2.1.4.22.1.2</code> (tested on Chaos Calmer 15.05 firmware, need to install snmpd package)</li>
  <li>pfSense: <code class="highlighter-rouge">1.3.6.1.2.1.4.22.1.2</code> (tested on 2.2.4-RELEASE, need to enable SNMP service)</li>
  <li>TPLink: <code class="highlighter-rouge">1.3.6.1.2.1.3.1.1.2.19.1</code> (Archer VR2600v, need to enable SNMP service)</li>
  <li>EdgeRouter <code class="highlighter-rouge">1.3.6.1.2.1.4.22.1.2</code> (EdgeRouter Lite v1.9.0, need to enable SNMP service)</li>
</ul>

<p>To use the SNMP version 1 platform in your installation, add the following to your <code class="highlighter-rouge">configuration.yaml</code> file:</p>

<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml entry for SNMP version 1</span>
<span class="s">device_tracker</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">snmp</span>
    <span class="s">host</span><span class="pi">:</span> <span class="s">192.168.1.1</span>
    <span class="s">community</span><span class="pi">:</span> <span class="s">public</span>
    <span class="s">baseoid</span><span class="pi">:</span> <span class="s">1.3.6.1.4.1.14988.1.1.1.2.1.1</span>
</code></pre>
</div>

<p>If you want to use encryption, you must enable SNMP version 3 by adding <code class="highlighter-rouge">authkey</code> and <code class="highlighter-rouge">privkey</code> variables and enabling SNMP version 3 on your router. Currently only SHA1 is supported for authentication and AES for encryption. Example of SNMPv3 configuration:</p>

<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml entry for SNMP version 3</span>
<span class="s">device_tracker</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">snmp</span>
    <span class="s">host</span><span class="pi">:</span> <span class="s">192.168.1.1</span>
    <span class="s">community</span><span class="pi">:</span> <span class="s">username</span>
    <span class="s">authkey</span><span class="pi">:</span> <span class="s">authpass</span>
    <span class="s">privkey</span><span class="pi">:</span> <span class="s">privpass</span>
    <span class="s">baseoid</span><span class="pi">:</span> <span class="s">1.3.6.1.4.1.14988.1.1.1.2.1.1</span>
</code></pre>
</div>

<p>Configuration variables:</p>

<ul>
  <li><strong>host</strong> (<em>Required</em>): The IP address of the router, eg. 192.168.1.1.</li>
  <li><strong>community</strong> (<em>Required</em>): The SNMP community which is set for the device. Most devices have a default community set to to <code class="highlighter-rouge">public</code> with read-only permission (which is sufficient).</li>
  <li><strong>baseoid</strong> (<em>Required</em>): The OID prefix where wireless client registrations can be found, usually vendor specific. It’s advised to use the numerical notation. To find this base OID, check vendor documentation or check the MIB file for your device.</li>
  <li><strong>authkey</strong> (<em>Inclusive</em>): Authentication key for SNMPv3. Variable privkey must also be set.</li>
  <li><strong>privkey</strong> (<em>Inclusive</em>): Privacy key SNMPv3. Variable authkey must also be set.</li>
</ul>

<p>See the <a href="/components/device_tracker/">device tracker component page</a> for instructions how to configure the people to be tracked.</p>


</article>


        </div>

        
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
  
  
    <section class="aside-module grid__item one-whole lap-one-half">
  <div class='edit-github'><a href='https://github.com/home-assistant/home-assistant.github.io/tree/current/source/_components/device_tracker.snmp.markdown'>Edit this page on GitHub</a></div>
  <div class='brand-logo-container section'>
      <img src='/images/supported_brands/network-snmp.png' />
  </div>
    <div class='section'>
    Introduced in release: 0.7.5
    </div>
    <div class='section'>
      This is a platform for
      <a href='/components/device_tracker/'>the Device Tracker component</a>.
    </div>
          <div class='section'>
          <h1 class='title delta'>Related components</h1>
          <ul class='divided'>
        <li><a href='/components/sensor.snmp/'>
          SNMP
        </a></li>
    </ul>
    </div>
    <div class='section'>
    <h1 class="title delta">Category Presence Detection</h1>
    <ul class='divided'>
        <li>
            <a href='/components/device_tracker.asuswrt/'>ASUSWRT</a>
        </li>
        <li>
            <a href='/components/device_tracker.actiontec/'>Actiontec</a>
        </li>
        <li>
            <a href='/components/device_tracker.aruba/'>Aruba</a>
        </li>
        <li>
            <a href='/components/device_tracker.automatic/'>Automatic</a>
        </li>
        <li>
            <a href='/components/device_tracker.bt_home_hub_5/'>BT Home Hub 5</a>
        </li>
        <li>
            <a href='/components/device_tracker.bbox/'>Bbox</a>
        </li>
        <li>
            <a href='/components/device_tracker.bluetooth_le_tracker/'>Bluetooth LE Tracker</a>
        </li>
        <li>
            <a href='/components/device_tracker.bluetooth_tracker/'>Bluetooth Tracker</a>
        </li>
        <li>
            <a href='/components/device_tracker.cisco_ios/'>Cisco IOS</a>
        </li>
        <li>
            <a href='/components/device_tracker.ddwrt/'>DD-WRT</a>
        </li>
        <li>
            <a href='/components/device_tracker.fritz/'>FRITZ!Box</a>
        </li>
        <li>
            <a href='/components/device_tracker.gpslogger/'>GPSLogger</a>
        </li>
        <li>
            <a href='/components/device_tracker.locative/'>Locative</a>
        </li>
        <li>
            <a href='/components/device_tracker.mqtt/'>MQTT Device Tracker</a>
        </li>
        <li>
            <a href='/components/sensor.mqtt_room/'>MQTT Room Presence</a>
        </li>
        <li>
            <a href='/components/device_tracker.netgear/'>Netgear</a>
        </li>
        <li>
            <a href='/components/device_tracker.nmap_tracker/'>Nmap</a>
        </li>
        <li>
            <a href='/components/device_tracker.luci/'>OpenWRT (luci)</a>
        </li>
        <li>
            <a href='/components/device_tracker.ubus/'>OpenWRT (ubus)</a>
        </li>
        <li>
            <a href='/components/device_tracker.owntracks/'>Owntracks</a>
        </li>
        <li>
            <a href='/components/device_tracker.ping/'>Ping (ICMP)</a>
        </li>
        <li>
            SNMP
        </li>
        <li>
            <a href='/components/device_tracker.swisscom/'>Swisscom Internet-Box</a>
        </li>
        <li>
            <a href='/components/device_tracker.tplink/'>TP-Link</a>
        </li>
        <li>
            <a href='/components/device_tracker.thomson/'>Thomson</a>
        </li>
        <li>
            <a href='/components/device_tracker.tomato/'>Tomato</a>
        </li>
        <li>
            <a href='/components/device_tracker.trackr/'>TrackR</a>
        </li>
        <li>
            <a href='/components/device_tracker.upc_connect/'>UPC ConnectBox</a>
        </li>
        <li>
            <a href='/components/device_tracker.unifi/'>Ubiquiti Unifi WAP</a>
        </li>
        <li>
            <a href='/components/device_tracker.volvooncall/'>Volvo On Call</a>
        </li>
        <li>
            <a href='/components/device_tracker.xiaomi/'>Xiaomi Router</a>
        </li>
        <li>
            <a href='/components/device_tracker.icloud/'>iCloud</a>
        </li>
    </ul>
    </div>
</section>
  
</div>
        </aside>
        
      </div>
    </div>

    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright">
  <a rel="me" href='https://twitter.com/home_assistant'><i class="icon-twitter"></i></a>
  <a rel="me" href='https://facebook.com/homeassistantio'><i class="icon-facebook"></i></a>
  <a rel="me" href='https://plus.google.com/110560654828510104551'><i class="icon-google-plus"></i></a>
  <a rel="me" href='https://github.com/home-assistant/home-assistant'><i class="icon-github"></i></a>

  <div class="credit">
    Contact us at <a href='mailto:hello@home-assistant.io'>hello@home-assistant.io</a>.<br>
    Website powered by <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>.<br />
    Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.
  </div>
</div>
    </div>
  </div>
</div>
    </footer>

    <script>
  var _gaq=[['_setAccount','UA-57927901-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
  </body>
</html>