<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Nmap - Home Assistant</title>
    <meta name="author" content="Home Assistant">
    <meta name="description" content="Instructions how to integrate Nmap into Home Assistant.">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://home-assistant.io/components/device_tracker.nmap_tracker/">
    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="Nmap">
    <meta property="og:site_name" content="Home Assistant">
    <meta property="og:url" content="https://home-assistant.io/components/device_tracker.nmap_tracker/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Instructions how to integrate Nmap into Home Assistant.">
    <meta property="og:image" content="https://home-assistant.io/images/default-social.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@home_assistant">
    <meta name="twitter:title" content="Nmap">
    <meta name="twitter:description" content="Instructions how to integrate Nmap into Home Assistant.">
    <meta name="twitter:image" content="https://home-assistant.io/images/default-social.png">
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>
  <body >
    <header class='site-header'>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/demo/favicon-192x192.png'>
    <span>Home Assistant</span>
  </a>
</div>
<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  <li><a href="/getting-started/">Getting started</a></li>
  <li><a href="/components/">Components</a></li>
  <li><a href="/docs/">Docs</a></li>
  <li><a href="/cookbook/">Examples</a></li>
  <li><a href="/developers/">Developers</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
  <li><a href='#' class='show-search'><i class="icon-search"></i></a></li>
</ul>
  </nav>
  <div class='search-container' style='display: none'>
    <div class='search'>
      <i class="icon-search"></i>
      <input id='search' placeholder='Search the docs…'>
      <a href='#' class='close'><i class="icon-remove-sign"></i></a>
    </div>
  </div>
</div>
  </div>
</div>
    </header>
    <div class="grid-wrapper">
      <div class="grid grid-center">
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
          <article class="page">
  <header>
    <h1 class="title indent">
      Nmap
    </h1>
  </header>
  <hr class="divider">
  <p>As an alternative to the router-based device tracking, it is possible to directly scan the network for devices by using Nmap. The IP addresses to scan can be specified in any format that Nmap understands, including the network-prefix notation (<code class="highlighter-rouge">192.168.1.1/24</code>) and the range notation (<code class="highlighter-rouge">192.168.1.1-255</code>).</p>
<p>If you’re on Debian or Ubuntu, you might have to install the packages for <code class="highlighter-rouge">arp</code> and <code class="highlighter-rouge">nmap</code>. Do so by running <code class="highlighter-rouge">$ sudo apt-get install net-tools nmap</code>. On a Fedora host run <code class="highlighter-rouge">$ sudo dnf -y install nmap</code>.</p>
<p>Host detection is done via Nmap’s “fast scan” (<code class="highlighter-rouge">-F</code>) of the most frequently used 100 ports, with a host timeout of 5 seconds.</p>
<p>To use this device tracker in your installation, add the following to your <code class="highlighter-rouge">configuration.yaml</code> file:</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml entry</span>
<span class="s">device_tracker</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">nmap_tracker</span>
    <span class="s">hosts</span><span class="pi">:</span> <span class="s">192.168.1.1/24</span>
</code></pre>
</div>
<p>Configuration variables:</p>
<ul>
  <li><strong>hosts</strong> (<em>Required</em>): The network address to scan (in any supported NMap format). Mixing subnets and IPs is possible.</li>
  <li><strong>home_interval</strong> (<em>Optional</em>): The number of minutes nmap will not scan this device, assuming it is home, in order to preserve the device battery.</li>
  <li><strong>exclude</strong> (<em>Optional</em>): Hosts not to include in nmap scanning. Scanning the host where Home Assistant is running can cause problems (websocket error), so excluding that host is a good idea.</li>
  <li><strong>scan_options</strong> (<em>Optional</em>): Configurable scan options for nmap. Default to <code class="highlighter-rouge">-F --host-timeout 5s</code></li>
</ul>
<p>A full example for the <code class="highlighter-rouge">nmap</code> tracker could look like the following sample:</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml entry for nmap</span>
<span class="c1"># One whole subnet, and skipping two specific IPs.</span>
<span class="s">device_tracker</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">nmap_tracker</span>
    <span class="s">hosts</span><span class="pi">:</span> <span class="s">192.168.1.1/24</span>
    <span class="s">home_interval</span><span class="pi">:</span> <span class="s">10</span>
    <span class="s">exclude</span><span class="pi">:</span>
     <span class="pi">-</span> <span class="s">192.168.1.12</span>
     <span class="pi">-</span> <span class="s">192.168.1.13</span>
</code></pre>
</div>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml for nmap</span>
<span class="c1"># One subnet, and two specific IPs in another subnet.</span>
<span class="s">device_tracker</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">nmap_tracker</span>
    <span class="s">hosts</span><span class="pi">:</span>
      <span class="pi">-</span> <span class="s">192.168.1.1/24</span>
      <span class="pi">-</span> <span class="s">10.0.0.2</span>
      <span class="pi">-</span> <span class="s">10.0.0.15</span>
</code></pre>
</div>
<p>In the above example, Nmap will be call with the process:
<code class="highlighter-rouge">nmap -oX - 192.168.1.1/24 10.0.0.2 10.0.0.15 -F --host-timeout 5s</code></p>
<p>An example of how the Nmap scanner can be customized:</p>
<p>Add the capabilities to Nmap. Be sure to specify the full path to wherever you installed Nmap:</p>
<p><code class="highlighter-rouge">sudo setcap cap_net_raw,cap_net_admin,cap_net_bind_service+eip /usr/bin/nmap
</code></p>
<p>And you can set up the device tracker as</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">nmap_tracker</span>
  <span class="s">hosts</span><span class="pi">:</span> <span class="s">192.168.1.1-25</span>
  <span class="s">scan_options</span><span class="pi">:</span> <span class="s2">"</span><span class="nv"> </span><span class="s">--privileged</span><span class="nv"> </span><span class="s">-sP</span><span class="nv"> </span><span class="s">"</span>
</code></pre>
</div>
<p>See the <a href="/components/device_tracker/">device tracker component page</a> for instructions how to configure the people to be tracked.</p>
</article>
        </div>
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
    <section class="aside-module grid__item one-whole lap-one-half">
  <div class='edit-github'><a href='https://github.com/home-assistant/home-assistant.github.io/tree/current/source/_components/device_tracker.nmap_tracker.markdown'>Edit this page on GitHub</a></div>
  <div class='brand-logo-container section'>
      <img src='/images/supported_brands/nmap.png' />
  </div>
    <div class='section'>
      This is a platform for
      <a href='/components/device_tracker/'>the Device Tracker component</a>.
    </div>
    <div class='section'>
    <h1 class="title delta">Category Presence Detection</h1>
    <ul class='divided'>
        <li>
            <a href='/components/device_tracker.asuswrt/'>ASUSWRT</a>
        </li>
        <li>
            <a href='/components/device_tracker.actiontec/'>Actiontec</a>
        </li>
        <li>
            <a href='/components/device_tracker.aruba/'>Aruba</a>
        </li>
        <li>
            <a href='/components/device_tracker.automatic/'>Automatic</a>
        </li>
        <li>
            <a href='/components/device_tracker.bt_home_hub_5/'>BT Home Hub 5</a>
        </li>
        <li>
            <a href='/components/device_tracker.bbox/'>Bbox</a>
        </li>
        <li>
            <a href='/components/device_tracker.bluetooth_le_tracker/'>Bluetooth LE Tracker</a>
        </li>
        <li>
            <a href='/components/device_tracker.bluetooth_tracker/'>Bluetooth Tracker</a>
        </li>
        <li>
            <a href='/components/device_tracker.cisco_ios/'>Cisco IOS</a>
        </li>
        <li>
            <a href='/components/device_tracker.ddwrt/'>DD-WRT</a>
        </li>
        <li>
            <a href='/components/device_tracker.fritz/'>FRITZ!Box</a>
        </li>
        <li>
            <a href='/components/device_tracker.gpslogger/'>GPSLogger</a>
        </li>
        <li>
            <a href='/components/device_tracker.mqtt_json/'>JSON MQTT Device Tracker</a>
        </li>
        <li>
            <a href='/components/device_tracker.linksys_ap/'>Linksys Access Points</a>
        </li>
        <li>
            <a href='/components/device_tracker.linksys_smart/'>Linksys Smart Wifi Router</a>
        </li>
        <li>
            <a href='/components/device_tracker.locative/'>Locative</a>
        </li>
        <li>
            <a href='/components/device_tracker.mqtt/'>MQTT Device Tracker</a>
        </li>
        <li>
            <a href='/components/sensor.mqtt_room/'>MQTT Room Presence</a>
        </li>
        <li>
            <a href='/components/device_tracker.mikrotik/'>Mikrotik</a>
        </li>
        <li>
            <a href='/components/device_tracker.mysensors/'>MySensors Device Tracker</a>
        </li>
        <li>
            <a href='/components/device_tracker.netgear/'>Netgear</a>
        </li>
        <li>
            Nmap
        </li>
        <li>
            <a href='/components/device_tracker.luci/'>OpenWRT (luci)</a>
        </li>
        <li>
            <a href='/components/device_tracker.ubus/'>OpenWRT (ubus)</a>
        </li>
        <li>
            <a href='/components/device_tracker.owntracks/'>Owntracks</a>
        </li>
        <li>
            <a href='/components/device_tracker.ping/'>Ping (ICMP)</a>
        </li>
        <li>
            <a href='/components/device_tracker.snmp/'>SNMP</a>
        </li>
        <li>
            <a href='/components/device_tracker.sky_hub/'>Sky Hub</a>
        </li>
        <li>
            <a href='/components/device_tracker.swisscom/'>Swisscom Internet-Box</a>
        </li>
        <li>
            <a href='/components/device_tracker.tplink/'>TP-Link</a>
        </li>
        <li>
            <a href='/components/device_tracker.tado/'>Tado</a>
        </li>
        <li>
            <a href='/components/device_tracker.thomson/'>Thomson</a>
        </li>
        <li>
            <a href='/components/device_tracker.tomato/'>Tomato</a>
        </li>
        <li>
            <a href='/components/device_tracker.trackr/'>TrackR</a>
        </li>
        <li>
            <a href='/components/device_tracker.upc_connect/'>UPC ConnectBox</a>
        </li>
        <li>
            <a href='/components/device_tracker.unifi/'>Ubiquiti Unifi WAP</a>
        </li>
        <li>
            <a href='/components/device_tracker.volvooncall/'>Volvo On Call</a>
        </li>
        <li>
            <a href='/components/device_tracker.xiaomi/'>Xiaomi Router</a>
        </li>
        <li>
            <a href='/components/device_tracker.icloud/'>iCloud</a>
        </li>
    </ul>
    </div>
</section>
</div>
        </aside>
      </div>
    </div>
    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright">
  <a rel="me" href='https://twitter.com/home_assistant'><i class="icon-twitter"></i></a>
  <a rel="me" href='https://facebook.com/homeassistantio'><i class="icon-facebook"></i></a>
  <a rel="me" href='https://plus.google.com/110560654828510104551'><i class="icon-google-plus"></i></a>
  <a rel="me" href='https://github.com/home-assistant/home-assistant'><i class="icon-github"></i></a>
  <div class="credit">
    Contact us at <a href='mailto:hello@home-assistant.io'>hello@home-assistant.io</a> (no support!).<br>
    Website powered by <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>.<br />
    Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.
  </div>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">home-assistant.io</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
</div>
    </div>
  </div>
</div>
    </footer>
    <script>
  var _gaq=[['_setAccount','UA-57927901-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
  apiKey: 'ae96d94b201c5444c8a443093edf3efb',
  indexName: 'home-assistant',
  inputSelector: '#search',
  debug: false // Set debug to true if you want to inspect the dropdown
});
document.querySelector('.search .close').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'none';
});
document.querySelector('.show-search').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'block';
  document.getElementById('toggle').checked = false;
  document.querySelector('.search-container input').focus();
});
</script>
  </body>
</html>
