<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>MQTT Lock - Home Assistant</title>
    <meta name="author" content="Home Assistant">
    <meta name="description" content="Instructions how to integrate MQTT locks into Home Assistant.">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://home-assistant.io/components/lock.mqtt/">
    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="MQTT Lock">
    <meta property="og:site_name" content="Home Assistant">
    <meta property="og:url" content="https://home-assistant.io/components/lock.mqtt/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Instructions how to integrate MQTT locks into Home Assistant.">
    <meta property="og:image" content="https://home-assistant.io/images/default-social.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@home_assistant">
    <meta name="twitter:title" content="MQTT Lock">
    <meta name="twitter:description" content="Instructions how to integrate MQTT locks into Home Assistant.">
    <meta name="twitter:image" content="https://home-assistant.io/images/default-social.png">
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>
  <body >
    <header class='site-header'>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/demo/favicon-192x192.png'>
    <span>Home Assistant</span>
  </a>
</div>
<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  <li><a href="/getting-started/">Getting started</a></li>
  <li><a href="/components/">Components</a></li>
  <li><a href="/docs/">Docs</a></li>
  <li><a href="/cookbook/">Examples</a></li>
  <li><a href="/developers/">Developers</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
  <li><a href='#' class='show-search'><i class="icon-search"></i></a></li>
</ul>
  </nav>
  <div class='search-container' style='display: none'>
    <div class='search'>
      <i class="icon-search"></i>
      <input id='search' placeholder='Search the docs…'>
      <a href='#' class='close'><i class="icon-remove-sign"></i></a>
    </div>
  </div>
</div>
  </div>
</div>
    </header>
    <div class="grid-wrapper">
      <div class="grid grid-center">
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
          <article class="page">
  <header>
    <h1 class="title indent">
      MQTT Lock
    </h1>
  </header>
  <hr class="divider">
  <p>The <code class="highlighter-rouge">mqtt</code> lock platform let you control your MQTT enabled locks.</p>
<p>In an ideal scenario, the MQTT device will have a <code class="highlighter-rouge">state_topic</code> to publish state changes. If these messages are published with <code class="highlighter-rouge">RETAIN</code> flag, the MQTT lock will receive an instant state update after subscription and will start with correct state. Otherwise, the initial state of the lock will be false/unlocked.</p>
<p>When a <code class="highlighter-rouge">state_topic</code> is not available, the lock will work in optimistic mode. In this mode, the lock will immediately change state after every command. Otherwise, the lock will wait for state confirmation from the device (message from <code class="highlighter-rouge">state_topic</code>).</p>
<p>Optimistic mode can be forced, even if state topic is available. Try to enable it, if experiencing incorrect lock operation.</p>
<p>To enable MQTT locks in your installation, add the following to your <code class="highlighter-rouge">configuration.yaml</code> file:</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yml entry</span>
<span class="s">lock</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">mqtt</span>
    <span class="s">command_topic</span><span class="pi">:</span> <span class="s2">"</span><span class="s">home/frontdoor/set"</span>
</code></pre>
</div>
<p>Configuration variables:</p>
<ul>
  <li><strong>command_topic</strong> (<em>Required</em>): The MQTT topic to publish commands to change the lock state.</li>
  <li><strong>name</strong> (<em>Optional</em>): The name of the lock. Default is ‘MQTT Lock’.</li>
  <li><strong>state_topic</strong> (<em>Optional</em>): The MQTT topic subscribed to receive state updates.</li>
  <li><strong>payload_lock</strong> (<em>Optional</em>): The payload that represents enabled/locked state. Default is “LOCK”.</li>
  <li><strong>payload_unlock</strong> (<em>Optional</em>): The payload that represents disabled/unlocked state. Default is “UNLOCK”.</li>
  <li><strong>optimistic</strong> (<em>Optional</em>): Flag that defines if lock works in optimistic mode. Default is <code class="highlighter-rouge">true</code> if no <code class="highlighter-rouge">state_topic</code> defined, else <code class="highlighter-rouge">false</code>.</li>
  <li><strong>qos</strong> (<em>Optional</em>): The maximum QoS level of the state topic. Default is 0 and will also be used to publishing messages.</li>
  <li><strong>retain</strong> (<em>Optional</em>): If the published message should have the retain flag on or not.</li>
  <li><strong>value_template</strong> (<em>Optional</em>): Defines a <a href="/docs/configuration/templating/#processing-incoming-data">template</a> to extract a value from the payload.</li>
</ul>
<p class="note warning">
Make sure that your topic match exact. <code class="highlighter-rouge">some-topic/</code> and <code class="highlighter-rouge">some-topic</code> are different topics.
</p>
<h2><a class="title-link" name="examples" href="#examples"></a> Examples</h2>
<p>In this section you find some real life examples of how to use this lock.</p>
<h3><a class="title-link" name="full-configuration" href="#full-configuration"></a> Full configuration</h3>
<p>The example below shows a full configuration for a MQTT lock.</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yml entry</span>
<span class="s">lock</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">mqtt</span>
    <span class="s">name</span><span class="pi">:</span> <span class="s">Frontdoor</span> 
    <span class="s">state_topic</span><span class="pi">:</span> <span class="s2">"</span><span class="s">home-assistant/frontdoor/"</span>
    <span class="s">command_topic</span><span class="pi">:</span> <span class="s2">"</span><span class="s">home-assistant/frontdoor/set"</span>
    <span class="s">payload_lock</span><span class="pi">:</span> <span class="s2">"</span><span class="s">LOCK"</span>
    <span class="s">payload_unlock</span><span class="pi">:</span> <span class="s2">"</span><span class="s">UNLOCK"</span>
    <span class="s">optimistic</span><span class="pi">:</span> <span class="s">false</span>
    <span class="s">qos</span><span class="pi">:</span> <span class="s">1</span>
    <span class="s">retain</span><span class="pi">:</span> <span class="s">true</span>
    <span class="s">value_template</span><span class="pi">:</span> <span class="s1">'</span><span class="s">{{</span><span class="nv"> </span><span class="s">value.x</span><span class="nv"> </span><span class="s">}}'</span>
</code></pre>
</div>
<p>Keep an eye on retaining messages to keep the state as you don’t want to unlock your door by accident when you restart something.</p>
<p>For a check you can use the command line tools <code class="highlighter-rouge">mosquitto_pub</code> shipped with <code class="highlighter-rouge">mosquitto</code> to send MQTT messages. This allows you to operate your lock manually:</p>
<div class="language-bash highlighter-rouge"><pre class="highlight"><code><span class="gp">$  </span>mosquitto_pub -h 127.0.0.1 -t home-assistant/frontdoor/set -m <span class="s2">"LOCK"</span>
</code></pre>
</div>
</article>
        </div>
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
    <section class="aside-module grid__item one-whole lap-one-half">
  <div class='edit-github'><a href='https://github.com/home-assistant/home-assistant.github.io/tree/current/source/_components/lock.mqtt.markdown'>Edit this page on GitHub</a></div>
  <div class='brand-logo-container section'>
      <img src='/images/supported_brands/mqtt.png' />
  </div>
    <div class='section'>
    IoT class<sup><a href='/blog/2016/02/12/classifying-the-internet-of-things/#classifiers'><i class="icon-info-sign"></i></a></sup>: depends
    </div>
    <div class='section'>
    Introduced in release: 0.15
    </div>
    <div class='section'>
      This is a platform for
      <a href='/components/lock/'>the Locks component</a>.
    </div>
          <div class='section'>
          <h1 class='title delta'>Related components</h1>
          <ul class='divided'>
        <li><a href='/components/mqtt/'>
          MQTT
        </a></li>
        <li><a href='/components/alarm_control_panel.mqtt/'>
          MQTT Alarm Control Panel
        </a></li>
        <li><a href='/components/binary_sensor.mqtt/'>
          MQTT Binary Sensor
        </a></li>
        <li><a href='/components/camera.mqtt/'>
          MQTT Camera
        </a></li>
        <li><a href='/components/cover.mqtt/'>
          MQTT Cover
        </a></li>
        <li><a href='/components/device_tracker.mqtt/'>
          MQTT Device Tracker
        </a></li>
        <li><a href='/components/fan.mqtt/'>
          MQTT Fan
        </a></li>
        <li><a href='/components/light.mqtt/'>
          MQTT Light
        </a></li>
        <li><a href='/components/notify.mqtt/'>
          MQTT Notifications
        </a></li>
        <li><a href='/components/sensor.mqtt/'>
          MQTT Sensor
        </a></li>
        <li><a href='/components/switch.mqtt/'>
          MQTT Switch
        </a></li>
    </ul>
    </div>
    <div class='section'>
    <h1 class="title delta">Category Lock</h1>
    <ul class='divided'>
        <li>
            <a href='/components/lock.isy994/'>ISY994 Lock</a>
        </li>
        <li>
            <a href='/components/lock.lockitron/'>Lockitron Lock</a>
        </li>
        <li>
            MQTT Lock
        </li>
        <li>
            <a href='/components/lock.nuki/'>Nuki Smart Lock</a>
        </li>
        <li>
            <a href='/components/lock.sesame/'>Sesame Smart Lock</a>
        </li>
        <li>
            <a href='/components/lock.vera/'>Vera Lock</a>
        </li>
        <li>
            <a href='/components/lock.verisure/'>Verisure Lock</a>
        </li>
        <li>
            <a href='/components/lock.wink/'>Wink Lock</a>
        </li>
        <li>
            <a href='/components/lock.zwave/'>Z-Wave Lock</a>
        </li>
    </ul>
    </div>
</section>
</div>
        </aside>
      </div>
    </div>
    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright">
  <a rel="me" href='https://twitter.com/home_assistant'><i class="icon-twitter"></i></a>
  <a rel="me" href='https://facebook.com/homeassistantio'><i class="icon-facebook"></i></a>
  <a rel="me" href='https://plus.google.com/110560654828510104551'><i class="icon-google-plus"></i></a>
  <a rel="me" href='https://github.com/home-assistant/home-assistant'><i class="icon-github"></i></a>
  <div class="credit">
    Contact us at <a href='mailto:hello@home-assistant.io'>hello@home-assistant.io</a> (no support!).<br>
    Website powered by <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>.<br />
    Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.
  </div>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">home-assistant.io</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
</div>
    </div>
  </div>
</div>
    </footer>
    <script>
  var _gaq=[['_setAccount','UA-57927901-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
  apiKey: 'ae96d94b201c5444c8a443093edf3efb',
  indexName: 'home-assistant',
  inputSelector: '#search',
  debug: false // Set debug to true if you want to inspect the dropdown
});
document.querySelector('.search .close').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'none';
});
document.querySelector('.show-search').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'block';
  document.getElementById('toggle').checked = false;
  document.querySelector('.search-container input').focus();
});
</script>
  </body>
</html>
