section#buy {
    background: linear-gradient(180deg, #DADDE2 25%, #FFF 100%);
    //height: 100vh;

    .cols {
        align-items: center;
        justify-content: center;
    }

    .container {
        justify-content: center;
        text-align: center;
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }


    .section-inner-content {
        //height: 64vh;
        align-items: center;
        justify-content: center;
    }

    .price {
        font-size: 128px;
        font-weight: 700;

        span {
            opacity: .4;
        }
    }


    .terms {
        padding: 0 16px;
        max-width: 520px;
        font-size: 16px;
    }
}