section#chipset {
    z-index: 3;
    @include bp(desktop){
        height: 80vh;
    }

    .container-full {
        height: 0;
    }

    .section-inner-content{
        height: 100%;
    }

    .cols {
        align-self: center;
        height: fit-content;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        @include bp(desktop){
            justify-content: space-between;
            flex-direction: row;
        }
        
        .col {
            display: flex;
            flex-direction: column;
            gap: 32px;
            position: relative;            
            @include bp(desktop){
                max-width: 440px;
                align-items: flex-start;
            }
            
            &:first-child {
                
                
                
                h2 {
                    margin: 0;
                    text-wrap: balance;
                    max-width: 25rem;
                }

                
                >div {
                    //align-items: center;
                    display: flex;
                    gap: 1rem 2rem;
                    
                    p {
                        margin: 0;
                    }
                }
            }
            
            &:last-child {
                backdrop-filter: blur(10px);
                align-items: flex-start;
                padding: 1rem;
                border-radius: 20px;
                overflow: hidden;
                @include bp(desktop){
                align-self: flex-end;
                }
                >img {
                    mix-blend-mode: lighten;
                }
            }

            .connect-badge {
                margin-bottom: 40px;
            }
        }
    }

    .section-inner-content {
        //height: 64vh;
    }

    .waves-wrapper {
        position: relative;
        width: 100%;

        svg {
            position: absolute;
            left: -64px;
            right: -64px;
            height: auto;
            width: -webkit-fill-available;
            mask-image: linear-gradient(to right, transparent 0%, white 20%, white 80%, transparent 100%);
        }
    }
}