section#chipset {
    //height: 100vh;

    .container-full {
        height: 0;
    }

    .cols {
        align-self: center;
        height: fit-content;
        align-items: center;
        justify-content: space-between;

        .col {
            max-width: 440px;

            &:first-child {
                >div {
                    //align-items: center;
                    display: flex;
                    gap: 1rem 2rem;
                    margin-top: 40px;

                    p {
                        margin: 0;
                    }
                }
            }

            &:last-child {
                >img {
                    mix-blend-mode: lighten;
                }
            }

            .connect-badge {
                margin-bottom: 40px;
            }
        }
    }

    .section-inner-content {
        //height: 64vh;
    }

    .waves-wrapper {
        position: relative;
        width: 100%;

        svg {
            position: absolute;
            left: -64px;
            right: -64px;
            height: auto;
            width: -webkit-fill-available;
            mask-image: linear-gradient(to right, transparent 0%, white 20%, white 80%, transparent 100%);
        }
    }
}