.animation-wrapper {
    position: relative;
    
    &-inner {
        display: grid;
        position: absolute;
        inset: 0;
        top: var(--header-height-small);
        pointer-events: none;
        z-index: 2;
    }

    canvas {
        aspect-ratio: 16/9;
        position: sticky;
        top: 80px;
        z-index: 1;
        max-width: 400%;
        height: 100%;
        max-height: calc(100vh - 80px);
        object-position: center;
        grid-area: 1/1;
        object-fit: contain;
        transform: translateX(-50%);
        margin-left: 50%;

    }
}