// Reset any styles
#landingpage {
    .page-content {
        overflow-x: clip;
    }

    .grid-wrapper {
        max-width: unset;
        min-height: unset;
    }

    .content {
        max-width: unset;
        margin: unset;
        color: #002332;
        font-family: Figtree, sans-serif;
        font-weight: 400;
        line-height: 1.5;

        img {
            box-shadow: unset;
            border: unset;
            max-width: 100%;
        }
    }
}


.animation-wrapper {
    position: relative;

    &-inner {
        position: absolute;
        inset: 0;

    }

    canvas {
        aspect-ratio: 13/9;
        position: sticky;
        top: 0;
        z-index: 1;
        max-width: 400%;
        max-height: calc(100vh - 88px);
        object-position: center;
        object-fit: contain;
        transform: translateX(-50%);
        margin-left: 50%;
    }
}

section {
    height: 150vh;
    position: relative;

    canvas {
        position: sticky;
        top: 0
    }
}