section {
    color: #ffffff;

    .section-inner {
        position: sticky;
        top: 0;
    }

    .section-inner-content {
        position: absolute;
        inset: calc(var(--header-height-small) * 2) 0 var(--header-height-small);
    }
}