<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Flux Led/MagicLight - Home Assistant</title>
    <meta name="author" content="Home Assistant">
    <meta name="description" content="Instructions how to setup Flux led/MagicLight within Home Assistant.">
    
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://home-assistant.io/components/light.flux_led/">

    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="Flux Led/MagicLight">
    <meta property="og:site_name" content="Home Assistant">
    <meta property="og:url" content="https://home-assistant.io/components/light.flux_led/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Instructions how to setup Flux led/MagicLight within Home Assistant.">
    <meta property="og:image" content="https://home-assistant.io/images/default-social.png">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@home_assistant">
    
    <meta name="twitter:title" content="Flux Led/MagicLight">
    <meta name="twitter:description" content="Instructions how to setup Flux led/MagicLight within Home Assistant.">
    <meta name="twitter:image" content="https://home-assistant.io/images/default-social.png">

    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>

  <body >

    <header>
      <div class="grid-wrapper">
  <div class="grid">

    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/demo/favicon-192x192.png'>
    <span>Home Assistant</span>
  </a>
</div>

<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  
  <li><a href="/getting-started/">Getting started</a></li>
  <li><a href="/components/">Components</a></li>
  <li><a href="/ecosystem/">Ecosystem</a></li>
  <li><a href="/cookbook/">Examples</a></li>
  <li><a href="/developers/">Developers</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
</ul>
  </nav>
</div>

  </div>
</div>
    </header>

    

    <div class="grid-wrapper">
      <div class="grid grid-center">
        
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
        

          <article class="page">
  
  

  
  <header>
    <h1 class="title indent">
      Flux Led/MagicLight
    </h1>
  </header>
  <hr class="divider">
  

  <p>The <code class="highlighter-rouge">flux_led</code> support is integrated into Home Assistant as a light platform. Several brands use the same protocol and they have the HF-LPB100 chipset in common.</p>

<p>Example of bulbs:</p>

<ul>
  <li><a href="http://www.fluxsmartlighting.com/">Flux Smart Lighting</a></li>
  <li><a href="https://www.amazon.com/gp/product/B00NOC93NG">MagicLight® Plus - WiFi Smart LED Light Bulb4</a></li>
  <li><a href="http://smile.amazon.com/Flux-WiFi-Smart-Light-Bulb/dp/B01A6GHHTE">Flux WiFi Smart LED Light Bulb4</a></li>
  <li><a href="http://smile.amazon.com/gp/product/B01CS1EZYK">WIFI smart LED light Bulb1</a></li>
  <li><a href="https://www.amazon.com/gp/product/B01DY56N8U">Ledenet WiFi RGBW Controller</a></li>
</ul>

<p>The chances are high that your bulb or controller (eg. WiFi LED CONTROLLER) will work if you can control the device with the MagicHome app.</p>

<p>To enable those lights, add the following lines to your <code class="highlighter-rouge">configuration.yaml</code> file:</p>

<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml entry</span>
<span class="s">light</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">flux_led</span>
</code></pre>
</div>

<p>Configuration variables:</p>

<ul>
  <li><strong>automatic_add</strong> (<em>Optional</em>): To enable the automatic addition of lights on startup.</li>
  <li><strong>devices</strong> (<em>Optional</em>): A list of devices with their ip address and a custom name to use in the frontend.</li>
</ul>

<h3><a class="title-link" name="example-configuration" href="#example-configuration"></a> Example configuration</h3>

<p>Will automatically search and add all lights on start up:</p>

<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml entry</span>
<span class="s">light</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">flux_led</span>
    <span class="s">automatic_add</span><span class="pi">:</span> <span class="s">True</span>
</code></pre>
</div>

<p>Will add two lights with given name and create an automation rule to randomly set color each 45 seconds:</p>

<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="s">light</span><span class="pi">:</span>
<span class="c1"># Example configuration.yaml entry</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">flux_led</span>
    <span class="s">devices</span><span class="pi">:</span>
      <span class="s">192.168.0.106</span><span class="pi">:</span>
        <span class="s">name</span><span class="pi">:</span> <span class="s">flux_lamppost</span>
      <span class="s">192.168.0.109</span><span class="pi">:</span>
        <span class="s">name</span><span class="pi">:</span> <span class="s">flux_living_room_lamp</span>

<span class="s">automation</span><span class="pi">:</span>
  <span class="s">alias</span><span class="pi">:</span> <span class="s">random_flux_living_room_lamp</span>
  <span class="s">trigger</span><span class="pi">:</span>
    <span class="s">platform</span><span class="pi">:</span> <span class="s">time</span>
    <span class="s">seconds</span><span class="pi">:</span> <span class="s1">'</span><span class="s">/45'</span>
  <span class="s">action</span><span class="pi">:</span>
    <span class="s">service</span><span class="pi">:</span> <span class="s">light.turn_on</span>
    <span class="s">data</span><span class="pi">:</span>
      <span class="s">entity_id</span><span class="pi">:</span> <span class="s">light.flux_living_room_lamp</span>
      <span class="s">effect</span><span class="pi">:</span> <span class="s">random</span>
</code></pre>
</div>

<p>Will add a light with out the white mode:</p>

<div class="language-yaml highlighter-rouge"><pre class="highlight"><code>    <span class="s">192.168.1.10</span><span class="pi">:</span>
      <span class="s">name</span><span class="pi">:</span> <span class="s">NAME</span>
      <span class="s">mode</span><span class="pi">:</span> <span class="s2">"</span><span class="s">rgb"</span>
</code></pre>
</div>

<p>Will add a light with white mode (default). Changing the brightness will set the bulb in white mode:</p>

<div class="language-yaml highlighter-rouge"><pre class="highlight"><code>    <span class="s">192.168.1.10</span><span class="pi">:</span>
      <span class="s">name</span><span class="pi">:</span> <span class="s">NAME</span>
      <span class="s">mode</span><span class="pi">:</span> <span class="s2">"</span><span class="s">rgbw"</span>
</code></pre>
</div>

<p>Some devices such as the Ledenet RGBW controller use a slightly difference protocol for communicating the brightness to each color channel. If your device is only turning on or off but not changing color or brightness try adding the LEDENET protocol.</p>

<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="s">light</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">flux_led</span>
    <span class="s">devices</span><span class="pi">:</span>
      <span class="s">192.168.1.10</span><span class="pi">:</span>
        <span class="s">name</span><span class="pi">:</span> <span class="s">NAME</span>
        <span class="s">protocol</span><span class="pi">:</span> <span class="s1">'</span><span class="s">ledenet'</span>
</code></pre>
</div>


</article>


        </div>

        
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
  
  
    <section class="aside-module grid__item one-whole lap-one-half">
  <div class='edit-github'><a href='https://github.com/home-assistant/home-assistant.github.io/tree/current/source/_components/light.flux_led.markdown'>Edit this page on GitHub</a></div>
  <div class='brand-logo-container section'>
      <img src='/images/supported_brands/magic_light.png' />
  </div>
    <div class='section'>
    IoT class<sup><a href='/blog/2016/02/12/classifying-the-internet-of-things/#classifiers'><i class="icon-info-sign"></i></a></sup>: Local Polling
    </div>
    <div class='section'>
    Introduced in release: 0.25
    </div>
    <div class='section'>
      This is a platform for
      <a href='/components/light/'>the Lights component</a>.
    </div>
    <div class='section'>
    <h1 class="title delta">Category Light</h1>
    <ul class='divided'>
        <li>
            <a href='/components/light.wemo/'>Belkin WeMo Lights</a>
        </li>
        <li>
            <a href='/components/light.blinksticklight/'>Blinkstick</a>
        </li>
        <li>
            <a href='/components/light.enocean/'>EnOcean Light</a>
        </li>
        <li>
            Flux Led/MagicLight
        </li>
        <li>
            <a href='/components/light.homematic/'>Homematic Light</a>
        </li>
        <li>
            <a href='/components/light.hyperion/'>Hyperion</a>
        </li>
        <li>
            <a href='/components/light.isy994/'>ISY994 Light</a>
        </li>
        <li>
            <a href='/components/light.insteon_local/'>Insteon (Local) Light</a>
        </li>
        <li>
            <a href='/components/light.insteon_hub/'>Insteon Hub Light</a>
        </li>
        <li>
            <a href='/components/light.lifx/'>LIFX</a>
        </li>
        <li>
            <a href='/components/light.limitlessled/'>LimitlessLED</a>
        </li>
        <li>
            <a href='/components/light.litejet/'>LiteJet Light</a>
        </li>
        <li>
            <a href='/components/light.mqtt_json/'>MQTT JSON Light</a>
        </li>
        <li>
            <a href='/components/light.mqtt/'>MQTT Light</a>
        </li>
        <li>
            <a href='/components/light.mqtt_template/'>MQTT Template Light</a>
        </li>
        <li>
            <a href='/components/light.mysensors/'>MySensors Light</a>
        </li>
        <li>
            <a href='/components/light.osramlightify/'>Osram Lightify</a>
        </li>
        <li>
            <a href='/components/light.hue/'>Philips Hue</a>
        </li>
        <li>
            <a href='/components/light.qwikswitch/'>QwikSwitch Light</a>
        </li>
        <li>
            <a href='/components/light.rfxtrx/'>RFXtrx Light</a>
        </li>
        <li>
            <a href='/components/light.scsgate/'>SCSGate Light</a>
        </li>
        <li>
            <a href='/components/light.tellstick/'>TellStick Light</a>
        </li>
        <li>
            <a href='/components/light.tikteck/'>Tikteck</a>
        </li>
        <li>
            <a href='/components/light.vera/'>Vera Light</a>
        </li>
        <li>
            <a href='/components/light.wink/'>Wink Light</a>
        </li>
        <li>
            <a href='/components/light.x10/'>X10</a>
        </li>
        <li>
            <a href='/components/light.yeelight/'>Yeelight Wifi Bulb</a>
        </li>
        <li>
            <a href='/components/light.zwave/'>Z-Wave Light</a>
        </li>
        <li>
            <a href='/components/light.zengge/'>Zengge</a>
        </li>
        <li>
            <a href='/components/light.zigbee/'>ZigBee Light</a>
        </li>
    </ul>
    </div>
</section>
  
</div>
        </aside>
        
      </div>
    </div>

    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright">
  <a rel="me" href='https://twitter.com/home_assistant'><i class="icon-twitter"></i></a>
  <a rel="me" href='https://facebook.com/homeassistantio'><i class="icon-facebook"></i></a>
  <a rel="me" href='https://plus.google.com/110560654828510104551'><i class="icon-google-plus"></i></a>
  <a rel="me" href='https://github.com/home-assistant/home-assistant'><i class="icon-github"></i></a>

  <div class="credit">
    Contact us at <a href='mailto:hello@home-assistant.io'>hello@home-assistant.io</a>.<br>
    Website powered by <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>.<br />
    Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.
  </div>
</div>
    </div>
  </div>
</div>
    </footer>

    <script>
  var _gaq=[['_setAccount','UA-57927901-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
  </body>
</html>