---
title: "Installation"
description: "Install Home Assistant"
body_id: getting_started
show_title: true
toc: true
---

<div class="intro">
  <p class="lead">
    The first step to getting started with Home Assistant is to install it on a
    device. There are many ways to run it for all kinds of scenarios and all
    kinds of skill levels.
  </p>
</div>

<div class="installations">
  <span class="label easiest">Easiest</span>

  <h2>Plug and play with Home Assistant Green</h2>
  <p>
    The affordable Home Assistant Green is the easiest way to start using
    Home Assistant. It's plug-and-play and comes with Home Assistant already
    installed.
  </p>

  <div class="installations-card">
    <div class="material-card text">
      <div class="content-container">
        <div class="image">
          <img src="/images/installation/green.jpg" />
        </div>
        <div class="content">
          <h3>Home Assistant Green</h3>
          <p>The easiest way to get started with Home Assistant</p>
          <div class="columns">
            <div>
              <b>SKILLS REQUIRED</b>
              <ul>
                <li>Interest in setting up a smart home</li>
              </ul>
            </div>
            <div>
              <b>TOOLS REQUIRED</b>
              <ul>
                <li>Ethernet connection</li>
              </ul>
            </div>
          </div>
          <div class="buttons">
            <a href="/green" class="button accent"
              >Get Home Assistant Green {% include assets/chevron_right.html
              %}</a
            >
            <a
              href="https://green.home-assistant.io"
              class="button"
              target="_blank"
              >View tutorial {% include assets/chevron_right.html %}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <span class="label easy">Easy</span>

  <h2>DIY with Raspberry Pi</h2>
  <p>
    Raspberry Pi, a mini low-cost computer, is one of the most popular platforms
    for running Home Assistant. If you want to learn how to DIY, this is a good
    way to start and gain experience.
  </p>

  <div class="installations-card">
    <div class="material-card text">
      <div class="content-container">
        <div class="image">
          <img
            src="/images/installation/rpi.jpg"
          />
        </div>
        <div class="content">
          <h3>Install Home Assistant on Raspberry Pi</h3>
          <p>A low-cost DIY solution to get started with Home Assistant</p>
          <div class="columns">
            <div>
              <b>SKILLS REQUIRED</b>
              <ul>
                <li>Assembling a Raspberry Pi setup</li>
                <li>Flashing a Raspberry Pi</li>
              </ul>
            </div>
            <div>
              <b>TOOLS REQUIRED</b>
              <ul>
                <li>Raspberry Pi 3, 4 or 5 with power supply</li>
                <li>MicroSD card</li>
                <li>Ethernet connection</li>
              </ul>
            </div>
          </div>
          <div class="buttons">
            <a href="https://amzn.to/3UH6TcD" class="button accent"
              >Get Raspberry Pi {% include assets/chevron_right.html %}</a
            >
            <a href="/installation/raspberrypi" class="button"
              >View tutorial {% include assets/chevron_right.html %}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <span class="label intermediate">Intermediate</span>

  <h2>Extend with Home Assistant Yellow</h2>
  <p>
    The extensible Home Assistant Yellow comes with all the ingredients you need
    to help you build a robust smart home. All you need to do is to bring your
    own Raspberry Pi Compute Module.
  </p>

  <div class="installations-card">
    <div class="material-card text">
      <div class="content-container">
        <div class="image">
          <img src="/images/installation/yellow.jpg" />
        </div>
        <div class="content">
          <h3>Home Assistant Yellow</h3>
          <p>The powerful way to run Home Assistant</p>
          <div class="columns">
            <div>
              <b>SKILLS REQUIRED</b>
              <ul>
                <li>You're comfortable following instructions on:</li>
                <li>Installing a compute module and a heat sink</li>
                <li>Flashing a Raspberry Pi</li>
              </ul>
            </div>
            <div>
              <b>TOOLS REQUIRED</b>
              <ul>
                <li>Raspberry Pi Compute Module 4</li>
                <li>Ethernet connection</li>
                <li>USB storage drive</li>
                <li>Screwdriver</li>
              </ul>
            </div>
          </div>
          <div class="buttons">
            <a href="/yellow" class="button accent"
              >Get Home Assistant Yellow {% include assets/chevron_right.html
              %}</a
            >
            <a
              href="https://yellow.home-assistant.io"
              class="button"
              target="_blank"
              >View tutorial {% include assets/chevron_right.html %}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <span class="label hard">Hard</span>

  <h2>Install on other hardware</h2>
  <p>
    Home Assistant can be repurposed and installed on various hardware, such
    as an Odroid or a generic x86-64 machine. The Home Assistant Operating System
    allows you to install Home Assistant on these devices even if you have
    little to no Linux experience.
  </p>

  <div class="installations-card">
    <div class="material-card text">
      <div class="content-container">
        <div class="image">
          <img src="/images/installation/odroid.jpg" />
        </div>
        <div class="content">
          <h3>Install Home Assistant on Odroid devices</h3>
          <p>A more powerful alternative to Raspberry Pi</p>
          <div class="columns">
            <div>
              <b>SKILLS REQUIRED</b>
              <ul>
                <li>You're comfortable following instructions on:</li>
                <li>Writing boot images</li>
                <li>Installing an SD card or eMMC</li>
              </ul>
            </div>
            <div>
              <b>TOOLS REQUIRED</b>
              <ul>
                <li>An Odroid device</li>
                <li>MicroSD card or eMMC</li>
                <li>Ethernet connection</li>
              </ul>
            </div>
          </div>
          <div class="buttons">
            <a href="/installation/odroid" class="button"
              >View tutorial {% include assets/chevron_right.html %}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="installations-card">
    <div class="material-card text">
      <div class="content-container">
        <div class="image">
          <img src="/images/installation/x86.jpg" />
        </div>
        <div class="content">
          <h3>Install Home Assistant on x86-64 machines</h3>
          <p>Repurpose workstation hardware to run Home Assistant</p>
          <div class="columns">
            <div>
              <b>SKILLS REQUIRED</b>
              <ul>
                <li>You can use a command line and install a boot medium on your hardware</li>
                <li>You're comfortable configuring the BIOS based on instructions.</li>
              </ul>
            </div>
            <div>
              <b>TOOLS REQUIRED</b>
              <ul>
                <li>An x86-64 machine</li>
                <li>Storage hard drive</li>
                <li>USB stick</li>
                <li>Ethernet connection</li>
              </ul>
            </div>
          </div>
          <div class="buttons">
            <a href="/installation/generic-x86-64" class="button"
              >View tutorial {% include assets/chevron_right.html %}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <span class="label expert">Expert</span>

  <h2>Advanced installation methods</h2>
  <p>
    Home Assistant offers four different installation methods. We recommend
    using Home Assistant Operating System. Other methods are available for
    experienced users for their specific needs, for example, running Home
    Assistant in a virtualized environment (e.g. Proxmox), or on top of an
    existing operating system (e.g. Windows, macOS, Linux):
  </p>
  <ul>
    <li>
      <b>Home Assistant Container:</b> Standalone container-based installation
      of Home Assistant Core (e.g. Docker).
    </li>
    <li>
      <b>Home Assistant Supervised:</b> Manual installation of the Supervisor.
    </li>
    <li>
      <b>Home Assistant Core:</b> Manual installation using Python virtual
      environment.
    </li>
  </ul>
  <p>
    Note that while these installation methods may provide some
    features for advanced users, they may also have some major limitations.
    For example, add-ons and other important Home Assistant features may not be available.
  </p>
  <div class="compare-installations">
    <table>
      <th></th>
      <th>HA OS<sup>1</sup></th>
      <th>Container<sup>1</sup></th>
      <th>Core<sup>1</sup></th>
      <th>Supervised<sup>1</sup></th>
      <tr>
        <td><a href="/docs/automation" target="_blank">Automations</a></td>
        <td>{% icon "openmoji:check-mark" %}</td>
        <td>{% icon "openmoji:check-mark" %}</td>
        <td>{% icon "openmoji:check-mark" %}</td>
        <td>{% icon "openmoji:check-mark" %}</td>
      </tr>
      <tr>
        <td><a href="/dashboards" target="_blank">Dashboards</a></td>
        <td>{% icon "openmoji:check-mark" %}</td>
        <td>{% icon "openmoji:check-mark" %}</td>
        <td>{% icon "openmoji:check-mark" %}</td>
        <td>{% icon "openmoji:check-mark" %}</td>
      </tr>
      <tr>
        <td><a href="/integrations" target="_blank">Integrations</a></td>
        <td>{% icon "openmoji:check-mark" %}</td>
        <td>{% icon "openmoji:check-mark" %}</td>
        <td>{% icon "openmoji:check-mark" %}</td>
        <td>{% icon "openmoji:check-mark" %}</td>
      </tr>
      <tr>
        <td><a href="/addons" target="_blank">Add-ons</a></td>
        <td>{% icon "openmoji:check-mark" %}</td>
        <td>{% icon "openmoji:cross-mark" %}</td>
        <td>{% icon "openmoji:cross-mark" %}</td>
        <td>{% icon "openmoji:check-mark" %}</td>
      </tr>
      <tr>
        <td><a href="/docs/blueprint" target="_blank">Blueprints</a></td>
        <td>{% icon "openmoji:check-mark" %}</td>
        <td>{% icon "openmoji:check-mark" %}</td>
        <td>{% icon "openmoji:check-mark" %}</td>
        <td>{% icon "openmoji:check-mark" %}</td>
      </tr>
      <tr>
        <td>
          One-click updates
        </td>
        <td>{% icon "openmoji:check-mark" %}</td>
        <td>{% icon "openmoji:cross-mark" %}</td>
        <td>{% icon "openmoji:cross-mark" %}</td>
        <td>{% icon "noto-v1:check-mark" %}<sup>2</sup></td>
      </tr>
      <tr>
        <td><a href="/common-tasks/general/#backups" target="_blank">Backups</a></td>
        <td>{% icon "openmoji:check-mark" %}</td>
        <td>{% icon "openmoji:check-mark" %}</td>
        <td>{% icon "openmoji:check-mark" %}</td>
        <td>{% icon "openmoji:check-mark" %}</td>
      </tr>
    </table>
  </div>

  <sub
    >1: Names are abbreviated. The full names of the installation methods are:
    <ul>
      <li style="margin-top: 0.4em">Home Assistant Operating System</li>
      <li style="margin-top: 15px">Home Assistant Container</li>
      <li style="margin-top: 15px">Home Assistant Core</li>
      <li style="margin-top: 15px">Home Assistant Supervised</li>
    </ul></sub
  >
  <p>
    <sub
      >2: Home Assistant Supervised requires users to maintain their own operating system.</sub
    >
  </p>
  <p></p>
  <div class="installations-card">
    <div class="material-card text">
      <div class="content-container">
        <div class="image">
          <img
            src="/images/installation/rpi.jpg"
          />
        </div>
        <div class="content">
          <h3>Install Home Assistant variants on Raspberry Pi</h3>
          <p>A low-cost DIY solution to get started with Home Assistant</p>
          <div class="columns">
            <div>
              <b>SKILLS REQUIRED</b>
              <ul>
                <li>Assembling a Raspberry Pi setup</li>
                <li>Flashing a Raspberry Pi</li>
                <li>Advanced knowledge of Linux</li>
                <li>Using Linux command line</li>
              </ul>
            </div>
            <div>
              <b>TOOLS REQUIRED</b>
              <ul>
                <li>Raspberry Pi 3, 4 or 5 with power supply</li>
                <li>MicroSD card</li>
                <li>Ethernet connection</li>
              </ul>
            </div>
          </div>
          <div class="buttons">
            <a href="https://amzn.to/3UH6TcD" class="button accent"
              >Get Raspberry Pi {% include assets/chevron_right.html %}</a
            >
            <a href="/installation/raspberrypi-other" class="button"
              >View tutorial {% include assets/chevron_right.html %}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="installations-card">
    <div class="material-card text">
      <div class="content-container">
        <div class="icon">
          <img src="/images/installation/linux.svg" />
        </div>
        <div class="content">
          <h3>Install Home Assistant on Linux</h3>
          <p>Use Home Assistant OS, Container, Supervised, or Core</p>
          <div class="columns">
            <div>
              <b>SKILLS REQUIRED</b>
              <ul>
                <li>Advanced knowledge of Linux</li>
                <li>Using Linux command line</li>
                <li>Using Docker Compose (for HA Container)</li>
              </ul>
            </div>
            <div>
              <b>TOOLS REQUIRED</b>
              <ul>
                <li>Machine with Linux installed</li>
              </ul>
            </div>
          </div>
          <div class="buttons">
            <a href="/installation/linux" class="button"
              >View tutorial {% include assets/chevron_right.html %}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="installations-card">
    <div class="material-card text">
      <div class="content-container">
        <div class="icon">
            <img src="/images/installation/macos.svg" />
        </div>
        <div class="content">
          <h3>Install Home Assistant on macOS</h3>
          <p>Use Home Assistant OS on a VM, or install Core</p>
          <div class="columns">
            <div>
              <b>SKILLS REQUIRED</b>
              <ul>
                <li>Advanced knowledge of macOS</li>
                <li>Using macOS command line</li>
              </ul>
            </div>
            <div>
              <b>TOOLS REQUIRED</b>
              <ul>
                <li>Machine with macOS installed</li>
              </ul>
            </div>
          </div>
          <div class="buttons">
            <a href="/installation/macos" class="button"
              >View tutorial {% include assets/chevron_right.html %}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="installations-card">
    <div class="material-card text">
      <div class="content-container">
        <div class="icon">
            <img src="/images/installation/windows.svg" />
        </div>
        <div class="content">
          <h3>Install Home Assistant on Windows</h3>
          <p>Use Home Assistant OS on a VM, or Core on WSL</p>
          <div class="columns">
            <div>
              <b>SKILLS REQUIRED</b>
              <ul>
                 <li>Know how to find an IP address on your router</li>
                <li>Advanced knowledge of Windows</li>
                <li>Using Linux command line</li>
              </ul>
            </div>
            <div>
              <b>TOOLS REQUIRED</b>
              <ul>
                <li>Machine with Windows installed</li>
                <li>VirtualBox (for VM)</li>
                <li>Windows Subsystem for Linux (for Core)</li>
              </ul>
            </div>
          </div>
          <div class="buttons">
            <a href="/installation/windows" class="button"
              >View tutorial {% include assets/chevron_right.html %}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="installations-card">
    <div class="material-card text">
      <div class="content-container">
        <div class="icon">
        </div>
        <div class="content">
          <h3>Install Home Assistant on other systems</h3>
          <p>Use Home Assistant on virtual machines, NAS, and more</p>
          <div class="columns">
            <div>
              <b>SKILLS REQUIRED</b>
              <ul>
                <li>Know how to find an IP address on your router</li>
                <li>Advanced knowledge of Windows</li>
                <li>Using Linux command line</li>
              </ul>
            </div>
            <div>
              <b>TOOLS REQUIRED</b>
              <ul>
                <li>Machine with Windows installed</li>
                <li>VirtualBox (for VM)</li>
                <li>Windows Subsystem for Linux (for Core)</li>
              </ul>
            </div>
          </div>
          <div class="buttons">
            <a href="/installation/alternative" class="button"
              >View tutorial {% include assets/chevron_right.html %}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
