<section class="aside-module grid__item one-whole lap-one-half">
  <h1 class="title delta">About Home Assistant</h1>
  <ul class="divided">
    <li>
      Home Assistant is an open-source home automation platform running on Python 3. Track and control all devices at home and automate control.
    </li>
    <li><a href='/getting-started/'>Get started with Home Assistant</a></li>
    <li><a href='https://demo.home-assistant.io'>Try the online demo</a></li>
    <li><a class="twitter-follow-button" href="https://twitter.com/Home_Assistant">Follow Home Assistant on Twitter</a></li>
    <li><div class="fb-like" data-href="https://www.facebook.com/homeassistantio/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div></li>
  </ul>
</section>
<div id="fb-root"></div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.async=true;js.src='//platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return;}js=d.createElement(s);js.id=id;js.async=true;js.src="//connect.facebook.net/en_US/all.js#appId={{ site.social.facebook.app_id }}&xfbml=1";fjs.parentNode.insertBefore(js,fjs);}(document,'script','facebook-jssdk'));</script>
