<section class="aside-module grid__item one-whole lap-one-half">
  <h1 class="title delta">About Home Assistant</h1>
  <ul class="divided">
    <li>
      Home Assistant is an open-source home automation platform running on Python 3. Track and control all devices at home and automate control.
    </li>
    <li><a href='/getting-started/'>Get started with Home Assistant</a></li>
    <li><a href='/demo/'>Open the online demo</a></li>
    <li><a href='https://github.com/balloob/home-assistant/'>Browse code on GitHub</a></li>
  </ul>
</section>
