{%- assign domains = site.actions | map: 'domain' | uniq | sort -%}
<section class="aside-module grid__item one-whole lap-one-half">
  <div class='section'>
    <h2 class="h1 title epsilon">{% icon "mdi:puzzle-outline" %} Integrations</h2>
    <ul class='divided'>
      {%- for domain_key in domains -%}
        {%- assign domain_data = site.data.action_domains | where: 'key', domain_key | first -%}
        {%- if domain_data -%}
          {%- assign domain_label = domain_data.label -%}
          {%- assign domain_icon = domain_data.icon -%}
        {%- else -%}
          {%- assign integration = site.integrations | where: 'ha_domain', domain_key | first -%}
          {%- assign domain_label = integration.title | default: domain_key -%}
          {%- assign domain_icon = 'mdi:puzzle-outline' -%}
        {%- endif -%}
        <li{% if domain_key == page.domain %} class="active"{% endif %}>
          <a href='/actions/#{{ domain_key }}'><iconify-icon inline icon='{{ domain_icon }}'></iconify-icon> {{ domain_label }}</a>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</section>
