<section class="aside-module grid__item one-whole lap-one-half">
  <div class="section">
    <h1 class="title epsilon">About Home Assistant</h1>
    <ul class="divided sidebar-menu">
      <li>
        The Home Assistant Cloud is a cloud-based service provided to supporters of the Home Assistant project.
      </li>
      <li>
        {% active_link /cloud/ Introduction %}
      </li>
      <li>
        {% active_link /cloud/alexa/ Amazon Alexa %}
      </li>
      <li>
        {% active_link /cloud/google_assistant/ Google Assistant %}
      </li>
      <li>
        {% active_link /cloud/troubleshooting/ Troubleshooting %}
      </li>
    </ul>
  </div>
</section>
