<section class="aside-module grid__item one-whole lap-one-half">
  <div class='section'>
    <h1 class="title epsilon">Common tasks</h1>
    <ul class='divided sidebar-menu'>
      <li>{% active_link /common-tasks/general/ Installation independent %}</li>
      <li>{% active_link /common-tasks/os/ Home Assistant Operating System %}</li>
      <li>{% active_link /common-tasks/container/ Home Assistant Container %}</li>
      <li>{% active_link /common-tasks/core/ Home Assistant Core %}</li>
      <li>{% active_link /common-tasks/supervised/ Home Assistant Supervised %}</li>
    </ul>
  </div>
</section>
