<section class="aside-module grid__item one-whole lap-one-half">

  <div class='brand-logo-container section'>
    {%- if page.logo -%}
      <img src='/images/supported_brands/{{ page.logo }}' />
    {%- else -%}
      <img src='https://brands.home-assistant.io/_/{{ page.ha_domain }}/logo.png' srcset='https://brands.home-assistant.io/_/{{ page.ha_domain }}/logo@2x.png 2x' />
    {%- endif -%}

    {%- if page.ha_config_flow and page.ha_domain -%}
      {% my config_flow_start badge domain=page.ha_domain %}
    {%- endif -%}
  </div>

  {%- if page.ha_domain -%}
    <div class="section">
      <kb-alert-link integration="{{ page.ha_domain }}"></kb-alert-link>
    </div>
  {%- endif -%}

  <div class='section'>
    The {{ page.name | default: page.title }} integration was introduced in Home Assistant {{ page.ha_release | default: "unknown" }},
    and it's used by <a title="Open analytics.home-assistant.io" href="https://analytics.home-assistant.io" target="_blank" rel="noopener">
    {{ 100.0 | times: site.data.analytics_data.integrations[page.ha_domain] | divided_by: site.data.analytics_data.reports_integrations | round: 1 | remove: ".0" }}%</a> of the active installations.
    Its IoT class is <a href='/blog/2016/02/12/classifying-the-internet-of-things/#classifiers'>{{ page.ha_iot_class | default: "unknown" }}</a>

    {%- if page.ha_quality_scale %}
      and scores {{page.ha_quality_scale}} on our <a href='/docs/quality_scale/'>quality scale</a>
    {%- endif -%}.

    {% if page.ha_domain %}
    You can find the source for this integration on <a href='https://github.com/home-assistant/core/tree/dev/homeassistant/components/{{ page.ha_domain }}'>GitHub</a>.
    {%- endif -%}
  </div>

  {%- if page.ha_category.first -%}
    <div class='section'>
    <h1 class="title delta">Categories</h1>
    <ul class='divided'>
    {%- for category in page.ha_category -%}
      <li>
        <a href='/integrations/#{{ category | slugify }}'>{{ category }}</a>
      </li>
    {%- endfor -%}
    </ul>
    </div>
  {%- endif -%}

</section>

<script src="https://alerts.home-assistant.io/ce-alert-link.js"></script>
