<section class="aside-module grid__item one-whole lap-one-half">

  <div class='brand-logo-container section'>
    {%- if page.logo -%}
      <img src='/images/supported_brands/{{ page.logo }}' />
    {%- else -%}
      <img src='https://brands.home-assistant.io/_/{{ page.ha_domain }}/logo.png' srcset='https://brands.home-assistant.io/_/{{ page.ha_domain }}/logo@2x.png 2x' />
    {%- endif -%}

    {%- if page.ha_config_flow and page.ha_domain -%}
      {% my config_flow_start badge domain=page.ha_domain %}
    {%- endif -%}
  </div>

  {%- if page.ha_domain -%}
    <div class="section">
      <kb-alert-link integration="{{ page.ha_domain }}"></kb-alert-link>
    </div>
  {%- endif -%}

  {%- if page.ha_iot_class -%}
    <div class='section'>
      IoT class<sup><a href='/blog/2016/02/12/classifying-the-internet-of-things/#classifiers'><i class="icon-info-sign"></i></a></sup>: {{ page.ha_iot_class }}
    </div>
  {%- endif -%}

  {%- if page.ha_quality_scale -%}
    <div class='section'>
      Quality Scale: <a href='/docs/quality_scale/'>
        {%- if page.ha_quality_scale == 'platinum' -%}
          🏆 (platinum)
        {%- elsif page.ha_quality_scale == 'gold' -%}
          🥇 (gold)
        {%- elsif page.ha_quality_scale == 'silver' -%}
          🥈 (silver)
        {%- elsif page.ha_quality_scale == 'internal' -%}
          🏠 (internal)
        {%- endif -%}
      </a>
    </div>
  {%- endif -%}

  {%- if page.ha_release -%}
    <div class='section'>
      Introduced in release: {{ page.ha_release }}
    </div>
  {%- endif -%}

  {%- if page.ha_domain -%}
    <div class='section'>
      Source: <a href='https://github.com/home-assistant/core/tree/dev/homeassistant/components/{{ page.ha_domain }}'>View on GitHub</a>
    </div>
  {%- endif -%}

  {%- if page.ha_category.first -%}
    <div class='section'>
    <h1 class="title delta">Categories</h1>
    <ul class='divided'>
    {%- for category in page.ha_category -%}
      <li>
        <a href='/integrations/#{{ category | slugify }}'>{{ category }}</a>
      </li>
    {%- endfor -%}
    </ul>
    </div>
  {%- endif -%}

</section>

<script src="https://alerts.home-assistant.io/ce-alert-link.js"></script>
