<section class="aside-module grid__item one-whole lap-one-half">
  <div class="section">
    <h1 class="title epsilon">Details</h1>
    <ul class="divided sidebar-menu">
      <li>
        <b>When</b>: Sunday, December 13, 2020<br>
        <b>Time</b>: <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg=Home+Assistant+Conference&iso=20201213T19&p1=16&ah=4" target="_blank">10:00 PST / 19:00 CET</a><br>
        <b>Where</b>: online<br>
      </li>
    </ul>
    <!--
    <a class="btn btn--full" href="https://hopin.to/events/home-assistant-conference">Get your ticket</a>
    -->
  </div>

  <div class="section">
    <h1 class="title epsilon">Contact</h1>
    <ul class="divided sidebar-menu">
      <li>
        If you want to collaborate with us, contact us at
        <a href="mailto:conference@home-assistant.io">
          conference@home-assistant.io
        </a>
      </li>
    </ul>
  </div>

  <div class="section">
    <h1 class="title epsilon">Sponsors</h1>
    <ul class="divided sidebar-menu">
      <li>
        <a href="https://www.nabucasa.com">
          <img alt='Logo Nabu Casa' src='/images/sponsors/nabu_casa.svg'>
        </a>
      </li>
    </ul>
  </div>

</section>
