<section class="aside-module grid__item one-whole lap-one-half">
  <div class="section">
    <h1 class="title delta">Details</h1>
    <ul class="divided sidebar-menu">
      <li>
        The event will take place on Sunday, December 13, 2020. Exact times are not set yet, but we're aiming for morning in North and South America, evening in Africa and Europe and midnight in Asia and Oceania.
      </li>
      <li>
        This is an online event that you will be able to watch from your home.
      </li>
      <li>
        We are aiming to make the conference free to attend. All content will be available to watch online after the conference.
      </li>
    </ul>
  </div>

  <div class="section">
    <h1 class="title delta">Sponsors</h1>
    <ul class="divided sidebar-menu">
      <li>
        <a href="https://www.nabucasa.com">
          <img alt='Logo Nabu Casa' src='/images/sponsors/nabu_casa.svg'>
        </a>
      </li>
    </ul>
  </div>

</section>
