<section class="aside-module grid__item one-whole lap-one-half">
  {% include edit_github.html %}

  <div class='section'>
    <h1 class="title delta">Development Guide</h1>
    <ul class='divided sidebar-menu'>
      <li>
        {% active_link /developers/ Introduction %}
        <ul>
          <li>{% active_link /developers/architecture/ Architecture %}</li>
          <li>{% active_link /developers/architecture_components/ Components %}</li>
          <li>{% active_link /developers/development_environment/ Setup Dev Environment %}</li>
        </ul>
      </li>
      <li>
        Frontend Development
        <ul>
          <li>{% active_link /developers/frontend/ Setup Frontend Environment %}</li>
          <li>{% active_link /developers/frontend_add_card/ Add State Card %}</li>
          <li>{% active_link /developers/frontend_add_more_info/ Add More Info Dialog %}</li>
        </ul>
      </li>
      <li>
        Extending Home Assistant
        <ul>
          <li>{% active_link /developers/creating_components/ Creating Components %}</li>
          <li>{% active_link /developers/add_new_platform/ Adding Platform Support %}</li>
          <li>{% active_link /developers/platform_discovery/ Platform Discovery %}</li>
        </ul>
      </li>
      <li>
        API
        <ul>
          <li>{% active_link /developers/rest_api/ RESTful API %}</li>
          <li>{% active_link /developers/python_api/ Python API %}</li>
          <li>{% active_link /developers/server_sent_events/ Server-sent events %}</li>
        </ul>
      </li>
      <li>{% active_link /developers/multiple_instances/ Multiple Instances %}</li>
      <li>{% active_link /developers/website/ Home-Assitant.io %}</li>
      <li>{% active_link /developers/credits/ Credits %}</li>
    </ul>
  </div>
</section>
