<section class="aside-module grid__item one-whole lap-one-half">
  {% include edit_github.html %}

  <div class='section'>
    <h1 class="title delta">Development Guide</h1>
    <ul class='divided sidebar-menu'>
      <li>
        {% active_link /developers/ Introduction %}
        <ul>
          <li>{% active_link /developers/architecture/ Architecture %}</li>
          <li>{% active_link /developers/architecture_components/ Components %}</li>
        </ul>
      </li>
      <li>
        {% active_link /developers/development/ Starting with Development %}
        <ul>
          <li>{% active_link /developers/development_environment/ Setting up Environment %}</li>
          <li>{% active_link /developers/development_submitting/ Submit your Work %}</li>
          <li>{% active_link /developers/development_checklist/ Checklist %}</li>
          <li>{% active_link /developers/development_guidelines/ Style guidelines %}</li>
          <li>{% active_link /developers/development_testing/ Testing %}</li>
          <li>{% active_link /developers/development_catching_up/ Catching up with Reality %}</li>
          <li>{% active_link /developers/development_validation/ Validation %}</li>
        </ul>
      </li>
      <li>
        {% active_link /developers/development_101/ Development 101 %}
        <ul>
          <li>{% active_link /developers/development_hass_object/ Hass object %}</li>
          <li>{% active_link /developers/development_events/ Events %}</li>
          <li>{% active_link /developers/development_states/ States %}</li>
          <li>{% active_link /developers/development_services/ Services %}</li>
          <li>{% active_link /developers/development_config/ Config %}</li>
        </ul>
      </li>
      <li>
        {% active_link /developers/add_new_platform/ Creating a new platform (to support a new device) %}
        <ul>
          <li>{% active_link /developers/code_review_platform/ Checklist creating a platform %}</li>
          <li>{% active_link /developers/platform_example_sensor/ Example sensor platform  %}</li>
          <li>{% active_link /developers/platform_example_light/ Example light platform %}</li>
        </ul>
      </li>
      <li>
        {% active_link /developers/creating_components/ Adding a new component %}
        <ul>
          <li>{% active_link /developers/code_review_component/ Checklist creating a component %}</li>
          <li>{% active_link /developers/component_loading/ Loading components %}</li>
          <li>{% active_link /developers/component_deps_and_reqs/ Requirements & Dependencies %}</li>
          <li>{% active_link /developers/component_events/ Handling events %}</li>
          <li>{% active_link /developers/component_states/ States %}</li>
          <li>{% active_link /developers/component_visibility/ Visibility %}</li>
          <li>{% active_link /developers/component_generic_discovery/ Loading Platforms %}</li>
          <li>{% active_link /developers/component_discovery/ Component Discovery %}</li>
        </ul>
      </li>
      <li>
        {% active_link /developers/intent/ Intents (handling voice responses) %}
        <ul>
          <li>{% active_link /developers/intent/firing/ Firing intents %}</li>
          <li>{% active_link /developers/intent/handling/ Handling intents %}</li>
          <li>{% active_link /developers/intent/conversation/ Registering sentences %}</li>
        </ul>
      </li>
      <li>
        {% active_link /developers/asyncio/ Asynchronous Programming %}
        <ul>
          <li>{% active_link /developers/asyncio_101/ Introduction to asyncio %}</li>
          <li>{% active_link /developers/asyncio_categorizing_functions/ Categorizing Functions %}</li>
          <li>{% active_link /developers/asyncio_working_with_async/ Working with Async %}</li>
          <li>{% active_link /developers/asyncio_misc/ Miscellaneous %}</li>
        </ul>
      </li>
      <li>
        {% active_link /developers/frontend/ Frontend Development %}
        <ul>
          <li>{% active_link /developers/frontend_add_card/ Add State Card %}</li>
          <li>{% active_link /developers/frontend_add_more_info/ Add More Info Dialog %}</li>
          <li>{% active_link /developers/frontend_creating_custom_panels/ Add Custom Panels %}</li>
          <li>{% active_link /developers/frontend_creating_custom_ui/ Add Custom UI %}</li>
          <li>{% active_link /developers/frontend_translation/ Translation %}</li>
        </ul>
      </li>
      <li>
        {% active_link /developers/hassio/architecture/ Hass.io architecture %}
        <ul>
          <li>{% active_link /developers/hassio/debugging/ Debugging Hass.io %}</li>
        </ul>
      </li>
      <li>
        {% active_link /developers/hassio/addon_development/ Hass.io Add-on Development %}
        <ul>
          <li>{% active_link /developers/hassio/addon_tutorial/ Tutorial: Making your first add-on %}</li>
          <li>{% active_link /developers/hassio/addon_config/ Configuration %}</li>
          <li>{% active_link /developers/hassio/addon_communication/ Communication %}</li>
          <li>{% active_link /developers/hassio/addon_testing/ Local Testing %}</li>
          <li>{% active_link /developers/hassio/addon_publishing/ Publishing %}</li>
          <li>{% active_link /developers/hassio/addon_repository/ Repositories %}</li>
        </ul>
      </li>
      <li>
        {% active_link /developers/api/ API %}
        <ul>
          <li>{% active_link https://dev-docs.home-assistant.io/en/dev/ Python API %}</li>
          <li>{% active_link /developers/websocket_api/ Websocket API %}</li>
          <li>{% active_link /developers/rest_api/ REST API %}</li>
          <li>{% active_link /developers/python_api/ Python REST API %}</li>
          <li>{% active_link /developers/server_sent_events/ Server-sent events %}</li>
        </ul>
      </li>
      <li>
        {% active_link /developers/documentation/ Website/Documentation %}
        <ul>
          <li>{% active_link /developers/documentation/standards/ Standards %}</li>
          <li>{% active_link /developers/documentation/create_page/ Create a new page %}</li>
        </ul>
      </li>
      <li>{% active_link /developers/helpers/ Online helpers %}</li>
      <li>{% active_link /developers/releasing/ Releasing %}</li>
      <li>{% active_link /developers/maintenance/ Maintenance %}</li>
      <li>
        Governance
        <ul>
          <li>{% active_link /developers/cla/ Contributor License Agreement %}</li>
          <li>{% active_link /privacy/ Privacy Policy %}</li>
          <li>{% active_link /tos/ Terms of Service %}</li>
          <li>{% active_link /code_of_conduct/ Code of Conduct %}</li>
          <li>{% active_link /developers/credits/ Credits %}</li>
          <li>{% active_link /developers/license/ License %}</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
