<section class="aside-module grid__item one-whole lap-one-half">
  <div class="section">
    <h1 class="title delta">Topics</h1>
    <ul class="divided sidebar-menu">
      <li>
        <b>{% active_link /faq/ FAQ %}</b>
        |
        <b>{% active_link /docs/glossary/ Glossary %}</b>
      </li>
      <li>
        <b>{% active_link /getting-started Getting Started %}</b>
        <ul>
          <li>{% active_link /installation Installation %}</li>
          <li>{% active_link /common-tasks/os/ Common Tasks %}</li>
          <li>
            {% active_link /docs/troubleshooting/ Troubleshooting
            %}
          </li>
        </ul>
      </li>
      <li>
        <b>{% active_link /docs/configuration/ Configuration %}</b>
        <ul>
          <li>{% active_link /docs/configuration/yaml/ YAML %}</li>
          <li>
            {% active_link /docs/configuration/basic/ Basic information %}
          </li>
          <li>
            {% active_link /docs/configuration/devices/ Setting up devices %}
          </li>
          <li>
            {% active_link /docs/configuration/customizing-devices/ Customizing
            entities %}
          </li>
          <li>
            {% active_link /docs/configuration/troubleshooting/ Troubleshooting
            %}
          </li>
          <li>
            {% active_link /docs/configuration/securing/ Security Check Points
            %}
          </li>
        </ul>
      </li>
      <li>
        <b>Advanced Configuration</b>
        <ul>
          <li>{% active_link /docs/configuration/remote/ Remote access %}</li>
          <li>{% active_link /docs/configuration/packages/ Packages %}</li>
          <li>
            {% active_link /docs/configuration/splitting_configuration/
            Splitting up the configuration %}
          </li>
          <li>
            {% active_link /docs/configuration/secrets/ Storing Secrets %}
          </li>
          <li>{% active_link /docs/configuration/templating/ Templating %}</li>
          <li>
            {% active_link /docs/configuration/platform_options/ Entity
            component platform options %}
          </li>
        </ul>
      </li>
      <li>
        <b>{% active_link /docs/authentication/ Authentication %}</b>
        <ul>
          <li>
            {% active_link /docs/authentication/providers/ Auth Providers %}
          </li>
          <li>
            {% active_link /docs/authentication/multi-factor-auth/ Multi Factor
            Auth %}
          </li>
        </ul>
      </li>
      <li>
        <b>Core objects</b>
        <ul>
          <li>{% active_link /docs/configuration/events/ Events %}</li>
          <li>
            {% active_link /docs/configuration/state_object/ State Objects %}
          </li>
        </ul>
      </li>
      <li>
        <b>{% active_link /docs/automation/ Automation %}</b>
        <ul>
          <li>{% active_link /docs/automation/using_blueprints/ Using Automation Blueprints %}</li>
          <li>{% active_link /docs/automation/basics/ Automation Basics %}</li>
          <li>{% active_link /docs/automation/editor/ Editor %}</li>
          <li>{% active_link /docs/automation/trigger/ Triggers %}</li>
          <li>{% active_link /docs/automation/condition/ Conditions %}</li>
          <li>{% active_link /docs/automation/action/ Actions %}</li>
          <li>{% active_link /docs/automation/modes/ Run Modes %}</li>
          <li>{% active_link /docs/automation/services/ Services %}</li>
          <li>{% active_link /docs/automation/templating/ Templates %}</li>
          <li>{% active_link /docs/automation/yaml/ YAML %}</li>
          <li>
            {% active_link /docs/automation/troubleshooting/ Troubleshooting %}
          </li>
        </ul>
      </li>
      <li>
        <b>{% active_link /docs/blueprint/ Blueprints %}</b>
        <ul>
          <li>{% active_link /docs/blueprint/tutorial/ Tutorial %}</li>
          <li>{% active_link /docs/blueprint/schema/ Schema %}</li>
          <li>{% active_link /docs/blueprint/selectors/ Selectors %}</li>
        </ul>
      </li>
      <li>
        <b>{% active_link /docs/frontend/ Frontend %}</b>
        <ul>
          <li>
            {% active_link /docs/frontend/browsers/ Browser Compatibility List
            %}
          </li>
          <li>{% active_link /lovelace Lovelace UI %}</li>
        </ul>
      </li>
      <li>
        <b>{% active_link /docs/backend/ Backend %}</b>
        <ul>
          <li>{% active_link /docs/backend/database/ Database %}</li>
        </ul>
      </li>
      <li>
        <b>{% active_link /docs/scripts/ Scripts %}</b>
        <ul>
          <li>{% active_link /docs/scripts/service-calls/ Service Calls %}</li>
          <li>{% active_link /docs/scripts/conditions/ Conditions %}</li>
          <li>{% active_link /docs/scripts/editor/ Editor %}</li>
        </ul>
      </li>
      <li>
        <b>{% active_link /docs/scene/ Scenes %}</b>
        <ul>
          <li>{% active_link /docs/scene/editor/ Editor %}</li>
        </ul>
      </li>
      <li>
        <b>{% active_link /docs/tools/ Tools and Helpers %}</b>
        <ul>
          <li>{% active_link /docs/tools/dev-tools/ Developer Tools %}</li>
          <li>{% active_link /docs/tools/quick-bar/ Quick Bar %}</li>
          <li>{% active_link /docs/tools/hass/ hass %}</li>
          <li>{% active_link /docs/tools/check_config/ check_config %}</li>
        </ul>
      </li>
      <li>
        <b>{% active_link /docs/z-wave/ Z-Wave %}</b>
        <ul>
          <li>
            {% active_link /docs/z-wave/installation/ Configuring the Z-Wave
            component %}
          </li>
          <li>{% active_link /docs/z-wave/adding/ Adding devices %}</li>
          <li>
            {% active_link /docs/z-wave/control-panel/ The Z-Wave control panel
            %}
          </li>
          <li>{% active_link /docs/z-wave/controllers/ Controllers %}</li>
          <li>
            {% active_link /docs/z-wave/devices/ Devices %}
            and
            {% active_link
            /docs/z-wave/entities/ Entities %}
          </li>
          <li>
            {% active_link /docs/z-wave/query-stage/ Query Stages %}
            for devices
          </li>
          <li>
            {% active_link /docs/z-wave/device-specific/ Device Specific %}
            configuration
          </li>
          <li>
            {% active_link /docs/z-wave/events/ Events %}
            and
            {% active_link
            /docs/z-wave/services/ Services %}
          </li>
        </ul>
      </li>
      <li>
        <b>{% active_link /docs/mqtt/ MQTT %}</b>
        <ul>
          <li>{% active_link /docs/mqtt/broker/ Broker %}</li>
          <li>{% active_link /docs/mqtt/certificate/ Certificate %}</li>
          <li>{% active_link /docs/mqtt/discovery/ Discovery %}</li>
          <li>{% active_link /docs/mqtt/service/ Publish service %}</li>
          <li>
            {% active_link /docs/mqtt/birth_will/ Birth and last will messages
            %}
          </li>
          <li>{% active_link /docs/mqtt/testing/ Testing your setup %}</li>
          <li>{% active_link /docs/mqtt/logging/ Logging %}</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
