<section class="aside-module grid__item one-whole lap-one-half">

  <div class="section">
    <h1 class="title delta">iOS Guide</h1>
    <ul class="divided sidebar-menu">
      <li>
        {% active_link /ecosystem/ios/ General %}
        {% comment %}
        <ul>
          <li>{% active_link /ecosystem/ios/requirements/ Requirements %}</li>
          <li>{% active_link /ecosystem/ios/getting_started/ Getting Started %}</li>
          <li>{% active_link /ecosystem/ios/features/ Features %}</li>
          <li>{% active_link /ecosystem/ios/devices_file/ ios.conf %}</li>
        </ul>
        {% endcomment %}
      </li>
      <li>
        {% active_link /ecosystem/ios/notifications/ Push Notifications %}
        <ul>
          <li>{% active_link /ecosystem/ios/notifications/basic/ Basic notifications %}</li>
          <li>Advanced notifications</li>
          <ul>
            <li>{% active_link /ecosystem/ios/notifications/attachments/ Attachments %}</li>
            <li>{% active_link /ecosystem/ios/notifications/content_extensions/ Dynamic content %}</li>
            <li>{% active_link /ecosystem/ios/notifications/actions/ Actionable notifications %}</li>
            <li>{% active_link /ecosystem/ios/notifications/requesting_location_updates/ Requesting location updates %}</li>
          </ul>
          <li>{% active_link /ecosystem/ios/notifications/examples/ Examples %}</li>
          <li>{% active_link /ecosystem/ios/notifications/sounds/ Sounds %}</li>
          <li>{% active_link /ecosystem/ios/notifications/architecture/ Architecture %}</li>
          <li>{% active_link /ecosystem/ios/notifications/privacy_security_rate_limits/ Privacy, rate limiting and security %}</li>
        </ul>
      </li>
      <li>{% active_link /ecosystem/ios/location/ Location Tracking %}</li>
      {% comment %}<li>{% active_link /ecosystem/ios/sensor/ Battery Sensors %}</li>{% endcomment %}
      <li>{% active_link /ecosystem/ios/integration/ Integration with other apps %}</li>
    </ul>
  </div>
</section>
