<section class="aside-module grid__item one-whole lap-one-half">

  <div class="section">
    <h1 class="title delta">AppDaemon</h1>
    <ul class="divided sidebar-menu">
      <li>{% active_link /ecosystem/appdaemon/ General %}</li>
      <li>{% active_link /ecosystem/appdaemon/installation/ Installation %}</li>
      <li>{% active_link /ecosystem/appdaemon/configuration/ AppDaemon Configuration %}</li>
      <li>{% active_link /ecosystem/appdaemon/example_apps/ Example Apps %}</li>
      <li>{% active_link /ecosystem/appdaemon/running/ Running AppDaemon %}</li>
      <li>{% active_link /ecosystem/appdaemon/reboot/ Starting AppDaemon at Reboot %}</li>
      <li>{% active_link /ecosystem/appdaemon/operation/ AppDaemon Operation %}</li>
      <li>{% active_link /ecosystem/appdaemon/windows/ AppDaemon on Windows %}</li>
      <li>{% active_link /ecosystem/appdaemon/updating/ Updating AppDaemon %}</li>
      <li>{% active_link /ecosystem/appdaemon/tutorial/ AppDaemon Tutorial %}</li>
      <li>{% active_link /ecosystem/appdaemon/api/ AppDaemon API Reference %}</li>
    </ul>
  </div>
</section>
