<section class="aside-module grid__item one-whole lap-one-half">

  <div class="section">
    <h1 class="title delta">HADashboard</h1>
    <ul class="divided sidebar-menu">
      <li>{% active_link /ecosystem/hadashboard/ General %}</li>
      <li>{% active_link /ecosystem/hadashboard/installation/ Installation %}</li>
      <li>{% active_link /ecosystem/hadashboard/dash_config/ Dashboard Configuration %}</li>
      <li>{% active_link /ecosystem/hadashboard/hapush/ HAPush %}</li>
      <li>{% active_link /ecosystem/hadashboard/reboot/ Reboot %}</li>
      <li>{% active_link /ecosystem/hadashboard/updating/ Updating HADashboard %}</li>
    </ul>
  </div>
</section>
