<section class="aside-module grid__item one-whole lap-one-half">
  {% include edit_github.html %}

  <div class='section'>
    <h1 class="title delta">Getting Started Guide</h1>
    <ul class='divided sidebar-menu'>
      <li>
        {% active_link /getting-started/ Installation %}
        <ul>
          <li>{% active_link /getting-started/installation-raspberry-pi/ Raspberry Pi %}</li>
          <li>{% active_link /getting-started/installation-docker/ Docker %}</li>
          <li>{% active_link /getting-started/installation-synology/ Synology NAS %}</li>
          <li>{% active_link /getting-started/installation-virtualenv/ VirtualEnv Linux Instructions %}</li>
          <li>{% active_link /getting-started/troubleshooting/ Troubleshooting %}</li>
        </ul>
      </li>
      <li>
        Configuration
        <ul>
          <li>{% active_link /getting-started/configuration/ Configuration.yaml  %}</li>
          <li>{% active_link /getting-started/devices/ Setting up devices %}</li>
          <li>{% active_link /getting-started/presence-detection/ Presence Detection %}</li>
          <li>{% active_link /getting-started/automation/ Automation %}</li>
          <li>{% active_link /getting-started/troubleshooting-configuration/ Troubleshooting configuration.yaml %}</li>
        </ul>
      </li>
      <li>
        Auto-start Home Assistant
        <ul>
          <li>{% active_link /getting-started/autostart-systemd/ Linux - SystemD %}</li>
          <li>{% active_link /getting-started/autostart-upstart/ Linux - Upstart %}</li>
          <li>{% active_link /getting-started/autostart-macos/ macOS %}</li>
          <li>{% active_link /getting-started/autostart-synology/ Synology NAS %}</li>
        </ul>
      </li>
      <li><a href='/topics/'>Advanced Topics</a></li>
      <li>{% active_link /getting-started/android/ Add to Android Homescreen %}</li>
    </ul>
  </div>
</section>
