<section class="aside-module grid__item one-whole lap-one-half">
  <div class="section">
    <h1 class="title delta">Getting Started</h1>
    <ul class="divided sidebar-menu">
      <li>{% active_link /installation/ Installation %}</li>
      <li>{% active_link /getting-started/onboarding/ Onboarding %}</li>
      <li>{% active_link /getting-started/automation/ Automation %}</li>
      <li>
        {% active_link /getting-started/presence-detection/ Presence detection
        %}
      </li>
      <li>
        {% active_link /getting-started/join-the-community/ Join the community
        %}
      </li>
      <li>
        {% active_link /getting-started/configuration/ Advanced Configuration %}
      </li>
    </ul>
  </div>
</section>
