<section class="aside-module grid__item one-whole lap-one-half">
  <div class='section'>
    <h1 class="title delta">Topics</h1>
    <ul class='divided sidebar-menu'>
      <li>
        {% active_link /hassio/ Hass.io %}
        <ul>
          <li>{% active_link /hassio/installation/ Installation %}</li>
          <li>{% active_link /addons/ Available add-ons %}</li>
          <li>{% active_link /hassio/architecture/ Architecture %}</li>
        </ul>
      </li>
    </ul>
    <ul class='divided sidebar-menu'>
      <li>
        {% active_link /hassio/addon_development/ Add-on Development %}
        <ul>
          <li>{% active_link /hassio/addon_config/ Configuration %}</li>
          <li>{% active_link /hassio/addon_testing/ Local Testing %}</li>
          <li>{% active_link /hassio/addon_publishing/ Publishing %}</li>
          <li>{% active_link /hassio/addon_repository/ Repositories %}</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
