<section class="aside-module grid__item one-whole lap-one-half">
  <div class='section'>
    <h1 class="title delta">Topics</h1>
    <ul class='divided sidebar-menu'>
      <li>
        {% active_link /hassio/ Hass.io %}
        <ul>
          <li>{% active_link /hassio/installation/ Installation %}</li>
          <li>{% active_link /hassio/architecture/ Architecture %}</li>
          <li>{% active_link /addons/ Available add-ons %}</li>
          <li>{% active_link /hassio/create_hassio_addon/ Creating add-ons %}</li>
          <li>{% active_link /hassio/create_hassio_addon_repository/ Creating add-on repositories %}</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
