<section class="aside-module grid__item one-whole lap-one-half">
  <div class="section">
    <h1 class="title epsilon">Topics</h1>
    <ul class="divided sidebar-menu">
      <li>
        {% active_link /hassio/ Home Assistant %}
        <ul>
          <li>{% active_link /installation/ Installation %}</li>
          <li>{% active_link /apps/ Available apps %}</li>
          <li>{% active_link /common-tasks/os#installing-a-third-party-app-repository/ Installing a third-party app repository %}</li>
          <li>{% active_link /faq/ Home Assistant OS FAQ %}</li>
          <li>{% active_link /common-tasks/os/ Home Assistant OS Common tasks %}</li>
        </ul>
      </li>
    </ul>
    <ul class="divided sidebar-menu">
      <li>
        Advanced
        <ul>
          <li>{% active_link /common-tasks/os#home-assistant-via-the-command-line Command line %}</li>
          <li>{% active_link /common-tasks/os#enable-i2c Enable I2C %}</li>
        </ul>
      </li>
    </ul>
    <ul class="divided sidebar-menu">
      <li>
        <a href="/developers/hassio/addon_development/">Looking to create an app?</a>
      </li>
    </ul>
  </div>
</section>
