<section class="aside-module grid__item one-whole lap-one-half">
  <div class="section">
    <h1 class="title epsilon">Topics</h1>
    <ul class="divided sidebar-menu">
      <li>{% active_link /help/ Help %}</li>
      <li>
        <a class="external-link" href="https://developers.home-assistant.io"
          >Developer documentation
          {% icon "tabler:external-link" %}
        </a>
      </li>
      <li>
        {% active_link /help/reporting_issues/ Reporting issues %}
      </li>
      <li>
        Governance
        <ul>
          <li>
            {% active_link /developers/cla/ Contributor License Agreement %}
          </li>
          <li>{% active_link /privacy/ Privacy Policy %}</li>
          <li>{% active_link /tos/ Terms of Service %}</li>
          <li>{% active_link /code_of_conduct/ Code of Conduct %}</li>
          <li>{% active_link /developers/credits/ Credits %}</li>
          <li>{% active_link /developers/license/ License %}</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
