<section class="aside-module grid__item one-whole lap-one-half">

  <div class="section">
    <h1 class="title epsilon">Organizing</h1>
    <ul class="divided sidebar-menu">
      <li>{% active_link /docs/organizing/ Grouping your assets %}</li>
      <li>{% active_link /docs/organizing/tables Working with tables %}</li>
      <li>{% active_link /docs/organizing/areas/ Areas %}</li>
      <li>{% active_link /docs/organizing/floors/ Floors %}</li>
      <li>{% active_link /docs/organizing/labels/ Labels %}</li>
      <li>{% active_link /docs/organizing/categories/ Categories %}</li>
    </ul>
  </div>
