{% unless site.social.visible == false %}
<section class="social aside-module grid__item one-whole lap-one-half">
  <h1 class="title delta">
    {% if site.social.title %}{{ site.social.title }}{% else %}Follow me!{% endif %}
  </h1>
  <ul class="unstyled">
    {% if site.social.adn %}<li><a class="adn" rel="me" href="//alpha.app.net/{{ site.social.adn }}"><i class="icon-adn"></i> App.net</a></li>{% endif %}
    {% if site.social.dribbble %}<li><a class="dribbble" href="//dribbble.com/{{ site.social.dribbble }}"><i class="icon-dribbble"></i> Dribbble</a></li>{% endif %}
    {% if site.social.github.user %}<li><a class="github" href="//github.com/{{ site.social.github.user }}"><i class="icon-github"></i> Github</a></li>{% endif %}
    {% if site.social.facebook.user %}<li><a class="facebook" href="//facebook.com/{{ site.social.facebook.user }}"><i class="icon-facebook-sign"></i> Facebook</a></li>{% endif %}
    {% if site.social.googleplus %}<li><a class="gplus" href="//plus.google.com/{{ site.social.googleplus }}"><i class="icon-google-plus-sign"></i> Google+</a></li>{% endif %}
    {% if site.social.linkedin %}<li><a class="linkedin" href="//linkedin.com/in/{{ site.social.linkedin }}"><i class="icon-linkedin-sign"></i> LinkedIn</a></li>{% endif %}
    {% if site.social.pinterest %}<li><a class="pinterest" href="//pinterest.com/{{ site.social.pinterest }}"><i class="icon-pinterest"></i> Pinterest</a></li>{% endif %}
    {% if site.social.stackoverflow %}<li><a class="stackoverflow" href="//stackoverflow.com/users/{{ site.social.stackoverflow }}"><i class="icon-stackexchange"></i> StackOverflow</a></li>{% endif %}
    {% if site.social.twitter.user %}<li><a class="twitter" href="//twitter.com/{{ site.social.twitter.user }}"><i class="icon-twitter"></i> Twitter</a></li>{% endif %}
    {% if site.social.youtube %}<li><a class="youtube" href="//youtube.com/user/{{ site.social.youtube }}"><i class="icon-youtube"></i> YouTube</a></li>{% endif %}
  </ul>
</section>
{% endunless %}
