{%- assign domain_entry = site.data.trigger_domain_lookup[page.domain] -%}
{%- assign domain_label = domain_entry.label | default: page.domain -%}

<section class="aside-module grid__item one-whole lap-one-half">
  <div class='section'>
    <h2 class="h1 title epsilon">{% icon "mdi:flash-outline" %} Trigger: <code>{{ page.trigger }}</code></h2>

    {%- if page.domain -%}
    <div class='section'>
      {% icon "mdi:puzzle-outline" %}&nbsp;Integration: <a href='/integrations/{{ page.domain }}/'>{{ domain_label }}</a>
    </div>
    {%- endif -%}

    {%- if page.since -%}
    <div class='section'>
      {% icon "mdi:history" %}&nbsp;Since Home Assistant {{ page.since }}
    </div>
    {%- endif -%}

    {%- if page.deprecated_in_favor_of and page.deprecated_in_favor_of != "" -%}
    <div class='section'>
      {% icon "mdi:alert" %}&nbsp;<strong>Deprecated.</strong> Use <a href="/triggers/{{ page.deprecated_in_favor_of }}/"><code>{{ page.deprecated_in_favor_of }}</code></a> instead.
    </div>
    {%- endif -%}
  </div>
</section>
