<section class="aside-module grid__item one-whole lap-one-half">
  <div class="section">
    <h1 class="title epsilon">{% icon "mdi:comment-processing-outline" %} {% active_link /voice_control/ Assist up and running %}</h1>
    <ul class="divided sidebar-menu">
      <li>{% active_link /voice_control/voice_remote_local_assistant/ Getting started - Local %}</li>
      <li>{% active_link /voice_control/voice_remote_cloud_assistant/ Getting started - Home Assistant Cloud %}</li>
    </ul>
  </div>
  <div class="section">
    <h1 class="title epsilon"><iconify-icon icon="mdi:devices">{% icon "mdi:comment-processing-outline" %} {% active_link /voice_control/best_practices Best Practices %}</h1>
    <ul class="divided sidebar-menu">
      <li>{% active_link /voice_control/voice_remote_expose_devices/ Exposing entities to Assist %}</li>
      <li>{% active_link /voice_control/assign_areas_floors/ Assigning devices to areas and areas to floors %}</li>
      <li>{% active_link /voice_control/aliases/ Aliases for entities, areas and floors %}</li> 
      <li>{% active_link /voice_control/builtin_sentences/ Talking to Assist - Sentences starter pack %}</li>
    </ul>
  </div>
  <div class="section">
    <h1 class="title epsilon"><iconify-icon icon="mdi:devices">{% icon "mdi:comment-processing-outline" %} {% active_link /voice_control/expanding_assist Expanding Assist %}</h1>
    <ul class="divided sidebar-menu">
      <li>{% active_link /voice_control/assist_create_open_ai_personality/ Creating a personality with AI %}</li>
      <li>{% active_link /voice_control/custom_sentences/ Custom sentences %}</li>
      <li>{% active_link /voice_control/android/ Assist for Android %}</li>
      <li>{% active_link /voice_control/apple/ Assist for Apple %}</li>
      
    </ul>
  </div>
  <div class="section">
    <h1 class="title epsilon">{% icon "mdi:checkbox-marked" %} Experiment with Assist setups</h1>
    <ul class="divided sidebar-menu">
      <li>{% active_link /voice_control/about_wake_word/ The Home Assistant Approach to Wake Words %}</li>
      <li>{% active_link /voice_control/create_wake_word/ Wake words for Assist %}</li>
      <li>{% active_link /voice_control/s3_box_voice_assistant/ Tutorial: ESP32-S3-BOX voice assistant %}</li>
      <li>{% active_link /voice_control/s3-box-customize/ Tutorial: Customize the S3-BOX %}</li>
      <li>{% active_link /voice_control/thirteen-usd-voice-remote/ Tutorial: $13 voice assistant %}</li>
      <li>{% active_link /voice_control/worlds-most-private-voice-assistant/ Tutorial: World's most private voice assistant %}</li>
      <li>{% active_link /voice_control/assist_daily_summary/ Tutorial: Your daily summary by Assist %}</li>
      <li>{% active_link /voice_control/start_assist_from_dashboard/ Starting Assist from your dashboard %}</li>
      <li>{% active_link /voice_control/contribute-voice/ Contribute to the Voice initiative %}</li>
    </ul>
  </div>
  <div class="section">
    <h1 class="title epsilon">{% icon "mdi:account-help" %} Troubleshooting</h1>
    <ul class="divided sidebar-menu">
      <li>{% active_link /voice_control/troubleshooting/ Troubleshooting Assist %}</li>
      <li>{% active_link /voice_control/troubleshooting_the_s3_box/ Troubleshooting the ESP32-S3-BOX %}</li>
      <li>{% active_link /voice_control/using_tts_in_automation/ Using Piper TTS in automations %}</li>
    </ul>
  </div>
</section>
