<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>EnOcean Binary Sensor - Home Assistant</title>
    <meta name="author" content="Home Assistant">
    <meta name="description" content="Instructions on how to set up EnOcean binary sensors within Home Assistant.">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://home-assistant.io/components/binary_sensor.enocean/">
    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="EnOcean Binary Sensor">
    <meta property="og:site_name" content="Home Assistant">
    <meta property="og:url" content="https://home-assistant.io/components/binary_sensor.enocean/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Instructions on how to set up EnOcean binary sensors within Home Assistant.">
    <meta property="og:image" content="https://home-assistant.io/images/default-social.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@home_assistant">
    <meta name="twitter:title" content="EnOcean Binary Sensor">
    <meta name="twitter:description" content="Instructions on how to set up EnOcean binary sensors within Home Assistant.">
    <meta name="twitter:image" content="https://home-assistant.io/images/default-social.png">
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>
  <body >
    <header class='site-header'>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/demo/favicon-192x192.png'>
    <span>Home Assistant</span>
  </a>
</div>
<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  <li><a href="/getting-started/">Getting started</a></li>
  <li><a href="/components/">Components</a></li>
  <li><a href="/docs/">Docs</a></li>
  <li><a href="/cookbook/">Examples</a></li>
  <li><a href="/developers/">Developers</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
  <li><a href='#' class='show-search'><i class="icon-search"></i></a></li>
</ul>
  </nav>
  <div class='search-container' style='display: none'>
    <div class='search'>
      <i class="icon-search"></i>
      <input id='search' placeholder='Search the docs…'>
      <a href='#' class='close'><i class="icon-remove-sign"></i></a>
    </div>
  </div>
</div>
  </div>
</div>
    </header>
    <div class="grid-wrapper">
      <div class="grid grid-center">
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
          <article class="page">
  <header>
    <h1 class="title indent">
      EnOcean Binary Sensor
    </h1>
  </header>
  <hr class="divider">
  <p>This can typically be one of those batteryless wall switches. Currently only one type has been tested: Eltako FT55 which uses the EnOcean PTM 215 module. All switches using this module are expected to work. Other devices will most likely not work without changing the Home Assistant code.</p>
<p>To use your EnOcean device, you first have to set up your <a href="/components/enocean/">EnOcean hub</a> and then add the following to your <code class="highlighter-rouge">configuration.yaml</code> file:</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml entry</span>
<span class="s">binary_sensor</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">enocean</span>
    <span class="s">id</span><span class="pi">:</span> <span class="pi">[</span><span class="nv">0x01</span><span class="pi">,</span><span class="nv">0x90</span><span class="pi">,</span><span class="nv">0x84</span><span class="pi">,</span><span class="nv">0x3C</span><span class="pi">]</span>
</code></pre>
</div>
<p>Configuration variables:</p>
<ul>
  <li><strong>id</strong> (<em>Required</em>): The ID of the device. This is the 4 bytes long number written on the dimmer.</li>
  <li><strong>name</strong> (<em>Optional</em>): An identifier for the switch in the frontend.</li>
  <li><strong>device_class</strong> (<em>Optional</em>): The <a href="/components/binary_sensor/">type/class</a> of the sensor to set the icon in the frontend.</li>
</ul>
<p>EnOcean binary sensors only generate ‘button_pressed’ events. The event data has follwing four fields:</p>
<ul>
  <li><strong>id</strong>: The ID of the device (see configuration).</li>
  <li><strong>pushed</strong>: <code class="highlighter-rouge">1</code> for a button press, <code class="highlighter-rouge">0</code> for a button release.</li>
  <li><strong>which</strong>: Always <code class="highlighter-rouge">0</code> when using the single rocket.  <code class="highlighter-rouge">0</code> or <code class="highlighter-rouge">1</code> when using the dual rocket switch.</li>
  <li><strong>onoff</strong>: <code class="highlighter-rouge">0</code> or <code class="highlighter-rouge">1</code> for either side of the rocket.</li>
</ul>
<p>Sample automation to switch lights on and off:</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example automation to turn lights on/off on button release</span>
<span class="s">automation</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">alias</span><span class="pi">:</span> <span class="s">hall light switches</span>
    <span class="s">trigger</span><span class="pi">:</span>
      <span class="s">platform</span><span class="pi">:</span> <span class="s">event</span>
      <span class="s">event_type</span><span class="pi">:</span> <span class="s">button_pressed</span>
      <span class="s">event_data</span><span class="pi">:</span>
        <span class="s">id</span><span class="pi">:</span> <span class="pi">[</span><span class="nv">0xYY</span><span class="pi">,</span> <span class="nv">0xYY</span><span class="pi">,</span> <span class="nv">0xYY</span><span class="pi">,</span> <span class="nv">0xYY</span><span class="pi">]</span>
        <span class="s">pushed</span><span class="pi">:</span> <span class="s">0</span>
    <span class="s">action</span><span class="pi">:</span>
      <span class="s">service_template</span><span class="pi">:</span> <span class="s2">"</span><span class="s">{%</span><span class="nv"> </span><span class="s">if</span><span class="nv"> </span><span class="s">trigger.event.data.onoff</span><span class="nv"> </span><span class="s">%}</span><span class="nv"> </span><span class="s">light.turn_on</span><span class="nv"> </span><span class="s">{%</span><span class="nv"> </span><span class="s">else</span><span class="nv"> </span><span class="s">%}</span><span class="nv"> </span><span class="s">light.turn_off</span><span class="nv"> </span><span class="s">{%endif</span><span class="nv"> </span><span class="s">%}"</span>
      <span class="s">data_template</span><span class="pi">:</span>
        <span class="s">entity_id</span><span class="pi">:</span> <span class="s2">"</span><span class="s">{%</span><span class="nv"> </span><span class="s">if</span><span class="nv"> </span><span class="s">trigger.event.data.which</span><span class="nv"> </span><span class="s">==</span><span class="nv"> </span><span class="s">1</span><span class="nv"> </span><span class="s">%}</span><span class="nv"> </span><span class="s">light.hall_left</span><span class="nv"> </span><span class="s">{%</span><span class="nv"> </span><span class="s">else</span><span class="nv"> </span><span class="s">%}</span><span class="nv"> </span><span class="s">light.hall_right</span><span class="nv"> </span><span class="s">{%endif</span><span class="nv"> </span><span class="s">%}"</span>
</code></pre>
</div>
</article>
        </div>
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
    <section class="aside-module grid__item one-whole lap-one-half">
  <div class='edit-github'><a href='https://github.com/home-assistant/home-assistant.github.io/tree/current/source/_components/binary_sensor.enocean.markdown'>Edit this page on GitHub</a></div>
  <div class='brand-logo-container section'>
      <img src='/images/supported_brands/enocean.png' />
  </div>
    <div class='section'>
    IoT class<sup><a href='/blog/2016/02/12/classifying-the-internet-of-things/#classifiers'><i class="icon-info-sign"></i></a></sup>: Local Push
    </div>
    <div class='section'>
    Introduced in release: 0.21
    </div>
    <div class='section'>
      This is a platform for
      <a href='/components/binary_sensor/'>the Binary Sensor component</a>.
    </div>
          <div class='section'>
          <h1 class='title delta'>Related components</h1>
          <ul class='divided'>
        <li><a href='/components/enocean/'>
          EnOcean
        </a></li>
        <li><a href='/components/light.enocean/'>
          EnOcean Light
        </a></li>
        <li><a href='/components/sensor.enocean/'>
          EnOcean Sensor
        </a></li>
        <li><a href='/components/switch.enocean/'>
          EnOcean Switch
        </a></li>
    </ul>
    </div>
    <div class='section'>
    <h1 class="title delta">Category Binary Sensor</h1>
    <ul class='divided'>
        <li>
            <a href='/components/binary_sensor.alarmdecoder/'>AlarmDecoder Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.android_ip_webcam/'>Android IP Webcam Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.aurora/'>Aurora sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.axis/'>Axis Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.bbb_gpio/'>BeagleBone Black GPIO Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.blink/'>Blink Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.bloomsky/'>BloomSky Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.command_line/'>Command line Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.concord232/'>Concord232 Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.ecobee/'>Ecobee Binary Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.ecobee/'>Ecobee Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.eight_sleep/'>Eight Sleep Binary Sensor</a>
        </li>
        <li>
            EnOcean Binary Sensor
        </li>
        <li>
            <a href='/components/binary_sensor.envisalink/'>Envisalink Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.ffmpeg_motion/'>FFmpeg Motion Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.ffmpeg_noise/'>FFmpeg Noise Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.flic/'>Flic Smart Button</a>
        </li>
        <li>
            <a href='/components/binary_sensor.http/'>HTTP Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.hikvision/'>Hikvision Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.homematic/'>Homematic Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.isy994/'>ISY994 Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.insteon_plm/'>Insteon PLM Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.iss/'>International Space Station</a>
        </li>
        <li>
            <a href='/components/binary_sensor.knx/'>KNX Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.mqtt/'>MQTT Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.modbus/'>Modbus Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.mysensors/'>MySensors Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.nx584/'>NX584 zones</a>
        </li>
        <li>
            <a href='/components/binary_sensor.nest/'>Nest Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.netatmo/'>Netatmo Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.octoprint/'>OctoPrint Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.rpi_pfio/'>PiFace Digital I/O Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.pilight/'>Pilight Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.ping/'>Ping (ICMP) Binary sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.rest/'>RESTful Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.rfxtrx/'>RFXtrx Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.rpi_gpio/'>Raspberry PI GPIO Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.raspihats/'>Raspihats Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.ring/'>Ring Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.spc/'>SPC Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.sleepiq/'>SleepIQ Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.tcp/'>TCP Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.template/'>Template Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.threshold/'>Threshold Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.trend/'>Trend Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.vera/'>Vera Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.verisure/'>Verisure Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.wink/'>Wink Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.workday/'>Workday Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.zwave/'>Z-Wave Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.zigbee/'>ZigBee Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.zha/'>ZigBee Home Automation Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.arest/'>aREST Binary Sensor</a>
        </li>
        <li>
            <a href='/components/binary_sensor.mystrom/'>myStrom Binary Sensor</a>
        </li>
    </ul>
    </div>
</section>
</div>
        </aside>
      </div>
    </div>
    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright">
  <a rel="me" href='https://twitter.com/home_assistant'><i class="icon-twitter"></i></a>
  <a rel="me" href='https://facebook.com/homeassistantio'><i class="icon-facebook"></i></a>
  <a rel="me" href='https://plus.google.com/110560654828510104551'><i class="icon-google-plus"></i></a>
  <a rel="me" href='https://github.com/home-assistant/home-assistant'><i class="icon-github"></i></a>
  <div class="credit">
    Contact us at <a href='mailto:hello@home-assistant.io'>hello@home-assistant.io</a> (no support!).<br>
    Website powered by <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>.<br />
    Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.
  </div>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">home-assistant.io</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
</div>
    </div>
  </div>
</div>
    </footer>
    <script>
  var _gaq=[['_setAccount','UA-57927901-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
  apiKey: 'ae96d94b201c5444c8a443093edf3efb',
  indexName: 'home-assistant',
  inputSelector: '#search',
  debug: false // Set debug to true if you want to inspect the dropdown
});
document.querySelector('.search .close').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'none';
});
document.querySelector('.show-search').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'block';
  document.getElementById('toggle').checked = false;
  document.querySelector('.search-container input').focus();
});
</script>
  </body>
</html>
