<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Keyboard Remote - Home Assistant</title>
    <meta name="author" content="Home Assistant">
    <meta name="description" content="Instructions how to use a keyboard to remote control Home Assistant.">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://home-assistant.io/components/keyboard_remote/">
    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="Keyboard Remote">
    <meta property="og:site_name" content="Home Assistant">
    <meta property="og:url" content="https://home-assistant.io/components/keyboard_remote/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Instructions how to use a keyboard to remote control Home Assistant.">
    <meta property="og:image" content="https://home-assistant.io/images/default-social.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@home_assistant">
    <meta name="twitter:title" content="Keyboard Remote">
    <meta name="twitter:description" content="Instructions how to use a keyboard to remote control Home Assistant.">
    <meta name="twitter:image" content="https://home-assistant.io/images/default-social.png">
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>
  <body >
    <header class='site-header'>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/demo/favicon-192x192.png'>
    <span>Home Assistant</span>
  </a>
</div>
<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  <li><a href="/getting-started/">Getting started</a></li>
  <li><a href="/components/">Components</a></li>
  <li><a href="/docs/">Docs</a></li>
  <li><a href="/cookbook/">Examples</a></li>
  <li><a href="/developers/">Developers</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
  <li><a href='#' class='show-search'><i class="icon-search"></i></a></li>
</ul>
  </nav>
  <div class='search-container' style='display: none'>
    <div class='search'>
      <i class="icon-search"></i>
      <input id='search' placeholder='Search the docs…'>
      <a href='#' class='close'><i class="icon-remove-sign"></i></a>
    </div>
  </div>
</div>
  </div>
</div>
    </header>
    <div class="grid-wrapper">
      <div class="grid grid-center">
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
          <article class="page">
  <header>
    <h1 class="title indent">
      Keyboard Remote
    </h1>
  </header>
  <hr class="divider">
  <p>Receive signals from a keyboard and use it as a remote control.</p>
<p>This component allows you to use a keyboard as remote control. It will fire <code class="highlighter-rouge">keyboard_remote_command_received</code> events which can then be used in automation rules.</p>
<p>The <code class="highlighter-rouge">evdev</code> package is used to interface with the keyboard and thus this is Linux only. It also means you can’t use your normal keyboard for this because <code class="highlighter-rouge">evdev</code> will block it.</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml entry</span>
<span class="s">keyboard_remote</span><span class="pi">:</span>
  <span class="s">type</span><span class="pi">:</span> <span class="s1">'</span><span class="s">key_up'</span>
</code></pre>
</div>
<p>Configuration variables:</p>
<ul>
  <li><strong>type</strong> (<em>Required</em>): Possible values are <code class="highlighter-rouge">key_up</code>, <code class="highlighter-rouge">key_down</code>, and <code class="highlighter-rouge">key_hold</code>. Be careful, <code class="highlighter-rouge">key_hold</code> will fire a lot of events.</li>
  <li><strong>device_descriptor</strong> (<em>Optional</em>): Path to the local event input device file that corresponds to the keyboard.</li>
  <li><strong>device_name</strong> (<em>Optional</em>): Name of the keyboard device.</li>
</ul>
<p>Either <code class="highlighter-rouge">device_name</code> or <code class="highlighter-rouge">device_descriptor</code> must be present in the configuration entry. Indicating a device name is useful in case of repeating disconnections and re-connections of the device (for example, a bluetooth keyboard): the local input device file might change, thus breaking the configuration, while the name remains the same.
In case of presence of multiple devices of the same model, <code class="highlighter-rouge">device_descriptor</code> must be used.</p>
<p>A list of possible device descriptors and names is reported in the debug log at startup when the device indicated in the configuration entry could not be found.</p>
<p>A full configuration for Keyboard Remote could look like the one below:</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="s">keyboard_remote</span><span class="pi">:</span>
  <span class="s">device_descriptor</span><span class="pi">:</span> <span class="s1">'</span><span class="s">/dev/input/by-id/bluetooth-keyboard'</span>
  <span class="s">type</span><span class="pi">:</span> <span class="s1">'</span><span class="s">key_up'</span>
</code></pre>
</div>
<p>or like the following:</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="s">keyboard_remote</span><span class="pi">:</span>
  <span class="s">device_name</span><span class="pi">:</span> <span class="s1">'</span><span class="s">Bluetooth</span><span class="nv"> </span><span class="s">Keyboard'</span>
  <span class="s">type</span><span class="pi">:</span> <span class="s1">'</span><span class="s">key_down'</span>
</code></pre>
</div>
<p>And an automation rule to breathe life into it:</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="s">automation</span><span class="pi">:</span>
  <span class="s">alias</span><span class="pi">:</span> <span class="s">Keyboard all lights on</span>
  <span class="s">trigger</span><span class="pi">:</span>
    <span class="s">platform</span><span class="pi">:</span> <span class="s">event</span>
    <span class="s">event_type</span><span class="pi">:</span> <span class="s">keyboard_remote_command_received</span>
    <span class="s">event_data</span><span class="pi">:</span>
      <span class="s">key_code</span><span class="pi">:</span> <span class="s">107</span> <span class="c1"># inspect log to obtain desired keycode</span>
  <span class="s">action</span><span class="pi">:</span>
    <span class="s">service</span><span class="pi">:</span> <span class="s">light.turn_on</span>
    <span class="s">entity_id</span><span class="pi">:</span> <span class="s">light.all</span>
</code></pre>
</div>
<h2><a class="title-link" name="disconnections" href="#disconnections"></a> Disconnections</h2>
<p>This component manages disconnections and re-connections of the keyboard, for example in the case of a bluetooth device that turns off automatically to preserve battery.</p>
<p>If the keyboard disconnects, the component will fire an event <code class="highlighter-rouge">keyboard_remote_disconnected</code>.
When the keyboard reconnects, an event <code class="highlighter-rouge">keyboard_remote_connected</code> will be fired.</p>
<p>Here’s an automation example that plays a sound through a media player whenever the keyboard connects/disconnects:</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="s">automation</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">alias</span><span class="pi">:</span> <span class="s">Keyboard Connected</span>
    <span class="s">trigger</span><span class="pi">:</span>
      <span class="s">platform</span><span class="pi">:</span> <span class="s">event</span>
      <span class="s">event_type</span><span class="pi">:</span> <span class="s">keyboard_remote_connected</span>
    <span class="s">action</span><span class="pi">:</span>
      <span class="pi">-</span> <span class="s">service</span><span class="pi">:</span> <span class="s">media_player.play_media</span>
        <span class="s">data</span><span class="pi">:</span>
          <span class="s">entity_id</span><span class="pi">:</span> <span class="s">media_player.speaker</span>
          <span class="s">media_content_id</span><span class="pi">:</span> <span class="s">keyboard_connected.wav</span>
          <span class="s">media_content_type</span><span class="pi">:</span> <span class="s">music</span>
  <span class="pi">-</span> <span class="s">alias</span><span class="pi">:</span> <span class="s">Keyboard Disconnected</span>
    <span class="s">trigger</span><span class="pi">:</span>
      <span class="s">platform</span><span class="pi">:</span> <span class="s">event</span>
      <span class="s">event_type</span><span class="pi">:</span> <span class="s">keyboard_remote_disconnected</span>
    <span class="s">action</span><span class="pi">:</span>
      <span class="pi">-</span> <span class="s">service</span><span class="pi">:</span> <span class="s">media_player.play_media</span>
        <span class="s">data</span><span class="pi">:</span>
          <span class="s">entity_id</span><span class="pi">:</span> <span class="s">media_player.speaker</span>
          <span class="s">media_content_id</span><span class="pi">:</span> <span class="s">keyboard_disconnected.wav</span>
          <span class="s">media_content_type</span><span class="pi">:</span> <span class="s">music</span>
</code></pre>
</div>
<h2><a class="title-link" name="permissions" href="#permissions"></a> Permissions</h2>
<p>There might be permissions problems with the event input device file. If this is the case, the user that Home Assistant runs as must be allowed read and write permissions with:</p>
<div class="language-bash highlighter-rouge"><pre class="highlight"><code><span class="gp">$ </span>sudo setfacl -m u:HASS_USER:rw /dev/input/event<span class="k">*</span>
</code></pre>
</div>
<p>where <code class="highlighter-rouge">HASS_USER</code> is the user who runs Home Assistant.</p>
<p>If you want to make this permanent, you can use a udev rule that sets it for all event input devices. Add a file <code class="highlighter-rouge">/etc/udev/rules.d/99-userdev-input.rules</code> containing:</p>
<div class="language-bash highlighter-rouge"><pre class="highlight"><code><span class="nv">KERNEL</span><span class="o">==</span><span class="s2">"event*"</span>, <span class="nv">SUBSYSTEM</span><span class="o">==</span><span class="s2">"input"</span>, RUN+<span class="o">=</span><span class="s2">"/usr/bin/setfacl -m u:HASS_USER:rw </span><span class="nv">$env</span><span class="s2">{DEVNAME}"</span>
</code></pre>
</div>
<p>You can check ACLs permissions with</p>
<div class="language-bash highlighter-rouge"><pre class="highlight"><code><span class="gp">$ </span>getfacl /dev/input/event<span class="k">*</span>
</code></pre>
</div>
</article>
        </div>
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
    <section class="aside-module grid__item one-whole lap-one-half">
  <div class='edit-github'><a href='https://github.com/home-assistant/home-assistant.github.io/tree/current/source/_components/keyboard_remote.markdown'>Edit this page on GitHub</a></div>
  <div class='brand-logo-container section'>
      <img src='/images/supported_brands/keyboard.png' />
  </div>
    <div class='section'>
    IoT class<sup><a href='/blog/2016/02/12/classifying-the-internet-of-things/#classifiers'><i class="icon-info-sign"></i></a></sup>: Local Push
    </div>
    <div class='section'>
    Introduced in release: 0.29
    </div>
    <div class='section'>
    <h1 class="title delta">Category Other</h1>
    <ul class='divided'>
        <li>
            <a href='/components/browser/'>Browser</a>
        </li>
        <li>
            <a href='/components/config/'>Config</a>
        </li>
        <li>
            <a href='/components/configurator/'>Configurator</a>
        </li>
        <li>
            <a href='/components/demo/'>Demo platforms</a>
        </li>
        <li>
            <a href='/components/discovery/'>Discovery</a>
        </li>
        <li>
            <a href='/components/feedreader/'>Feedreader</a>
        </li>
        <li>
            <a href='/components/frontend/'>Frontend</a>
        </li>
        <li>
            <a href='/components/http/'>HTTP</a>
        </li>
        <li>
            <a href='/components/ha/'>Home Assistant 0.49</a>
        </li>
        <li>
            <a href='/components/introduction/'>Introduction</a>
        </li>
        <li>
            Keyboard Remote
        </li>
        <li>
            <a href='/components/logger/'>Logger</a>
        </li>
        <li>
            <a href='/components/mqtt_eventstream/'>MQTT Eventstream</a>
        </li>
        <li>
            <a href='/components/persistent_notification/'>Persistent notification</a>
        </li>
        <li>
            <a href='/components/plant/'>Plant monitor</a>
        </li>
        <li>
            <a href='/components/sensor.upnp/'>UPNP Sensor</a>
        </li>
        <li>
            <a href='/components/upnp/'>UPnP</a>
        </li>
        <li>
            <a href='/components/updater/'>Updater</a>
        </li>
        <li>
            <a href='/components/zeroconf/'>Zeroconf/Avahi/Bonjour</a>
        </li>
    </ul>
    </div>
</section>
</div>
        </aside>
      </div>
    </div>
    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright">
  <a rel="me" href='https://twitter.com/home_assistant'><i class="icon-twitter"></i></a>
  <a rel="me" href='https://facebook.com/homeassistantio'><i class="icon-facebook"></i></a>
  <a rel="me" href='https://plus.google.com/110560654828510104551'><i class="icon-google-plus"></i></a>
  <a rel="me" href='https://github.com/home-assistant/home-assistant'><i class="icon-github"></i></a>
  <div class="credit">
    Contact us at <a href='mailto:hello@home-assistant.io'>hello@home-assistant.io</a> (no support!).<br>
    Website powered by <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>.<br />
    Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.
  </div>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">home-assistant.io</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
</div>
    </div>
  </div>
</div>
    </footer>
    <script>
  var _gaq=[['_setAccount','UA-57927901-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
  apiKey: 'ae96d94b201c5444c8a443093edf3efb',
  indexName: 'home-assistant',
  inputSelector: '#search',
  debug: false // Set debug to true if you want to inspect the dropdown
});
document.querySelector('.search .close').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'none';
});
document.querySelector('.show-search').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'block';
  document.getElementById('toggle').checked = false;
  document.querySelector('.search-container input').focus();
});
</script>
  </body>
</html>
