<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>KNX - Home Assistant</title>
    <meta name="author" content="Home Assistant">
    <meta name="description" content="Instructions on how to integrate KXN components with Home Assistant.">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://home-assistant.io/components/knx/">
    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="KNX">
    <meta property="og:site_name" content="Home Assistant">
    <meta property="og:url" content="https://home-assistant.io/components/knx/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Instructions on how to integrate KXN components with Home Assistant.">
    <meta property="og:image" content="https://home-assistant.io/images/default-social.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@home_assistant">
    <meta name="twitter:title" content="KNX">
    <meta name="twitter:description" content="Instructions on how to integrate KXN components with Home Assistant.">
    <meta name="twitter:image" content="https://home-assistant.io/images/default-social.png">
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>
  <body >
    <header class='site-header'>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/demo/favicon-192x192.png'>
    <span>Home Assistant</span>
  </a>
</div>
<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  <li><a href="/getting-started/">Getting started</a></li>
  <li><a href="/components/">Components</a></li>
  <li><a href="/docs/">Docs</a></li>
  <li><a href="/cookbook/">Examples</a></li>
  <li><a href="/developers/">Developers</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
  <li><a href='#' class='show-search'><i class="icon-search"></i></a></li>
</ul>
  </nav>
  <div class='search-container' style='display: none'>
    <div class='search'>
      <i class="icon-search"></i>
      <input id='search' placeholder='Search the docs…'>
      <a href='#' class='close'><i class="icon-remove-sign"></i></a>
    </div>
  </div>
</div>
  </div>
</div>
    </header>
    <div class="grid-wrapper">
      <div class="grid grid-center">
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
          <article class="page">
  <header>
    <h1 class="title indent">
      KNX
    </h1>
  </header>
  <hr class="divider">
  <p><a href="http://www.knx.org">KNX/EIB</a> integration for Home Assistant allows you to connect to a KNX bus. The component requires a local KNX/IP interface like the <a href="http://www.weinzierl.de/index.php/en/all-knx/knx-devices-en/knx-ip-interface-730-en">Weinzierl 730</a>. Through this it will send and receive commands to and from other devices to the KNX bus.</p>
<p>There is currently support for the following device types within Home Assistant:</p>
<ul>
  <li><a href="/components/binary_sensor.knx">Binary Sensor</a></li>
  <li><a href="/components/sensor.knx">Sensor</a></li>
  <li><a href="/components/switch.knx">Switch</a></li>
  <li><a href="/components/light.knx">Light</a></li>
  <li><a href="/components/climate.knx">Thermostat</a></li>
</ul>
<p>A <code class="highlighter-rouge">knx</code> section must be present in the <code class="highlighter-rouge">configuration.yaml</code> file and contain the following options as required:</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml entry</span>
<span class="s">knx</span><span class="pi">:</span>
</code></pre>
</div>
<ul>
  <li><strong>host</strong> (<em>Optional</em>): The IP address of the KNX/IP interface to use. It defaults to <code class="highlighter-rouge">0.0.0.0</code> which will start discovery for your KNX/IP gateway.</li>
  <li><strong>port</strong> (<em>Optional</em>): The UDP port number. Defaults to <code class="highlighter-rouge">3671</code>.</li>
</ul>
</article>
        </div>
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
    <section class="aside-module grid__item one-whole lap-one-half">
  <div class='edit-github'><a href='https://github.com/home-assistant/home-assistant.github.io/tree/current/source/_components/knx.markdown'>Edit this page on GitHub</a></div>
  <div class='brand-logo-container section'>
      <img src='/images/supported_brands/knx.png' />
  </div>
    <div class='section'>
    IoT class<sup><a href='/blog/2016/02/12/classifying-the-internet-of-things/#classifiers'><i class="icon-info-sign"></i></a></sup>: Local Polling
    </div>
    <div class='section'>
    Introduced in release: 0.24
    </div>
          <div class='section'>
          <h1 class='title delta'>Related components</h1>
          <ul class='divided'>
        <li><a href='/components/binary_sensor.knx/'>
          KNX Binary Sensor
        </a></li>
        <li><a href='/components/cover.knx/'>
          KNX Cover
        </a></li>
        <li><a href='/components/light.knx/'>
          KNX Light
        </a></li>
        <li><a href='/components/sensor.knx/'>
          KNX Sensor
        </a></li>
        <li><a href='/components/switch.knx/'>
          KNX Switch
        </a></li>
        <li><a href='/components/climate.knx/'>
          KNX Thermostat
        </a></li>
    </ul>
    </div>
    <div class='section'>
    <h1 class="title delta">Category DIY</h1>
    <ul class='divided'>
        <li>
            <a href='/components/arduino/'>Arduino</a>
        </li>
        <li>
            <a href='/components/sensor.arduino/'>Arduino Sensor</a>
        </li>
        <li>
            <a href='/components/switch.arduino/'>Arduino Switch</a>
        </li>
        <li>
            <a href='/components/bbb_gpio/'>BeagleBone Black GPIO</a>
        </li>
        <li>
            <a href='/components/sensor.dht/'>DHT Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.eddystone_temperature/'>Eddystone Beacon</a>
        </li>
        <li>
            KNX
        </li>
        <li>
            <a href='/components/cover.knx/'>KNX Cover</a>
        </li>
        <li>
            <a href='/components/sensor.miflora/'>Mi Flora plant sensor</a>
        </li>
        <li>
            <a href='/components/sensor.onewire/'>One wire Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.serial_pm/'>Particulate matter Sensor</a>
        </li>
        <li>
            <a href='/components/rpi_pfio/'>PiFace Digital I/O</a>
        </li>
        <li>
            <a href='/components/rpi_gpio/'>Raspberry PI GPIO</a>
        </li>
        <li>
            <a href='/components/raspihats/'>Raspihats</a>
        </li>
        <li>
            <a href='/components/sensor.skybeacon/'>Skybeacon sensor</a>
        </li>
        <li>
            <a href='/components/zigbee/'>ZigBee</a>
        </li>
    </ul>
    </div>
</section>
</div>
        </aside>
      </div>
    </div>
    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright">
  <a rel="me" href='https://twitter.com/home_assistant'><i class="icon-twitter"></i></a>
  <a rel="me" href='https://facebook.com/homeassistantio'><i class="icon-facebook"></i></a>
  <a rel="me" href='https://plus.google.com/110560654828510104551'><i class="icon-google-plus"></i></a>
  <a rel="me" href='https://github.com/home-assistant/home-assistant'><i class="icon-github"></i></a>
  <div class="credit">
    Contact us at <a href='mailto:hello@home-assistant.io'>hello@home-assistant.io</a> (no support!).<br>
    Website powered by <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>.<br />
    Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.
  </div>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">home-assistant.io</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
</div>
    </div>
  </div>
</div>
    </footer>
    <script>
  var _gaq=[['_setAccount','UA-57927901-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
  apiKey: 'ae96d94b201c5444c8a443093edf3efb',
  indexName: 'home-assistant',
  inputSelector: '#search',
  debug: false // Set debug to true if you want to inspect the dropdown
});
document.querySelector('.search .close').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'none';
});
document.querySelector('.show-search').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'block';
  document.getElementById('toggle').checked = false;
  document.querySelector('.search-container input').focus();
});
</script>
  </body>
</html>
