body > header {
  background-color: $header-background;
  margin-bottom: 2em;
  backdrop-filter: blur(24px);

  .site-title {
    color: $grayDarker;
    font-size: 1.7em;
    font-weight: bold;
    line-height: 2.5em;
  }
}