.aside-module {
  .title {
    border-bottom: 1px solid $blue;
    color: $grayDark;
    margin: 1em 0 0.5em;
    padding-bottom: 5px;

    .btn {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding: 5px 10px;
      text-decoration: none;
    }
  }

  .loading {
    display: block;
    font-size: 2em;
    text-align: center;
  }
}