#pinboard {
  .pin-item > p {
    margin-bottom: 0;
    a {
      &:hover {
        text-decoration: underline;
      }
      &::after {
        content: ",";
      }
      &:last-child::after {
        content: "";
      }
    }
  }
}