<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Weather Underground (WUnderground) - Home Assistant</title>
    <meta name="author" content="Home Assistant">
    <meta name="description" content="Instructions how to integrate Weather Underground (WUnderground) Weather within Home Assistant.">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://home-assistant.io/components/sensor.wunderground/">
    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="Weather Underground (WUnderground)">
    <meta property="og:site_name" content="Home Assistant">
    <meta property="og:url" content="https://home-assistant.io/components/sensor.wunderground/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Instructions how to integrate Weather Underground (WUnderground) Weather within Home Assistant.">
    <meta property="og:image" content="https://home-assistant.io/images/default-social.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@home_assistant">
    <meta name="twitter:title" content="Weather Underground (WUnderground)">
    <meta name="twitter:description" content="Instructions how to integrate Weather Underground (WUnderground) Weather within Home Assistant.">
    <meta name="twitter:image" content="https://home-assistant.io/images/default-social.png">
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>
  <body >
    <header class='site-header'>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/demo/favicon-192x192.png'>
    <span>Home Assistant</span>
  </a>
</div>
<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  <li><a href="/getting-started/">Getting started</a></li>
  <li><a href="/components/">Components</a></li>
  <li><a href="/docs/">Docs</a></li>
  <li><a href="/cookbook/">Examples</a></li>
  <li><a href="/developers/">Developers</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
  <li><a href='#' class='show-search'><i class="icon-search"></i></a></li>
</ul>
  </nav>
  <div class='search-container' style='display: none'>
    <div class='search'>
      <i class="icon-search"></i>
      <input id='search' placeholder='Search the docs…'>
      <a href='#' class='close'><i class="icon-remove-sign"></i></a>
    </div>
  </div>
</div>
  </div>
</div>
    </header>
    <div class="grid-wrapper">
      <div class="grid grid-center">
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
          <article class="page">
  <header>
    <h1 class="title indent">
      Weather Underground (WUnderground)
    </h1>
  </header>
  <hr class="divider">
  <p>The <code class="highlighter-rouge">wunderground</code> platform uses <a href="http://www.wunderground.com">Weather Underground</a> as a source for current weather information.</p>
<p class="note warning">
Obtain a WUnderground API key <a href="https://www.wunderground.com/weather/api">here</a>. A free account allows 500 requests per day and also a maximum of 10 per minute. See details <a href="https://www.wunderground.com/weather/api/d/pricing.html">here</a>.
</p>
<p>To add Wunderground to your installation, add the following to your <code class="highlighter-rouge">configuration.yaml</code> file:</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml entry</span>
<span class="s">sensor</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">wunderground</span>
    <span class="s">api_key</span><span class="pi">:</span> <span class="s">your_api_key</span>
    <span class="s">monitored_conditions</span><span class="pi">:</span>
      <span class="pi">-</span> <span class="s">alerts</span>
      <span class="pi">-</span> <span class="s">dewpoint_c</span>
</code></pre>
</div>
<p>Configuration variables:</p>
<ul>
  <li><strong>api_key</strong> (Required): The API key for Weather Underground. See above for details.</li>
  <li><strong>pws_id</strong> (Optional): You can enter a Personal Weather Station ID. The current list of Wunderground PWS stations is available <a href="https://www.wunderground.com/weatherstation/ListStations.asp">here</a>. If you do not enter a PWS ID, the current location information (latitude and longitude) from your <code class="highlighter-rouge">configuration.yaml</code> will be used to display weather conditions.</li>
  <li><strong>lang</strong> (Optional): Specify the language that the API returns. The current list of all Wunderground language codes is available <a href="https://www.wunderground.com/weather/api/d/docs?d=language-support">here</a>. If not specified, it defaults to English (EN).</li>
  <li><strong>latitude</strong> (<em>Optional</em>): Latitude coordinate to monitor weather of (required if <strong>longitude</strong> is specificed). Defaults to coordinates defined in your <code class="highlighter-rouge">configuration.yaml</code>.</li>
  <li><strong>longitude</strong> (<em>Optional</em>): Longitude coordinate to monitor weather of (required if <strong>latitude</strong> is specified). Defaults to coordinates defined in your <code class="highlighter-rouge">configuration.yaml</code>.</li>
  <li><strong>monitored_conditions</strong> array (<em>Required</em>): Conditions to display in the frontend. The following conditions can be monitored.
    <ul>
      <li><strong>alerts</strong>: Current severe weather advisories</li>
      <li><strong>dewpoint_c</strong>: Temperature in Celsius below which water droplets begin to condense and dew can form</li>
      <li><strong>dewpoint_f</strong>: Temperature in Fahrenheit below which water droplets begin to condense and dew can form</li>
      <li><strong>dewpoint_string</strong>: Text summary of dew point</li>
      <li><strong>feelslike_c</strong>: Feels like (or apparent) temperature in Celsius</li>
      <li><strong>feelslike_f</strong>: Feels like (or apparent) temperature in Fahrenheit</li>
      <li><strong>feelslike_string</strong>: Text summary of how the current temperature feels like</li>
      <li><strong>heat_index_c</strong>: Heat index (combined effects of the temperature and humidity of the air) in Celsius</li>
      <li><strong>heat_index_f</strong>: Heat index (combined effects of the temperature and humidity of the air) in Fahrenheit</li>
      <li><strong>heat_index_string</strong>: Text summary of current heat index</li>
      <li><strong>elevation</strong>: Elevation in feet</li>
      <li><strong>location</strong>: City and State</li>
      <li><strong>observation_time</strong>: Text summary of observation time</li>
      <li><strong>precip_today_in</strong>: Total precipitation in inches</li>
      <li><strong>precip_today_metric</strong>: Total precipitation in metric units</li>
      <li><strong>precip_today_string</strong>: Text summary of precipitation today</li>
      <li><strong>precip_1d_mm</strong> <a href="#1d"><sup>[1d]</sup></a>: Forecasted precipitation intensity in milimeters</li>
      <li><strong>precip_1d_in</strong> <a href="#1d"><sup>[1d]</sup></a>: Forecasted precipitation intensity in inches</li>
      <li><strong>precip_1d</strong> <a href="#1d"><sup>[1d]</sup></a>: Forecasted precipitation probability in %</li>
      <li><strong>pressure_in</strong>: Atmospheric air pressure in inches</li>
      <li><strong>pressure_mb</strong>: Atmospheric air pressure in millibars</li>
      <li><strong>pressure_trend</strong>: Atmospheric air presure trend signal (+/-)</li>
      <li><strong>relative_humidity</strong>: Relative humidity</li>
      <li><strong>station_id</strong>: Your personal weather station (PWS) ID</li>
      <li><strong>solarradiation</strong>: Current levels of solar radiation</li>
      <li><strong>temperature_string</strong>: Temperature text combinding Fahrenheit and Celsius</li>
      <li><strong>temp_c</strong>: Current temperature in Celsius</li>
      <li><strong>temp_f</strong>: Current temperature in Fahrenheit</li>
      <li><strong>temp_high_record_c</strong>: Maximum temperature meassured in Celsius</li>
      <li><strong>temp_high_record_f</strong>: Maximum temperature meassured in Fahrenheit</li>
      <li><strong>temp_low_record_c</strong>: Minimal temperature meassured in Celsius</li>
      <li><strong>temp_low_record_f</strong>: Minimal temperature meassured in Fahrenheit</li>
      <li><strong>temp_high_avg_c</strong>: Average high for today in Celsius</li>
      <li><strong>temp_high_avg_f</strong>: Average high for today in Fahrenheit</li>
      <li><strong>temp_low_avg_c</strong>: Average low for today in Celsius</li>
      <li><strong>temp_low_avg_f</strong>: Average low for today in Fahrenheit</li>
      <li><strong>temp_high_1d_c</strong> <a href="#1d"><sup>[1d]</sup></a>: Forecasted high temperature in Celsius</li>
      <li><strong>temp_high_1d_f</strong> <a href="#1d"><sup>[1d]</sup></a>: Forecasted high temperature in Fahrenheit</li>
      <li><strong>temp_low_1d_c</strong> <a href="#1d"><sup>[1d]</sup></a>: Forecasted low temperature in Celsius</li>
      <li><strong>temp_low_1d_f</strong> <a href="#1d"><sup>[1d]</sup></a>: Forecasted low temperature in Fahrenheit</li>
      <li><strong>UV</strong>: Current levels of UV radiation. See <a href="https://www.wunderground.com/resources/health/uvindex.asp">here</a> for explanation.</li>
      <li><strong>visibility_km</strong>: Average visibility in km</li>
      <li><strong>visibility_mi</strong>: Average visibility in miles</li>
      <li><strong>weather</strong>: A human-readable text summary with picture from Wunderground.</li>
      <li><strong>weather_1d</strong> <a href="#12h"><sup>[12h]</sup></a>: A human-readable weather forecast using imperial units.</li>
      <li><strong>weather_1d_metric</strong> <a href="#12h"><sup>[12h]</sup></a>: A human-readable weather forecast using metric units.</li>
      <li><strong>weather_1h</strong> <a href="#1h"><sup>[1h]</sup></a>: Weather conditions in 1 hour. (e.g. “Thunderstorm” etc.)</li>
      <li><strong>wind_degrees</strong>: Wind degrees</li>
      <li><strong>wind_dir</strong>: Wind direction</li>
      <li><strong>wind_gust_kph</strong>: Wind gusts speed in kph</li>
      <li><strong>wind_gust_mph</strong>: Wind gusts speed in mph</li>
      <li><strong>wind_gust_1d_kph</strong> <a href="#1d"><sup>[1d]</sup></a>: Max. forecasted Wind in kph</li>
      <li><strong>wind_gust_1d_mph</strong> <a href="#1d"><sup>[1d]</sup></a>: Max. forecasted Wind in mph</li>
      <li><strong>wind_kph</strong>: Current wind speed in kph</li>
      <li><strong>wind_mph</strong>: Current wind speed in mph</li>
      <li><strong>wind_1d_kph</strong> <a href="#1d"><sup>[1d]</sup></a>: Forecasted wind speed in kph</li>
      <li><strong>wind_1d_mph</strong> <a href="#1d"><sup>[1d]</sup></a>: Forecasted wind speed in mph</li>
      <li><strong>wind_string</strong>: Text summary of current wind conditions</li>
    </ul>
  </li>
</ul>
<p>All the conditions listed above will be updated every 5 minutes.</p>
<h3><a class="title-link" name="forecasts" href="#forecasts"></a> Forecasts</h3>
<p><em>12 hour forecasts</em></p>
<p>Monitored conditions marked above with <a name="12h">[12h]</a> are 12 hour forecasts. To get a forecast for different period/daytime replace the <code class="highlighter-rouge">_1d_</code> part of the sensor name.  e.g. <code class="highlighter-rouge">weather_2n</code> will give you forecast for tomorrow night. Valid values for day are <code class="highlighter-rouge">1</code> to <code class="highlighter-rouge">4</code> and valid values for daytime are <code class="highlighter-rouge">d</code> or <code class="highlighter-rouge">n</code>.</p>
<p><em>Daily forecasts</em></p>
<p>Conditions above marked with <a name="1d">[1d]</a> are daily forecasts. To get forecast for different day, replace the number
in <code class="highlighter-rouge">_1d_</code> part of the sensor name. Valid values are from <code class="highlighter-rouge">1</code> to <code class="highlighter-rouge">4</code>.</p>
<p><em>Hourly forecasts</em></p>
<p>Conditions marked with <a name="1h">[1h]</a> are hourly forecasts. To get forecast for different hour, replace the number
in the <code class="highlighter-rouge">_1h_</code> part of the sensor name with <code class="highlighter-rouge">1</code> to <code class="highlighter-rouge">36</code>. E.g. <code class="highlighter-rouge">weather_24h</code> will give you weather in 24 hours.</p>
<h3><a class="title-link" name="additional-examples" href="#additional-examples"></a> Additional examples</h3>
<h4>Daily forecast</h4>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="s">sensor</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">wunderground</span>
  <span class="pi">-</span> <span class="s">api_key</span><span class="pi">:</span> <span class="s">your_api_key</span>
    <span class="s">monitored_conditions</span><span class="pi">:</span>
      <span class="pi">-</span> <span class="s">weather_1d_metric</span>
      <span class="pi">-</span> <span class="s">weather_1n_metric</span>
      <span class="pi">-</span> <span class="s">weather_2d_metric</span>
      <span class="pi">-</span> <span class="s">weather_2n_metric</span>
      <span class="pi">-</span> <span class="s">weather_3d_metric</span>
      <span class="pi">-</span> <span class="s">weather_3n_metric</span>
      <span class="pi">-</span> <span class="s">weather_4d_metric</span>
      <span class="pi">-</span> <span class="s">weather_4n_metric</span>

<span class="s">group</span><span class="pi">:</span>
  <span class="s">dialy_forecast</span><span class="pi">:</span>
    <span class="s">name</span><span class="pi">:</span> <span class="s">Daily Forecast</span>
    <span class="s">entities</span><span class="pi">:</span>
      <span class="pi">-</span> <span class="s">sensor.pws_weather_1d_metric</span>
      <span class="pi">-</span> <span class="s">sensor.pws_weather_1n_metric</span>
      <span class="pi">-</span> <span class="s">sensor.pws_weather_2d_metric</span>
      <span class="pi">-</span> <span class="s">sensor.pws_weather_2n_metric</span>
      <span class="pi">-</span> <span class="s">sensor.pws_weather_3d_metric</span>
      <span class="pi">-</span> <span class="s">sensor.pws_weather_3n_metric</span>
      <span class="pi">-</span> <span class="s">sensor.pws_weather_4d_metric</span>
      <span class="pi">-</span> <span class="s">sensor.pws_weather_4n_metric</span>
</code></pre>
</div>
<p><img src="/images/screenshots/wunderground_daily_forecast.png" alt="Daily Forecast" /></p>
<h4>Weather overview</h4>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="s">sensor</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">wunderground</span>
  <span class="pi">-</span> <span class="s">api_key</span><span class="pi">:</span> <span class="s">your_api_key</span>
    <span class="s">monitored_conditions</span><span class="pi">:</span>
      <span class="pi">-</span> <span class="s">temp_high_record_c</span>
      <span class="pi">-</span> <span class="s">temp_high_1d_c</span>
      <span class="pi">-</span> <span class="s">temp_c</span>
      <span class="pi">-</span> <span class="s">temp_low_1d_c</span>
      <span class="pi">-</span> <span class="s">temp_low_record_c</span>
      <span class="pi">-</span> <span class="s">precip_1d</span>
      <span class="pi">-</span> <span class="s">precip_1d_mm</span>
      <span class="pi">-</span> <span class="s">wind_kph</span>
      <span class="pi">-</span> <span class="s">wind_1d_kph</span>
      <span class="pi">-</span> <span class="s">alerts</span>

<span class="s">group</span><span class="pi">:</span>
  <span class="s">weather_overview</span><span class="pi">:</span>
    <span class="s">name</span><span class="pi">:</span> <span class="s">Weather overview</span>
    <span class="s">entities</span><span class="pi">:</span>
      <span class="pi">-</span> <span class="s">sensor.pws_weather_1d_metric</span>
      <span class="pi">-</span> <span class="s">sensor.pws_temp_high_record_c</span>
      <span class="pi">-</span> <span class="s">sensor.pws_temp_high_1d_c</span>
      <span class="pi">-</span> <span class="s">sensor.pws_temp_c</span>
      <span class="pi">-</span> <span class="s">sensor.pws_temp_low_1d_c</span>
      <span class="pi">-</span> <span class="s">sensor.pws_temp_low_record_c</span>
      <span class="pi">-</span> <span class="s">sensor.pws_precip_1d</span>
      <span class="pi">-</span> <span class="s">sensor.pws_precip_1d_mm</span>
      <span class="pi">-</span> <span class="s">sensor.pws_wind_kph</span>
      <span class="pi">-</span> <span class="s">sensor.pws_wind_1d_kph</span>
      <span class="pi">-</span> <span class="s">sensor.pws_alerts</span>
</code></pre>
</div>
<p><img src="/images/screenshots/wunderground_weather_overview.png" alt="Weather overview" /></p>
<p class="note warning">
Note: While the platform is called “wunderground” the sensors will show up in Home Assistant as “PWS” (eg: sensor.pws_weather).
</p>
<p>Additional details about the API are available <a href="https://www.wunderground.com/weather/api/d/docs">here</a>.</p>
</article>
        </div>
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
    <section class="aside-module grid__item one-whole lap-one-half">
  <div class='edit-github'><a href='https://github.com/home-assistant/home-assistant.github.io/tree/current/source/_components/sensor.wunderground.markdown'>Edit this page on GitHub</a></div>
  <div class='brand-logo-container section'>
      <img src='/images/supported_brands/wunderground.png' />
  </div>
    <div class='section'>
    IoT class<sup><a href='/blog/2016/02/12/classifying-the-internet-of-things/#classifiers'><i class="icon-info-sign"></i></a></sup>: Cloud Polling
    </div>
    <div class='section'>
    Introduced in release: 0.27
    </div>
    <div class='section'>
    <h1 class="title delta">Category Weather</h1>
    <ul class='divided'>
        <li>
            <a href='/components/weather.bom/'>BOM Australia</a>
        </li>
        <li>
            <a href='/components/sensor.bom/'>BOM Australia Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.buienradar/'>Buienradar</a>
        </li>
        <li>
            <a href='/components/weather.buienradar/'>Buienradar Weather</a>
        </li>
        <li>
            <a href='/components/sensor.darksky/'>Dark Sky</a>
        </li>
        <li>
            <a href='/components/weather.metoffice/'>Met Office</a>
        </li>
        <li>
            <a href='/components/sensor.metoffice/'>Met Office Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.moon/'>Moon Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.nest_weather/'>Nest Weather Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.netatmo/'>Netatmo Sensor</a>
        </li>
        <li>
            <a href='/components/weather.openweathermap/'>OpenWeatherMap</a>
        </li>
        <li>
            <a href='/components/sensor.openweathermap/'>OpenWeatherMap Sensor</a>
        </li>
        <li>
            <a href='/components/sun/'>Sun</a>
        </li>
        <li>
            <a href='/components/sensor.swiss_hydrological_data/'>Swiss Hydrological Data</a>
        </li>
        <li>
            <a href='/components/binary_sensor.tapsaff/'>Taps Aff</a>
        </li>
        <li>
            Weather Underground (WUnderground)
        </li>
        <li>
            <a href='/components/sensor.yr/'>YR</a>
        </li>
        <li>
            <a href='/components/weather.yweather/'>Yahoo Weather</a>
        </li>
        <li>
            <a href='/components/sensor.yweather/'>Yahoo Weather Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.zamg/'>ZAMG Sensor</a>
        </li>
        <li>
            <a href='/components/weather.zamg/'>ZAMG Weather</a>
        </li>
    </ul>
    </div>
</section>
</div>
        </aside>
      </div>
    </div>
    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright">
  <a rel="me" href='https://twitter.com/home_assistant'><i class="icon-twitter"></i></a>
  <a rel="me" href='https://facebook.com/homeassistantio'><i class="icon-facebook"></i></a>
  <a rel="me" href='https://plus.google.com/110560654828510104551'><i class="icon-google-plus"></i></a>
  <a rel="me" href='https://github.com/home-assistant/home-assistant'><i class="icon-github"></i></a>
  <div class="credit">
    Contact us at <a href='mailto:hello@home-assistant.io'>hello@home-assistant.io</a> (no support!).<br>
    Website powered by <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>.<br />
    Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.
  </div>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">home-assistant.io</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
</div>
    </div>
  </div>
</div>
    </footer>
    <script>
  var _gaq=[['_setAccount','UA-57927901-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
  apiKey: 'ae96d94b201c5444c8a443093edf3efb',
  indexName: 'home-assistant',
  inputSelector: '#search',
  debug: false // Set debug to true if you want to inspect the dropdown
});
document.querySelector('.search .close').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'none';
});
document.querySelector('.show-search').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'block';
  document.getElementById('toggle').checked = false;
  document.querySelector('.search-container input').focus();
});
</script>
  </body>
</html>
