{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}"{% elsif page.layout == "landingpage" %} id="landingpage"{% endif %} 
  class="{% if page.layout == 'blog' or page.layout == 'post' %}bg-grey-primary{% endif %} relative">
    <!-- header -->
    {% include header.html %}
    <!-- searchBox -->
    {% include search.html %}
    <!-- main -->
    <main class="page-content">
    {{content}}
    </main>
    <!-- footer -->
    {% include footer.html %}
</body>
{% include scripts.html %}
</html>
