{% include site/head.html %}
  <body {% if page.body_id %} id="{{ page.body_id }}"{% endif %}>

    <header class='site-header'>

      <div class="alert-banner" style="background: #FF9800;color: white;text-align: center;display: flex;justify-content: space-around;">
        <div style="
            display: flex;
            align-items: center;
            padding: 0 8px;
        ">
          Make sure you run at least Home Assistant Core 2021.1.3
          <a href="/blog/2021/01/14/security-bulletin/" style="
              background: white;
              padding: 6px;
              color: #FF9800;
              margin-left: 8px;
              font-size: .8em;
              font-weight: 400;
              border-radius: 4px;
              letter-spacing: 0.05em;
              display: flex;
              align-items: center;
              ">
              MORE INFO 
              <svg viewBox="0 0 24 24" style="
                height: 20px;
                fill: currentcolor;
                flex-shrink: 0;
                ">
                <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path>
              </svg>
          </a>
        </div>
     </div>

      {% include site/header.html %}
    </header>
    <div class="page-content">

    {% if page.hero_unit %}
      {% include site/hero_unit.html %}
    {% endif %}

    <div class="grid-wrapper">
      <div class="grid grid-center">
        {% if page.is_post and page.sidebar == false %}
        <div class="grid__item four-fifths lap-one-whole palm-one-whole">
        {% elsif page.is_homepage %}
        <div class="grid__item one-whole">
        {% else %}
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
        {% endif %}

          {% if page.is_homepage %}
            {{ content }}
          {% else %}
            {{ content | output_modder }}
          {% endif %}
        </div>

        {% unless page.sidebar == false %}
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          {% include site/sidebar.html %}
        </aside>
        {% endunless %}
      </div>
    </div>

    <footer>
      {% include site/footer.html %}
    </footer>

  </div>
    {% include javascripts/scripts.html %}
  </body>
</html>
