---
layout: default 
---
<section class="container mx-auto relative pt-20 md:pt-[180px]" id="learn">
    <img src="{{ site.baseurl }}images/learn-bg.png" class="absolute min-w-[107%] h-auto left-[50%] translate-x-[-50%]" alt="learn-bg" loading="lazy">
    <div class="relative z-20">
        <h1 class="pt-[80px] sm:pt-[200px] pb-[55px] md:pb-[120px] text-white text-[32px] md:text-[68px] text-center font-bold">{{page.title}}</h1>
        <div class="learn-grid grid md:grid-cols-2 lg:grid-cols-3 tracking-[-0.02em] text-black">
            <div class="border-border-line border rounded-[40px] mb-10 p-7 md:py-14 md:px-2 bg-white text-center mx-2 md:mx-5">
                <div class="h-[34px] md:h-[70px] mb-10 text-center"><a href="{{guide.url}}"><img src="{{ site.baseurl }}images/icon/get-started.svg" class="m-auto h-full" alt="Get started" loading="lazy"></a></div>
                <a href="{{guide.url}}" class="text-lg md:text-4xl font-bold">Get started</a>
                <div class="hidden md:block mt-8">
                    <a href="/installation/" class="text-lg font-medium mb-5 block">Installation</a>
                    <a href="/getting-started/onboarding/" class="text-lg font-medium mb-5 block">Onboarding</a>
                    <a href="/getting-started/concepts-terminology/" class="text-lg font-medium mb-5 block">Concepts and terminology</a>
                    <a href="/getting-started/automation/" class="text-lg font-medium mb-5 block">Automation</a>
                    <a href="/getting-started/presence-detection/" class="text-lg font-medium mb-5 block">Presence detection</a>
                    <a href="/getting-started/join-the-community/" class="text-lg font-medium mb-5 block">Join the community</a>
                    <a href="/getting-started/configuration/" class="text-lg font-medium mb-5 block">Advanced configuration</a>
                </div>
            </div>
            <div class="border-border-line border rounded-[40px] mb-10 p-7 md:py-14 md:px-2 bg-white text-center mx-2 md:mx-5">
                <div class="h-[34px] md:h-[70px] mb-10 text-center"><a href="{{guide.url}}"><img src="{{ site.baseurl }}images/icon/automation.svg" class="m-auto h-full" alt="Automation" loading="lazy"></a></div>
                <a href="{{guide.url}}" class="text-lg md:text-4xl font-bold">Automation</a>
                <div class="hidden md:block mt-8">
                    <a href="/docs/automation/basics" class="text-lg font-medium mb-5 block">Basics</a>
                    <a href="/docs/automation/editor/" class="text-lg font-medium mb-5 block">Editor</a>
                    <a href="/docs/automation/trigger/" class="text-lg font-medium mb-5 block">Triggers</a>
                    <a href="/docs/automation/condition/" class="text-lg font-medium mb-5 block">Conditions</a>
                    <a href="/docs/automation/action/" class="text-lg font-medium mb-5 block">Actions</a>
                    <a href="/docs/automation/services/" class="text-lg font-medium mb-5 block">Services</a>
                    <a href="/docs/automation/templating/" class="text-lg font-medium mb-5 block">Templates</a>
                    <a href="/docs/automation/yaml/" class="text-lg font-medium mb-5 block">YAML</a>
                    <a href="/docs/automation/troubleshooting/" class="text-lg font-medium mb-5 block">Troubleshooting</a>
                </div>
            </div>
            <div class="border-border-line border rounded-[40px] mb-10 p-7 md:py-14 md:px-2 bg-white text-center mx-2 md:mx-5">
                <div class="h-[34px] md:h-[70px] mb-10 text-center"><a href="{{guide.url}}"><img src="{{ site.baseurl }}images/icon/automation.svg" class="m-auto h-full" alt="Automation blueprints" loading="lazy"></a></div>
                <a href="{{guide.url}}" class="text-lg md:text-4xl font-bold">Blueprints</a>
                <div class="hidden md:block mt-8">
                    <a href="/docs/automation/using_blueprints/" class="text-lg font-medium mb-5 block">Automation from blueprint</a>
                    <a href="/docs/blueprint/" class="text-lg font-medium mb-5 block">Creating blueprints</a>
                    <a href="/docs/blueprint/schema/" class="text-lg font-medium mb-5 block">Blueprint schema</a>
                    <a href="/docs/blueprint/selectors/" class="text-lg font-medium mb-5 block">Blueprint selectors</a>
                    <a href="https://community.home-assistant.io/c/blueprints-exchange/53" class="text-lg font-medium mb-5 block">Blueprint forum</a>
                </div>
            </div>
            {% assign sortedGuides = site.guides | sort: 'order' %}
            {% for guide in sortedGuides %}
            <div class="border-border-line border rounded-[40px] mb-10 p-7 md:py-14 md:px-2 bg-white text-center mx-2 md:mx-5">
                <div class="h-[34px] md:h-[70px] mb-10 text-center"><a href="{{guide.url}}"><img src="{{ site.baseurl }}{{guide.icon}}" class="m-auto h-full" alt="{{guide.title}}" loading="lazy"></a></div>
                <a href="{{guide.url}}" class="text-lg md:text-4xl font-bold">{{guide.title}}</a>
                <div class="hidden md:block mt-8">
                    {% assign guideContent = guide.content | markdownify %}
                    {% assign headers = guideContent | split: '<h2' %}
                    {% for header in headers %}
                        {% assign _string = header | split: '</h2' %}
                        {% capture _hAttrToStrip %}{{ _string[0] | split: '>' | first }}>{% endcapture %}
                        {% assign title = _string[0] | replace: _hAttrToStrip, '' %}
                        {% assign href = title | replace: ' ', '-' | downcase %}
                        <a href="{{guide.url}}#{{href}}" class="text-lg font-medium mb-5 block">{{title}}</a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>