section#join {
    isolation: isolate;

    .container {
        align-items: center;
        flex-direction: column;
        position: relative;
    }

    h2 {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-transform: unset;

        span:not(:first-child) {
            margin-top: 8px;

            @include bp(desktop) {
                margin-top: 24px;
            }
        }
    }

    p {
        max-width: 650px;
        text-align: center;
        text-wrap: balance;
        margin-top: 16px;

        @include bp(desktop) {
            margin-top: 40px;
        }
    }

    .buttons {
        margin-top: 52px;

        @include bp(desktop) {
            margin-top: 60px;
        }
    }

    .avatars {
        display: grid;
        // 12 cols
        grid-template-columns: repeat(12, 1fr);
        position: absolute;
        inset: 0;
        z-index: -1;

        &[data-dsap]:not([data-dsap-is="in"]):not([data-dsap-is="above"]) { // Reset after scroll up
            .avatar{
                opacity: 0;
            }
        }


        .avatar {
            justify-self: center;
            transition: opacity 0.5s ease-out;

            img {
                height: 48px;
                width: 48px;
                border-radius: 50%;
            }

            $list: 21,31,76,16,35,100,89,95,61,6,30,14;
            @for $i from 1 through 12 {                
                &:nth-child(#{$i}) {
                    $offset: nth($list, $i);
                    transform: translateY(calc(#{$offset} * 1%));
                    opacity: 1;
                    transition-delay: #{0.2 + ($i * 0.05)}s;
                    @debug $offset;
                }
            }
        }
    }
}