<header>
  {% if index %}
  <h1 class="beta">
    <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
  </h1>
  {% else %}
  <h1 class="title indent">{{ page.title }}</h1>
  {% endif %}

  {% unless post.meta == false %}
  <div class="meta clearfix">
    {% include blog/post/date.html %}{{ time }}
    {% include blog/post/tags.html %}
    {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
      <a class="pull-right" href="{% if index %}{{ site.url }}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">
        Comments <i class="icon-comment"></i>
      </a>
    {% endif %}
  </div>
  {% endunless %}
</header>

{% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}

{% if excerpted == 'true' and index %}
<div class="entry-content clearfix">
  {{ content | excerpt }}
  <a class="btn pull-right" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
</div>
{% else %}
  {{ content }}
{% endif %}