<header>
  {% if index %}
  <h1>
    <a href="{{ post.url }}">{{ post.title }}</a>
  </h1>
  {% else %}
  <h1>{{ page.title }}</h1>
  {% endif %}

  {% unless post.meta == false %}
  <div class="meta clearfix">
    {% include post/author.html %}
    {% include blog/post/date.html %}{{ time }}
    {% include blog/post/tags.html %}
    {% if page.comments != false and post.comments != false %}
      <a class='comments'
         href="{% if index %}{{ post.url }}{% endif %}#post-comments"
         >Comments</a>
    {% endif %}
  </div>
  {% endunless %}
</header>

{% if index %}
  <div class="entry-content clearfix">
    {% assign blog_post_link = 'href="' | append: post.url | append:"#" %}
    {{ post.excerpt | replace: 'href="#', blog_post_link }}
    {% if post.content contains site.excerpt_separator %}
      <a class="btn pull-right" href="{{ post.url }}#read-more">{{ site.excerpt_link }}</a>
    {% endif %}
  </div>
{% else %}
  {{ post.content | replace: site.excerpt_separator, '<a name="read-more"></a>' }}
{% endif %}
