<section class="wwha-blurb aside-module grid__item one-whole">
  <h2 class="h1 title epsilon no_toc">{% icon "mdi:information-outline" %} What is Works with Home Assistant?</h2>
  <p>Works with Home Assistant is constantly evolving as we welcome new partners to the program. To keep up to date, <a href="/blog/categories/works-with-home-assistant/">follow this blog</a> and check out our <a href="https://works-with.home-assistant.io/certified-products/" target="_blank" rel="noopener">certified device list</a> for products that have made the grade!</p>
</section>
