section#chipset {

    .cols {
        display: flex;
        gap: 20px;

        .col {
            flex-grow: 1;
            flex-basis: 0;

            &:last-child {
                .card {
                    --border-gradient-angle: 0deg;
                }
            }
        }
    }

    .card {
        --border-gradient-angle: 180deg;
        
        align-items: flex-start;
        background: linear-gradient(var(--border-gradient-angle), rgba(0, 95, 190, 0) 0%, rgba(0, 95, 190, 1) 100%);
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;
        isolation: isolate;
        overflow: hidden;
        position: relative;
        padding: 40px;

        &:before {
            background: linear-gradient(180deg, rgba(0, 19, 38, 0.80) 16.83%, rgba(0, 0, 0, 0.80) 100%);
            border-radius: 16px;
            content: '';
            inset: 1px;
            position: absolute;
            z-index: -10;
        }

        &--image{
            padding: 0;

            img{
                border-radius: 16px;
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }

    }

}