section#collaboration {
    .card {
        background-image: url('/images/connect/zbt-2/collaboration-bg.webp');
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 200%;
        min-height: 530px;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 16px;
        
        @include bp(tablet) {
            background-position: bottom left;
            background-size: 50%;
            min-height: 330px;
        }
        
        &:after {
            content: '';
            
        }
        
        h3 {
            text-wrap: balance;
        }
        
        .card-inner {
            margin-left: auto;
            display: flex;
            flex-direction: column;
            gap: 18px;

            @include bp(tablet) {
                width: calc(6 / 12 * 100%);
            }

        }
    }
}