section#second-generation-platform {
    isolation: isolate;

    &,
    p {
        color: #002E3E;
        --typography-paragraph-color: #002E3E;
    }

    .section-inner{
        align-items: flex-start;
    }

    img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .cols{
        justify-content: space-between;
        .col{
            flex-grow: 1;
            flex-basis: 0;
            max-width: 580px;
        }
    }
}