<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Sonos - Home Assistant</title>
    <meta name="author" content="Home Assistant">
    <meta name="description" content="Instructions how to integrate Sonos devices into Home Assistant.">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://home-assistant.io/components/media_player.sonos/">
    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="Sonos">
    <meta property="og:site_name" content="Home Assistant">
    <meta property="og:url" content="https://home-assistant.io/components/media_player.sonos/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Instructions how to integrate Sonos devices into Home Assistant.">
    <meta property="og:image" content="https://home-assistant.io/images/default-social.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@home_assistant">
    <meta name="twitter:title" content="Sonos">
    <meta name="twitter:description" content="Instructions how to integrate Sonos devices into Home Assistant.">
    <meta name="twitter:image" content="https://home-assistant.io/images/default-social.png">
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>
  <body >
    <header class='site-header'>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/demo/favicon-192x192.png'>
    <span>Home Assistant</span>
  </a>
</div>
<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  <li><a href="/getting-started/">Getting started</a></li>
  <li><a href="/components/">Components</a></li>
  <li><a href="/docs/">Docs</a></li>
  <li><a href="/cookbook/">Examples</a></li>
  <li><a href="/developers/">Developers</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
  <li><a href='#' class='show-search'><i class="icon-search"></i></a></li>
</ul>
  </nav>
  <div class='search-container' style='display: none'>
    <div class='search'>
      <i class="icon-search"></i>
      <input id='search' placeholder='Search the docs…'>
      <a href='#' class='close'><i class="icon-remove-sign"></i></a>
    </div>
  </div>
</div>
  </div>
</div>
    </header>
    <div class="grid-wrapper">
      <div class="grid grid-center">
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
          <article class="page">
  <header>
    <h1 class="title indent">
      Sonos
    </h1>
  </header>
  <hr class="divider">
  <p>The <code class="highlighter-rouge">sonos</code> platform allows you to control your <a href="http://www.sonos.com">Sonos</a> HiFi wireless speakers and audio components from Home Assistant. By default it supports auto-discovery provided by Home Assistant, and you don’t need to add anything to your <code class="highlighter-rouge">configuration.yaml</code>. Alternatively, there are some manual configuration options, listed as follows:</p>
<p>To add your Sonos components to your installation, add the following to your <code class="highlighter-rouge">configuration.yaml</code> file.  It will perform Sonos auto-discovery of your connected speakers.</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml entry using Sonos discovery</span>
<span class="s">media_player</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">sonos</span>
</code></pre>
</div>
<p>If you have multiple network devices, you can provide the IP address of the device that should be used for Sonos auto-discovery.</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml entry using Sonos discovery on a specific interface</span>
<span class="s">media_player</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">sonos</span>
    <span class="s">interface_addr</span><span class="pi">:</span> <span class="s">192.0.2.1</span>
</code></pre>
</div>
<p>You can also specify one or more hosts to connect to if they cannot be found with Sonos auto-discovery.</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml entry with manually specified addresses</span>
<span class="s">media_player</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">sonos</span>
    <span class="s">hosts</span><span class="pi">:</span> <span class="s">192.0.2.25</span>
</code></pre>
</div>
<p>or, for multiple hosts:</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml entry with manually specified addresses</span>
<span class="s">media_player</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">sonos</span>
    <span class="s">hosts</span><span class="pi">:</span>
      <span class="pi">-</span> <span class="s">192.0.2.25</span>
      <span class="pi">-</span> <span class="s">192.0.2.26</span>
      <span class="pi">-</span> <span class="s">192.0.2.27</span>
</code></pre>
</div>
<h3><a class="title-link" name="service-sonos_snapshot" href="#service-sonos_snapshot"></a> Service <code class="highlighter-rouge">sonos_snapshot</code></h3>
<p>Take a snapshot of what is currently playing on one or more speakers. This service, and the following one, are useful if you want to play a doorbell or notification sound and resume playback afterwards. If no <code class="highlighter-rouge">entity_id</code> is provided, all speakers are snapshotted.</p>
<table>
  <thead>
    <tr>
      <th>Service data attribute</th>
      <th>Optional</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code class="highlighter-rouge">entity_id</code></td>
      <td>no</td>
      <td>String or list of strings that point at <code class="highlighter-rouge">entity_id</code>s of coordinator speakers.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">with_group</code></td>
      <td>yes</td>
      <td>Should be also snapshot the group state of the speaker.</td>
    </tr>
  </tbody>
</table>
<h3><a class="title-link" name="service-sonos_restore" href="#service-sonos_restore"></a> Service <code class="highlighter-rouge">sonos_restore</code></h3>
<p>Restore a previously taken snapshot of one or more speakers. If no <code class="highlighter-rouge">entity_id</code> is provided, all speakers are restored.</p>
<table>
  <thead>
    <tr>
      <th>Service data attribute</th>
      <th>Optional</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code class="highlighter-rouge">entity_id</code></td>
      <td>no</td>
      <td>String or list of strings that point at <code class="highlighter-rouge">entity_id</code>s of coordinator speakers.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">with_group</code></td>
      <td>yes</td>
      <td>Should be also restore the group state of the speaker. Only if was snapshot with group.</td>
    </tr>
  </tbody>
</table>
<h3><a class="title-link" name="service-sonos_join" href="#service-sonos_join"></a> Service <code class="highlighter-rouge">sonos_join</code></h3>
<p>Do group players together under a single coordinator. That will make a new group or join to exists group.</p>
<table>
  <thead>
    <tr>
      <th>Service data attribute</th>
      <th>Optional</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code class="highlighter-rouge">master</code></td>
      <td>no</td>
      <td>A single <code class="highlighter-rouge">entity_id</code> that will become/hold the coordinator speaker.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">entity_id</code></td>
      <td>no</td>
      <td>String or list of a single <code class="highlighter-rouge">entity_id</code> that will group to master speaker.</td>
    </tr>
  </tbody>
</table>
<h3><a class="title-link" name="service-sonos_unjoin" href="#service-sonos_unjoin"></a> Service <code class="highlighter-rouge">sonos_unjoin</code></h3>
<p>Remove one or more speakers from a group of speakers. If no <code class="highlighter-rouge">entity_id</code> is provided, all speakers are unjoined.</p>
<table>
  <thead>
    <tr>
      <th>Service data attribute</th>
      <th>Optional</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code class="highlighter-rouge">entity_id</code></td>
      <td>no</td>
      <td>String or list of <code class="highlighter-rouge">entity_id</code>s that will be separated from their coordinator speaker.</td>
    </tr>
  </tbody>
</table>
<h3><a class="title-link" name="service-sonos_set_sleep_timer" href="#service-sonos_set_sleep_timer"></a> Service <code class="highlighter-rouge">sonos_set_sleep_timer</code></h3>
<p>Sets a timer that will turn off a speaker by tapering the volume down to 0 after a certain amount of time. Protip: If you set the sleep_time value to 0, then the speaker will immediately start tapering the volume down.</p>
<table>
  <thead>
    <tr>
      <th>Service data attribute</th>
      <th>Optional</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code class="highlighter-rouge">entity_id</code></td>
      <td>no</td>
      <td>String or list of <code class="highlighter-rouge">entity_id</code>s that will have their timers set. Must be a coordinator speaker.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">sleep_time</code></td>
      <td>no</td>
      <td>Integer number of seconds that the speaker should wait until it starts tapering. Cannot exceed 86399 (one day).</td>
    </tr>
  </tbody>
</table>
<h3><a class="title-link" name="service-sonos_clear_sleep_timer" href="#service-sonos_clear_sleep_timer"></a> Service <code class="highlighter-rouge">sonos_clear_sleep_timer</code></h3>
<p>Clear the sleep timer on a speaker, if one is set.</p>
<table>
  <thead>
    <tr>
      <th>Service data attribute</th>
      <th>Optional</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code class="highlighter-rouge">entity_id</code></td>
      <td>no</td>
      <td>String or list of <code class="highlighter-rouge">entity_id</code>s that will have their timers cleared. Must be a coordinator speaker.</td>
    </tr>
  </tbody>
</table>
<h3><a class="title-link" name="service-sonos_update_alarm" href="#service-sonos_update_alarm"></a> Service <code class="highlighter-rouge">sonos_update_alarm</code></h3>
<p>Update an existing sonos alarm.</p>
<table>
  <thead>
    <tr>
      <th>Service data attribute</th>
      <th>Optional</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code class="highlighter-rouge">entity_id</code></td>
      <td>no</td>
      <td>String or list of <code class="highlighter-rouge">entity_id</code>s that will have their timers cleared. Must be a coordinator speaker.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">alarm_id</code></td>
      <td>no</td>
      <td>Integer that is used in Sonos to refer to your alarm.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">time</code></td>
      <td>yes</td>
      <td>Time to set the alarm.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">volume</code></td>
      <td>yes</td>
      <td>Float for volume level.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">enabled</code></td>
      <td>yes</td>
      <td>Boolean for whether or not to enable this alarm.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">include_linked_zones</code></td>
      <td>yes</td>
      <td>Boolean that defines if the alarm also plays on grouped players.</td>
    </tr>
  </tbody>
</table>
</article>
        </div>
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
    <section class="aside-module grid__item one-whole lap-one-half">
  <div class='edit-github'><a href='https://github.com/home-assistant/home-assistant.github.io/tree/current/source/_components/media_player.sonos.markdown'>Edit this page on GitHub</a></div>
  <div class='brand-logo-container section'>
      <img src='/images/supported_brands/sonos.png' />
  </div>
    <div class='section'>
    IoT class<sup><a href='/blog/2016/02/12/classifying-the-internet-of-things/#classifiers'><i class="icon-info-sign"></i></a></sup>: Local Polling
    </div>
    <div class='section'>
    Introduced in release: 0.7.3
    </div>
    <div class='section'>
      This is a platform for
      <a href='/components/media_player/'>the Media Player component</a>.
    </div>
    <div class='section'>
    <h1 class="title delta">Category Media Player</h1>
    <ul class='divided'>
        <li>
            <a href='/components/media_player.anthemav/'>Anthem A/V Receivers</a>
        </li>
        <li>
            <a href='/components/media_player.apple_tv/'>Apple TV</a>
        </li>
        <li>
            <a href='/components/media_player.clementine/'>Clementine Music Player</a>
        </li>
        <li>
            <a href='/components/media_player.denonavr/'>Denon AVR Network Receivers</a>
        </li>
        <li>
            <a href='/components/media_player.denon/'>Denon Network Receivers</a>
        </li>
        <li>
            <a href='/components/media_player.directv/'>DirecTV</a>
        </li>
        <li>
            <a href='/components/media_player.dunehd/'>DuneHD media players</a>
        </li>
        <li>
            <a href='/components/media_player.emby/'>Emby</a>
        </li>
        <li>
            <a href='/components/media_player.firetv/'>FireTV</a>
        </li>
        <li>
            <a href='/components/media_player.frontier_silicon/'>Frontier Silicon Internet Radios</a>
        </li>
        <li>
            <a href='/components/media_player.cast/'>Google Cast</a>
        </li>
        <li>
            <a href='/components/media_player.gpmdp/'>Google Play Music Desktop Player</a>
        </li>
        <li>
            <a href='/components/media_player.gstreamer/'>Gstreamer</a>
        </li>
        <li>
            <a href='/components/media_player.kodi/'>Kodi</a>
        </li>
        <li>
            <a href='/components/media_player.lg_netcast/'>LG Netcast TV</a>
        </li>
        <li>
            <a href='/components/media_player.webostv/'>LG webOS Smart TV</a>
        </li>
        <li>
            <a href='/components/media_player.openhome/'>Linn / Openhome</a>
        </li>
        <li>
            <a href='/components/media_player.squeezebox/'>Logitech Squeezebox</a>
        </li>
        <li>
            <a href='/components/media_player.mpchc/'>MPC-HC</a>
        </li>
        <li>
            <a href='/components/media_player.mpd/'>Music Player Daemon (MPD)</a>
        </li>
        <li>
            <a href='/components/media_player.nad/'>NAD</a>
        </li>
        <li>
            <a href='/components/media_player.nadtcp/'>NAD tcp</a>
        </li>
        <li>
            <a href='/components/media_player.onkyo/'>Onkyo</a>
        </li>
        <li>
            <a href='/components/media_player.liveboxplaytv/'>Orange Livebox Play TV</a>
        </li>
        <li>
            <a href='/components/media_player.panasonic_viera/'>Panasonic Viera TV</a>
        </li>
        <li>
            <a href='/components/media_player.pandora/'>Pandora</a>
        </li>
        <li>
            <a href='/components/media_player.philips_js/'>Philips TV</a>
        </li>
        <li>
            <a href='/components/media_player.pioneer/'>Pioneer Network Receivers</a>
        </li>
        <li>
            <a href='/components/media_player.plex/'>Plex</a>
        </li>
        <li>
            <a href='/components/sensor.plex/'>Plex Activity Monitor</a>
        </li>
        <li>
            <a href='/components/media_player.roku/'>Roku</a>
        </li>
        <li>
            <a href='/components/media_player.russound_rnet/'>Russound RNET</a>
        </li>
        <li>
            <a href='/components/media_player.samsungtv/'>Samsung Smart TV</a>
        </li>
        <li>
            <a href='/components/media_player.aquostv/'>Sharp Aquos TV</a>
        </li>
        <li>
            <a href='/components/media_player.snapcast/'>Snapcast</a>
        </li>
        <li>
            Sonos
        </li>
        <li>
            <a href='/components/media_player.braviatv/'>Sony Bravia TV</a>
        </li>
        <li>
            <a href='/components/media_player.soundtouch/'>Soundtouch</a>
        </li>
        <li>
            <a href='/components/media_player.spotify/'>Spotify</a>
        </li>
        <li>
            <a href='/components/media_player.universal/'>Universal</a>
        </li>
        <li>
            <a href='/components/media_player.vlc/'>VLC</a>
        </li>
        <li>
            <a href='/components/media_player.volumio/'>Volumio Media Player</a>
        </li>
        <li>
            <a href='/components/media_player.yamaha/'>Yamaha Network Receivers</a>
        </li>
        <li>
            <a href='/components/media_player.cmus/'>cmus</a>
        </li>
        <li>
            <a href='/components/media_player.itunes/'>iTunes</a>
        </li>
    </ul>
    </div>
</section>
</div>
        </aside>
      </div>
    </div>
    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright">
  <a rel="me" href='https://twitter.com/home_assistant'><i class="icon-twitter"></i></a>
  <a rel="me" href='https://facebook.com/homeassistantio'><i class="icon-facebook"></i></a>
  <a rel="me" href='https://plus.google.com/110560654828510104551'><i class="icon-google-plus"></i></a>
  <a rel="me" href='https://github.com/home-assistant/home-assistant'><i class="icon-github"></i></a>
  <div class="credit">
    Contact us at <a href='mailto:hello@home-assistant.io'>hello@home-assistant.io</a> (no support!).<br>
    Website powered by <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>.<br />
    Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.
  </div>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">home-assistant.io</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
</div>
    </div>
  </div>
</div>
    </footer>
    <script>
  var _gaq=[['_setAccount','UA-57927901-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
  apiKey: 'ae96d94b201c5444c8a443093edf3efb',
  indexName: 'home-assistant',
  inputSelector: '#search',
  debug: false // Set debug to true if you want to inspect the dropdown
});
document.querySelector('.search .close').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'none';
});
document.querySelector('.show-search').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'block';
  document.getElementById('toggle').checked = false;
  document.querySelector('.search-container input').focus();
});
</script>
  </body>
</html>
