<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>MQTT JSON Light - Home Assistant</title>
    <meta name="author" content="Home Assistant">
    <meta name="description" content="Instructions for how to setup MQTT JSON lights within Home Assistant.">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://home-assistant.io/components/light.mqtt_json/">
    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="MQTT JSON Light">
    <meta property="og:site_name" content="Home Assistant">
    <meta property="og:url" content="https://home-assistant.io/components/light.mqtt_json/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Instructions for how to setup MQTT JSON lights within Home Assistant.">
    <meta property="og:image" content="https://home-assistant.io/images/default-social.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@home_assistant">
    <meta name="twitter:title" content="MQTT JSON Light">
    <meta name="twitter:description" content="Instructions for how to setup MQTT JSON lights within Home Assistant.">
    <meta name="twitter:image" content="https://home-assistant.io/images/default-social.png">
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>
  <body >
    <header class='site-header'>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/demo/favicon-192x192.png'>
    <span>Home Assistant</span>
  </a>
</div>
<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  <li><a href="/getting-started/">Getting started</a></li>
  <li><a href="/components/">Components</a></li>
  <li><a href="/docs/">Docs</a></li>
  <li><a href="/cookbook/">Examples</a></li>
  <li><a href="/developers/">Developers</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
  <li><a href='#' class='show-search'><i class="icon-search"></i></a></li>
</ul>
  </nav>
  <div class='search-container' style='display: none'>
    <div class='search'>
      <i class="icon-search"></i>
      <input id='search' placeholder='Search the docs…'>
      <a href='#' class='close'><i class="icon-remove-sign"></i></a>
    </div>
  </div>
</div>
  </div>
</div>
    </header>
    <div class="grid-wrapper">
      <div class="grid grid-center">
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
          <article class="page">
  <header>
    <h1 class="title indent">
      MQTT JSON Light
    </h1>
  </header>
  <hr class="divider">
  <p>The <code class="highlighter-rouge">mqtt_json</code> light platform lets you control a MQTT-enabled light that can receive <a href="https://en.wikipedia.org/wiki/JSON">JSON</a> messages.</p>
<p>This platform supports on/off, brightness, RGB colors, XY colors, color temperature, transitions, short/long flashing and white values. The messages sent to/from the lights look similar to this, omitting fields when they aren’t needed:</p>
<div class="language-json highlighter-rouge"><pre class="highlight"><code><span class="p">{</span><span class="w">
  </span><span class="nt">"brightness"</span><span class="p">:</span><span class="w"> </span><span class="mi">255</span><span class="p">,</span><span class="w">
  </span><span class="nt">"color_temp"</span><span class="p">:</span><span class="w"> </span><span class="mi">155</span><span class="p">,</span><span class="w">
  </span><span class="nt">"color"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
    </span><span class="nt">"r"</span><span class="p">:</span><span class="w"> </span><span class="mi">255</span><span class="p">,</span><span class="w">
    </span><span class="nt">"g"</span><span class="p">:</span><span class="w"> </span><span class="mi">255</span><span class="p">,</span><span class="w">
    </span><span class="nt">"b"</span><span class="p">:</span><span class="w"> </span><span class="mi">255</span><span class="p">,</span><span class="w">
    </span><span class="nt">"x"</span><span class="p">:</span><span class="w"> </span><span class="mf">0.123</span><span class="p">,</span><span class="w">
    </span><span class="nt">"y"</span><span class="p">:</span><span class="w"> </span><span class="mf">0.123</span><span class="w">
  </span><span class="p">},</span><span class="w">
  </span><span class="nt">"effect"</span><span class="p">:</span><span class="w"> </span><span class="s2">"colorloop"</span><span class="p">,</span><span class="w">
  </span><span class="nt">"state"</span><span class="p">:</span><span class="w"> </span><span class="s2">"ON"</span><span class="p">,</span><span class="w">
  </span><span class="nt">"transition"</span><span class="p">:</span><span class="w"> </span><span class="mi">2</span><span class="p">,</span><span class="w">
  </span><span class="nt">"white_value"</span><span class="p">:</span><span class="w"> </span><span class="mi">150</span><span class="w">
</span><span class="p">}</span><span class="w">
</span></code></pre>
</div>
<p>In an ideal scenario, the MQTT device will have a state topic to publish state changes. If these messages are published with the RETAIN flag, the MQTT light will receive an instant state update after subscription and will start with the correct state. Otherwise, the initial state of the light will be off.</p>
<p>When a state topic is not available, the light will work in optimistic mode. In this mode, the light will immediately change state after every command. Otherwise, the light will wait for state confirmation from the device (message from <code class="highlighter-rouge">state_topic</code>).</p>
<p>Optimistic mode can be forced, even if state topic is available. Try enabling it if the light is operating incorrectly.</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml entry</span>
<span class="s">light</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">mqtt_json</span>
    <span class="s">command_topic</span><span class="pi">:</span> <span class="s2">"</span><span class="s">home/rgb1/set"</span>
</code></pre>
</div>
<p>Configuration variables:</p>
<ul>
  <li><strong>command_topic</strong> (<em>Required</em>): The MQTT topic to publish commands to change the light’s state.</li>
  <li><strong>brightness</strong> (<em>Optional</em>): Flag that defines if the light supports brightness. Default is false.</li>
  <li><strong>color_temp</strong> (<em>Optional</em>): Flag that defines if the light supports color temperature. Default is false.</li>
  <li><strong>effect</strong> (<em>Optional</em>): Flag that defines if the light supports effects. Default is false.</li>
  <li><strong>effect_list</strong> (<em>Optional</em>): The list of effects the light supports.</li>
  <li><strong>flash_time_long</strong> (<em>Optional</em>): The duration, in seconds, of a “long” flash. Default is 10.</li>
  <li><strong>flash_time_short</strong> (<em>Optional</em>): The duration, in seconds, of a “short” flash. Default is 2.</li>
  <li><strong>name</strong> (<em>Optional</em>): The name of the light. Default is “MQTT JSON Light.”</li>
  <li><strong>optimistic</strong> (<em>Optional</em>): Flag that defines if the light works in optimistic mode. Default is true if no state topic defined, else false.</li>
  <li><strong>qos</strong> (<em>Optional</em>): The maximum QoS level of the state topic. Default is 0 and will also be used to publishing messages.</li>
  <li><strong>retain</strong> (<em>Optional</em>): If the published message should have the retain flag on or not.</li>
  <li><strong>rgb</strong> (<em>Optional</em>): Flag that defines if the light supports RGB colors. Default is false.</li>
  <li><strong>state_topic</strong> (<em>Optional</em>): The MQTT topic subscribed to receive state updates.</li>
  <li><strong>white_value</strong> (<em>Optional</em>): Flag that defines if the light supports white values. Default is false.</li>
  <li><strong>xy</strong> (<em>Optional</em>): Flag that defines if the light supports XY colors. Default is false.</li>
</ul>
<p class="note warning">
  Make sure that your topics match exact. <code class="highlighter-rouge">some-topic/</code> and <code class="highlighter-rouge">some-topic</code> are different topics.
</p>
<p class="note warning">
  XY and RGB can not be used at the same time. If both are provided, XY overrides RGB.
</p>
<h2><a class="title-link" name="comparison-of-light-mqtt-platforms" href="#comparison-of-light-mqtt-platforms"></a> Comparison of light MQTT platforms</h2>
<table>
  <thead>
    <tr>
      <th>Function</th>
      <th><a href="https://home-assistant.io/components/light.mqtt/"><code class="highlighter-rouge">mqtt</code></a></th>
      <th><a href="https://home-assistant.io/components/light.mqtt_json/"><code class="highlighter-rouge">mqtt_json</code></a></th>
      <th><a href="https://home-assistant.io/components/light.mqtt_template/"><code class="highlighter-rouge">mqtt_template</code></a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Brightness</td>
      <td>✔</td>
      <td>✔</td>
      <td>✔</td>
    </tr>
    <tr>
      <td>Color temperature</td>
      <td>✔</td>
      <td>✔</td>
      <td>✔</td>
    </tr>
    <tr>
      <td>Effects</td>
      <td>✔</td>
      <td>✔</td>
      <td>✔</td>
    </tr>
    <tr>
      <td>Flashing</td>
      <td>✘</td>
      <td>✔</td>
      <td>✔</td>
    </tr>
    <tr>
      <td>RGB Color</td>
      <td>✔</td>
      <td>✔</td>
      <td>✔</td>
    </tr>
    <tr>
      <td>Transitions</td>
      <td>✘</td>
      <td>✔</td>
      <td>✔</td>
    </tr>
    <tr>
      <td>XY Color</td>
      <td>✔</td>
      <td>✔</td>
      <td>✘</td>
    </tr>
    <tr>
      <td>White Value</td>
      <td>✔</td>
      <td>✔</td>
      <td>✔</td>
    </tr>
  </tbody>
</table>
<h2><a class="title-link" name="examples" href="#examples"></a> Examples</h2>
<p>In this section you find some real life examples of how to use this sensor.</p>
<h3><a class="title-link" name="brightness-and-rgb-support" href="#brightness-and-rgb-support"></a> Brightness and RGB support</h3>
<p>To enable a light with brightness and RGB support in your installation, add the following to your <code class="highlighter-rouge">configuration.yaml</code> file:</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml entry</span>
<span class="s">light</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">mqtt_json</span>
    <span class="s">name</span><span class="pi">:</span> <span class="s">mqtt_json_light_1</span>
    <span class="s">state_topic</span><span class="pi">:</span> <span class="s2">"</span><span class="s">home/rgb1"</span>
    <span class="s">command_topic</span><span class="pi">:</span> <span class="s2">"</span><span class="s">home/rgb1/set"</span>
    <span class="s">brightness</span><span class="pi">:</span> <span class="s">true</span>
    <span class="s">rgb</span><span class="pi">:</span> <span class="s">true</span>
</code></pre>
</div>
<h3><a class="title-link" name="brightness-and-no-rgb-support" href="#brightness-and-no-rgb-support"></a> Brightness and no RGB support</h3>
<p>To enable a light with brightness (but no color support) in your installation, add the following to your <code class="highlighter-rouge">configuration.yaml</code> file:</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml entry</span>
<span class="s">light</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">mqtt_json</span>
    <span class="s">name</span><span class="pi">:</span> <span class="s">mqtt_json_light_1</span>
    <span class="s">state_topic</span><span class="pi">:</span> <span class="s2">"</span><span class="s">home/rgb1"</span>
    <span class="s">command_topic</span><span class="pi">:</span> <span class="s2">"</span><span class="s">home/rgb1/set"</span>
    <span class="s">brightness</span><span class="pi">:</span> <span class="s">true</span>
</code></pre>
</div>
<h3><a class="title-link" name="implementations" href="#implementations"></a> Implementations</h3>
<ul>
  <li>
    <p>A full example of custom lighting using this platform and an ESP8266 microcontroller can be found <a href="https://github.com/corbanmailloux/esp-mqtt-rgb-led">here</a>. It supports on/off, brightness, transitions, RGB colors, and flashing.</p>
  </li>
  <li>
    <p>There is also another implementation forked from the above repo, it supports all the same features but is made for addressable LED strips using FastLED on a NodeMCU V3 it can be found <a href="https://github.com/JammyDodger231/nodemcu-mqtt-rgb-led">here</a>.</p>
  </li>
  <li>
    <p><a href="https://github.com/mertenats/Open-Home-Automation/tree/master/ha_mqtt_rgbw_light_with_discovery">MQTT JSON Light</a> is another implementation for ESP8266 including <a href="/docs/mqtt/discovery/">MQTT discovery</a>.</p>
  </li>
</ul>
</article>
        </div>
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
    <section class="aside-module grid__item one-whole lap-one-half">
  <div class='edit-github'><a href='https://github.com/home-assistant/home-assistant.github.io/tree/current/source/_components/light.mqtt_json.markdown'>Edit this page on GitHub</a></div>
  <div class='brand-logo-container section'>
      <img src='/images/supported_brands/mqtt.png' />
  </div>
    <div class='section'>
    IoT class<sup><a href='/blog/2016/02/12/classifying-the-internet-of-things/#classifiers'><i class="icon-info-sign"></i></a></sup>: depends
    </div>
    <div class='section'>
    Introduced in release: 0.26
    </div>
    <div class='section'>
      This is a platform for
      <a href='/components/light/'>the Lights component</a>.
    </div>
          <div class='section'>
          <h1 class='title delta'>Related components</h1>
          <ul class='divided'>
        <li><a href='/components/device_tracker.mqtt_json/'>
          JSON MQTT Device Tracker
        </a></li>
    </ul>
    </div>
    <div class='section'>
    <h1 class="title delta">Category Light</h1>
    <ul class='divided'>
        <li>
            <a href='/components/light.avion/'>Avi-on</a>
        </li>
        <li>
            <a href='/components/light.wemo/'>Belkin WeMo Lights</a>
        </li>
        <li>
            <a href='/components/light.blinksticklight/'>Blinkstick</a>
        </li>
        <li>
            <a href='/components/light.blinkt/'>Blinkt!</a>
        </li>
        <li>
            <a href='/components/light.decora/'>Decora</a>
        </li>
        <li>
            <a href='/components/light.enocean/'>EnOcean Light</a>
        </li>
        <li>
            <a href='/components/light.flux_led/'>Flux Led/MagicLight</a>
        </li>
        <li>
            <a href='/components/light.homematic/'>Homematic Light</a>
        </li>
        <li>
            <a href='/components/light.hyperion/'>Hyperion</a>
        </li>
        <li>
            <a href='/components/light.tradfri/'>IKEA Trådfri lights</a>
        </li>
        <li>
            <a href='/components/light.isy994/'>ISY994 Light</a>
        </li>
        <li>
            <a href='/components/light.insteon_local/'>Insteon (Local) Light</a>
        </li>
        <li>
            <a href='/components/light.insteon_hub/'>Insteon Hub Light</a>
        </li>
        <li>
            <a href='/components/light.insteon_plm/'>Insteon PLM Light</a>
        </li>
        <li>
            <a href='/components/light.knx/'>KNX Light</a>
        </li>
        <li>
            <a href='/components/light.lifx/'>LIFX</a>
        </li>
        <li>
            <a href='/components/light.limitlessled/'>LimitlessLED</a>
        </li>
        <li>
            <a href='/components/light.litejet/'>LiteJet Light</a>
        </li>
        <li>
            <a href='/components/light.lutron_caseta/'>Lutron Caseta Light</a>
        </li>
        <li>
            <a href='/components/light.lutron/'>Lutron Light</a>
        </li>
        <li>
            MQTT JSON Light
        </li>
        <li>
            <a href='/components/light.mqtt/'>MQTT Light</a>
        </li>
        <li>
            <a href='/components/light.mqtt_template/'>MQTT Template Light</a>
        </li>
        <li>
            <a href='/components/light.mysensors/'>MySensors Light</a>
        </li>
        <li>
            <a href='/components/light.osramlightify/'>Osram Lightify</a>
        </li>
        <li>
            <a href='/components/light.rpi_gpio_pwm/'>PWM LED</a>
        </li>
        <li>
            <a href='/components/light.hue/'>Philips Hue</a>
        </li>
        <li>
            <a href='/components/light.piglow/'>Piglow</a>
        </li>
        <li>
            <a href='/components/light.qwikswitch/'>QwikSwitch Light</a>
        </li>
        <li>
            <a href='/components/light.rflink/'>RFLink Light</a>
        </li>
        <li>
            <a href='/components/light.rfxtrx/'>RFXtrx Light</a>
        </li>
        <li>
            <a href='/components/light.scsgate/'>SCSGate Light</a>
        </li>
        <li>
            <a href='/components/light.sensehat/'>Sense HAT Light</a>
        </li>
        <li>
            <a href='/components/light.tellstick/'>TellStick Light</a>
        </li>
        <li>
            <a href='/components/light.template/'>Template Light</a>
        </li>
        <li>
            <a href='/components/light.tikteck/'>Tikteck</a>
        </li>
        <li>
            <a href='/components/light.vera/'>Vera Light</a>
        </li>
        <li>
            <a href='/components/light.wink/'>Wink Light</a>
        </li>
        <li>
            <a href='/components/light.x10/'>X10</a>
        </li>
        <li>
            <a href='/components/light.yeelightsunflower/'>Yeelight Sunflower Bulb</a>
        </li>
        <li>
            <a href='/components/light.yeelight/'>Yeelight Wifi Bulb</a>
        </li>
        <li>
            <a href='/components/light.zwave/'>Z-Wave Light</a>
        </li>
        <li>
            <a href='/components/light.zengge/'>Zengge</a>
        </li>
        <li>
            <a href='/components/light.zha/'>ZigBee Home Automation Light</a>
        </li>
        <li>
            <a href='/components/light.zigbee/'>ZigBee Light</a>
        </li>
        <li>
            <a href='/components/light.mystrom/'>myStrom WiFi Bulb</a>
        </li>
    </ul>
    </div>
</section>
</div>
        </aside>
      </div>
    </div>
    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright">
  <a rel="me" href='https://twitter.com/home_assistant'><i class="icon-twitter"></i></a>
  <a rel="me" href='https://facebook.com/homeassistantio'><i class="icon-facebook"></i></a>
  <a rel="me" href='https://plus.google.com/110560654828510104551'><i class="icon-google-plus"></i></a>
  <a rel="me" href='https://github.com/home-assistant/home-assistant'><i class="icon-github"></i></a>
  <div class="credit">
    Contact us at <a href='mailto:hello@home-assistant.io'>hello@home-assistant.io</a> (no support!).<br>
    Website powered by <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>.<br />
    Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.
  </div>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">home-assistant.io</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
</div>
    </div>
  </div>
</div>
    </footer>
    <script>
  var _gaq=[['_setAccount','UA-57927901-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
  apiKey: 'ae96d94b201c5444c8a443093edf3efb',
  indexName: 'home-assistant',
  inputSelector: '#search',
  debug: false // Set debug to true if you want to inspect the dropdown
});
document.querySelector('.search .close').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'none';
});
document.querySelector('.show-search').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'block';
  document.getElementById('toggle').checked = false;
  document.querySelector('.search-container input').focus();
});
</script>
  </body>
</html>
