<div class="feature-cards">
  <div class="card">
    <div class="card-header">
      <i class="icon-lightbulb"></i>
      Works with over 1000 brands
    </div>
    <div class="card-content">
      <p>
        Home Assistant integrates with over a thousand different devices
        and services.
      </p>

      <p>
        Once started, Home Assistant will automatically scan your network for
        known devices and allow you to easily set them up.
      </p>
      <a class="button" href="/integrations">EXPLORE INTEGRATIONS</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <i class="icon-gears"></i>
      Powerful automations
    </div>
    <div class="card-content">
      <p>
        Once you have integrated all your devices at home, you can unleash Home
        Assistant’s advanced automation engine to make your home work for you.
      </p>

      <ul>
        <li>Turn on the light when the sun sets or when coming home</li>
        <li>Alert you when you leave your garage door open.</li>
      </ul>
      <a class="button" href="/docs/automation">EXPLORE AUTOMATIONS</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <i class="icon-puzzle-piece"></i>
      Extend your system with add-ons
    </div>
    <div class="card-content">
      <p>
        Home Assistant is not just limited to Home Assistant. Easily install
        other applications that will help you manage your home.
      </p>

      <ul>
        <li>Run AdGuard, a DNS-based ad blocker</li>
        <li>Run third party automation engines like NodeRed</li>
        <li>Turn Home Assistant into a Spotify Connect target</li>
      </ul>
      <a class="button" href="/addons">EXPLORE ADD-ONS</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <i class="icon-shield"></i>
      All your smart home data stays local
    </div>
    <div class="card-content">
      <p>Home Assistant keeps your data local, no need for a cloud.</p>

      <p>
        Home Assistant communicates with your devices locally, and will fallback
        to pulling in data from the cloud if there is no other option. No data
        is stored in the cloud, and everything is processed locally.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <i class="icon-mobile-phone"></i>
      Companion Mobile Apps
    </div>
    <div class="card-content">
      <p>
        Use the official Home Assistant apps, a convenient companion to quickly
        control your devices and be notified when things happen in your home,
        even on your wrist using the Apple Watch.
      </p>

      <p>
        The apps can also be used to send your location home to use presence
        detection as part of your automations. Data is sent directly to your
        home, no access by third-parties.
      </p>
      <a
        class="button"
        href="https://companion.home-assistant.io/"
        target="_blank"
      >
        DOWNLOAD APPS
      </a>
    </div>
  </div>
    <div class="card">
    <div class="card-header">
      <i class="icon-sun"></i>
      Home Energy Management
    </div>
    <div class="card-content">
      <p>
        Home Assistant allows you to get on top of your energy use with its
        home energy management feature. Gain new insights,
        optimize your solar panel production, plan energy usage and save money.
      </p>

      <a
        class="button"
        href="/home-energy-management/"
        aria-label="Learn more about Home Energy Management"
      >
        LEARN MORE
      </a>
    </div>
  </div>
</div>
