<section class="grid getting-started">
  <div class="grid__item one-whole">
    <h2 class="sub-title">Let's get started.</h2>
    <p class="lead">A variety of options for pragmatists and tinkerers alike.</p>
  </div>

  <div class="getting-started-grid grid__item one-whole">

    <div class="getting-started-device" id="Raspberry_Pi">
      <div class="content">
        <div class="badge">Easy</div>
        <img src="/images/frontpage/raspberry-pi.png" alt="Raspberry Pi"/>
        <div>
          <h3>Raspberry Pi</h3>
          <p>A low-cost DIY solution to get started with Home Assistant</p>
        </div>
        <a class="button" aria-label="Learn more about installing Home Assistant on Raspberry Pi" href="/installation/raspberrypi">Learn more</a>
      </div>
    </div>

    <div class="getting-started-device" id="HA_Green">
      <div class="content">
        <div class="badge">Easiest</div>
        <img src="/images/frontpage/ha-green.png" alt="Home Assistant Green"/>
        <div>
          <h3>Home Assistant Green</h3>
          <p>The easiest way to get started with Home Assistant</p>
        </div>
        <a class="button" aria-label="Learn more about Home Assistant Green" href="/green">Learn more</a>
      </div>
    </div>

    <div class="getting-started-device" id="HA_Yellow">
      <div class="content">
        <div class="badge">Intermediate</div>
        <img src="/images/frontpage/ha-yellow.png" alt="Home Assistant Yellow"/>
        <div>
          <h3>Home Assistant Yellow</h3>
          <p>The powerful way to run and customize Home Assistant to your needs</p>
        </div>
        <a class="button" aria-label="Learn more about Home Assistant Yellow" href="/yellow">Learn more</a>
      </div>
    </div>
  </div>

  <div class="grid__item one-half palm-one-whole">
    <h2>Need more options?</h2>
    <p>Home Assistant can repurpose and be installed on various hardware, such as an Odroid or a generic x86-64 machine.</p>
    <p>The Home Assistant Operating System allows you to install Home Assistant on these devices even if you have little to no Linux experience.</p>
    <a class="button" href="/installation#install-on-other-hardware">Get started</a>
  </div>
</section>