<h2 class="title">Automate</h2>
<hr>
<p>Set up advanced rules to control devices and bring your home alive.</p>
<p>Do you want to &hellip;</p>
<ul>
  <li>have the lights turn on when the sun sets and you are home?</li>
  <li>have the lights turn on when anyone comes home and it is dark?</li>
  <li>dim the lights when you start watching a movie on your Chromecast?</li>
  <li>receive a message when the lights turn on while you are not at home?</li>
</ul>
<p><a href='/getting-started/automation/'>We've got you covered.</a></p>
<p><a href='/examples/'>View examples by the community.</a></p>
