<h2 class="title">Observe</h2>
<hr>
<p>Home Assistant will track the state of all the devices in your home, so you don't have to.</p>
<div class="supported-brands clearfix">
  <a href="/integrations/ecobee/">
    <img alt="Ecobee" src="https://brands.home-assistant.io/ecobee/logo.png"/>
  </a>
  <a href="/integrations/hue/">
    <img alt="Philips Hue" src="https://brands.home-assistant.io/hue/logo.png"/>
  </a>
  <a href="/integrations/cast/">
    <img alt="Google Cast" src="https://brands.home-assistant.io/cast/logo.png"/>
  </a>
  <a href="/integrations/google_assistant/">
    <img alt="Google Assistant" src="https://brands.home-assistant.io/google_assistant/logo.png"/>
  </a>
  <a href="/integrations/mqtt/">
    <img alt="MQTT" src="https://brands.home-assistant.io/mqtt/logo.png"/>
  </a>
  <a href="/integrations/wemo/">
    <img alt="Belkin WeMo" src="https://brands.home-assistant.io/wemo/logo.png"/>
  </a>
  <a href="/integrations/shelly/">
    <img alt="Shelly" src="https://brands.home-assistant.io/shelly/logo.png"/>
  </a>
  <a href="/integrations/kodi/">
    <img alt="Kodi" src="https://brands.home-assistant.io/kodi/logo.png"/>
  </a>
  <a href="/integrations/plex/">
    <img alt="Plex" src="https://brands.home-assistant.io/plex/logo.png"/>
  </a>
  <a href="/integrations/tradfri/">
    <img alt="IKEA Tradfri" src="https://brands.home-assistant.io/tradfri/logo.png"/>
  </a>
  <a href="/integrations/vera/">
    <img alt="Vera" src="https://brands.home-assistant.io/vera/logo.png"/>
  </a>
  <a href="/integrations/sonos/">
    <img alt="Sonos" src="https://brands.home-assistant.io/sonos/logo.png"/>
  </a>
  <a href="/integrations/zha/">
    <img alt="Zigbee Home Automation" src="https://brands.home-assistant.io/zha/logo.png"/>
  </a>
  <a href="/integrations/zwave_js/">
    <img alt="Z-Wave JS" src="https://brands.home-assistant.io/zwave_js/logo.png"/>
  </a>
</div>

<p class="pull-right">
  <a href="/integrations/">Browse all &raquo;</a>
</p>
