<h2 class="title">Observe</h2>
<hr>
<p>Home Assistant will track the state of all the devices in your home, so you don't have to.</p>
<div class='supported-brands clearfix'>
  <a href='/components/climate.nest/'>
    <img src='/images/supported_brands/nest.png' />
  </a>
  <a href='/components/ifttt/'>
    <img src='/images/supported_brands/ifttt.png' />
  </a>
  <a href='/components/light.hue/'>
    <img src='/images/supported_brands/philips_hue.png' />
  </a>
  <a href='/components/media_player.cast/'>
    <img src='/images/supported_brands/google_cast.png' />
  </a>
  <a href='/components/mqtt/'>
    <img src='/images/supported_brands/mqtt.png' />
  </a>
  <a href='/components/switch.wemo/'>
    <img src='/images/supported_brands/belkin_wemo.png' />
  </a>
  <a href='/components/notify.pushbullet/'>
    <img src='/images/supported_brands/pushbullet.png' />
  </a>
  <a href='/components/media_player.kodi/'>
    <img src='/images/supported_brands/kodi.png' />
  </a>
  <a href='/components/media_player.plex/'>
    <img src='/images/supported_brands/plex.png' />
  </a>
  <a href='/components/device_tracker.netgear/'>
    <img src='/images/supported_brands/netgear.png' />
  </a>
  <a href='/components/vera/'>
    <img src='/images/supported_brands/vera.png' />
  </a>
  <a href='/components/device_tracker.luci/'>
    <img src='/images/supported_brands/openwrt.png' />
  </a>
  <a href='/components/arduino/'>
    <img src='/images/supported_brands/arduino.png' />
  </a>
  <!-- <a href='/components/wink/'>
    <img src='/images/supported_brands/wink.png' />
  </a> -->
</div>

<p class='pull-right'><a href='/components/'>Browse all &raquo;</a></p>

