<h2 class="title">Observe</h2>
<hr>
<p>Home Assistant will track the state of all the devices in your home, so you don't have to.</p>
<div class='supported-brands clearfix'>
  <a href='/integrations/ecobee/'>
    <img src='/images/supported_brands/ecobee.png' alt="Ecobee" />
  </a>
  <a href='/integrations/ifttt/'>
    <img src='/images/supported_brands/ifttt.png' alt="IFTTT" />
  </a>
  <a href='/integrations/hue/'>
    <img src='/images/supported_brands/philips_hue.png' alt="Philips Hue" />
  </a>
  <a href='/integrations/cast/'>
    <img src='https://brands.home-assistant.io/cast/logo.png' srcset="https://brands.home-assistant.io/cast/logo@2x.png 2x" alt="Google Cast"/>
  </a>
  <a href='/integrations/mqtt/'>
    <img src='/images/supported_brands/mqtt.png' alt="MQTT" />
  </a>
  <a href='/integrations/wemo/'>
    <img src='/images/supported_brands/belkin_wemo.png' alt="Belkin WeMo" />
  </a>
  <a href='/integrations/pushbullet#notifications/'>
    <img src='/images/supported_brands/pushbullet.png' alt="Pushbullet" />
  </a>
  <a href='/integrations/kodi/'>
    <img src='/images/supported_brands/kodi.png' alt="Kodi" />
  </a>
  <a href='/integrations/plex/'>
    <img src='/images/supported_brands/plex.png' alt="Plex" />
  </a>
  <a href='/integrations/tradfri/'>
    <img src='/images/supported_brands/ikea.svg' width='165' alt="IKEA" />
  </a>
  <a href='/integrations/vera/'>
    <img src='/images/supported_brands/vera.png' alt="Vera" />
  </a>
  <a href='/integrations/luci/'>
    <img src='/images/supported_brands/openwrt.png' alt="OpenWRT" />
  </a>
  <a href='/integrations/arduino/'>
    <img src='/images/supported_brands/arduino.png' alt="Arduino" />
  </a>
</div>

<p class='pull-right'><a href='/integrations/'>Browse all &raquo;</a></p>

