<h2 class="title">Control</h2>
<hr>
<p>Control all your devices from a single, mobile-friendly, interface.</p>
<p>
  Home Assistant allows you to control all your devices without storing any of your data in the cloud. We like to keep your privacy private.
</p>
<a href='https://play.google.com/store/apps/details?id=io.homeassistant.companion.android&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/></a>