<ul class="menu pull-right">
  <li>
    <a>Getting started <i class="icon icon-caret-down"></i></a>
    <ul>
      <li><a href='/getting-started/'>Installing Home Assistant</a></li>
      <li><a href='/getting-started/configuration/'>Configuration Basics</a></li>
      <li><a href='/getting-started/devices/'>Adding devices</a></li>
      <li><a href='/getting-started/presence-detection/'>Presence Detection</a></li>
      <li><a href='/getting-started/automation/'>Automation</a></li>
      <li><a href='/topics/'>Advanced Topics</a></li>
    </ul>
  </li>
  <li><a href='/components/'>Components</a></li>
  <li><a href='/cookbook/'>Examples</a></li>
  <li><a href="/developers/">Developers</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
</ul>
