<ul class="menu pull-right">
  {% comment %}
    Example dropdown menu
    <li>
      <a>Getting started <i class="icon icon-caret-down"></i></a>
      <ul>
        <li><a href="/getting-started/">Installing Home Assistant</a></li>
        <li><a href="/getting-started/configuration/">Configuration Basics</a></li>
      </ul>
    </li>
  {% endcomment %}
  <li><a href="/getting-started/">Getting started</a></li>
  <li><a href="/components/">Components</a></li>
  <li><a href="/docs/">Docs</a></li>
  <li><a href="/cookbook/">Examples</a></li>
  <li><a href="/developers/">Developers</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
  <li><a href='#' class='show-search'><i class="icon-search"></i></a></li>
</ul>
