<ul class="menu pull-right">
  <li>
    <a href="{{ root_url }}/getting-started/">Getting started</a>
    <ul>
      <li><a href='/getting-started/'>Installing Home Assistant</a></li>
      <li><a href='/getting-started/configuration.html'>Initial configuration</a></li>
      <li><a href='/components/'>Component overview</a></li>
      <li><a href='/getting-started/android.html'>Setting up Android</a></li>
    </ul>
  </li>
  <li>
    <a href="{{ root_url }}/developers/">Developers</a>
    <ul>
      <li><a href="{{ root_url }}/developers/architecture.html">Architecture</a></li>
      <li><a href="{{ root_url}}/developers/frontend.html">Frontend development</a></li>
      <li><a href="{{ root_url}}/developers/creating_components.html">
        Creating components
      </a></li>
      <li><a href="{{ root_url}}/developers/add_new_platform.html">
        Adding platform support
      </a></li>
      <li><a href="{{ root_url }}/developers/api.html">API</a></li>
      <li><a href="{{ root_url }}/developers/credits.html">Credits</a></li>
    </ul>
  </li>
  <li><a href="{{ root_url }}/blog/">Blog</a></li>
  <li><a href="https://groups.google.com/forum/#!forum/home-assistant-dev">Need help?</a></li>
</ul>
