<section class="grid sponsors-and-press">
  <div class="grid__item one-whole">
    <h2 class="sub-title">In the press</h2>
    <p class="lead">Trusted by home automation experts and more than a million households.</p>
  </div>

  <div class="seen-press grid__item one-whole">
    <a
      href="https://www.theverge.com/2021/9/16/22678088/home-assistant-amber-smart-home-hub-specs-release-date-price"
      target="_blank"
      rel="noopener"
      ><div class="material-card"><img alt="The Verge logo" src="/images/press/theverge.svg"
    /></div></a>

    <a
      href="https://arstechnica.com/information-technology/2021/03/how-to-achieve-smart-home-nirvana-or-home-automation-without-subscription/"
      target="_blank"
      rel="noopener"
      ><div class="material-card"><img
        alt="ArsTechnica.com logo"
        src="/images/press/arstechnica.svg"
    /></div></a>

    <a
      href="https://tweakers.net/reviews/8704/paulus-schoutsen-home-assistant-concurreert-met-alles-wat-via-de-cloud-gaat.html"
      target="_blank"
      rel="noopener"
      ><div class="material-card"><img alt="Tweakers.net logo" src="/images/press/tweakers.png"
    /></div></a>

    <a
      href="https://www.youtube.com/watch?v=x7pSkVarixU"
      target="_blank"
      rel="noopener"
      ><div class="material-card"><img
        alt="Linus Tech Tips logo"
        class="square"
        src="/images/press/ltt.svg"
    /></div></a>

    <a
      href="https://www.troyhunt.com/iot-unravelled-part-1-its-a-mess-but-then-theres-home-assistant/"
      target="_blank"
      rel="noopener"
      ><div class="material-card"><img
        class="square round"
        alt="Troy Hunt logo"
        src="/images/press/troyhunt.jpg"
    /></div></a>

    <a
      href="https://www.tomshardware.com/news/raspberry-pi-home-assistant-amber"
      target="_blank"
      rel="noopener"
      ><div class="material-card"><img
        alt="Tom's Hardware logo"
        src="/images/press/tomshardware.svg"
    /></div></a>

    <a
      href="https://www.producthunt.com/posts/home-assistant"
      target="_blank"
      rel="noopener"
      ><div class="material-card"><img
        alt="ProductHunt.com logo"
        src="/images/press/producthunt.com.png"
    /></div></a>

    <a
      href="https://www.linux.com/news/home-assistant-python-approach-home-automation-video"
      target="_blank"
      rel="noopener"
      ><div class="material-card"><img alt="Linux.com logo" src="/images/press/linux.com.png"
    /></div></a>

    <a
      href="https://opensource.com/article/17/7/home-automation-primer"
      target="_blank"
      rel="noopener"
      ><div class="material-card"><img
        alt="OpenSource.com logo"
        src="/images/press/opensource.com.svg"
    /></div></a>

    <a
      href="http://www.linux-magazine.com/Issues/2017/203/Home-Assistant"
      target="_blank"
      rel="noopener"
      ><div class="material-card"><img
        alt="Linux Magazine logo"
        src="/images/press/LinuxMagazine.png"
    /></div></a>

    <a
      href="https://www.heise.de/select/ct/2017/26/1513910625909214"
      target="_blank"
      rel="noopener"
      ><div class="material-card"><img alt="Ct logo" src="/images/press/ct.png"
    /></div></a>
  </div>
</section>