 <h1>Awaken your home</h1>
 <hr>
 <p class="lead">
Home Assistant is an open-source home automation platform running on Python 3. Track and control all devices at home and automate control. Installation in less than a minute.
</p>
<p class='hero-buttons'>
  <a href='{{ root_url }}/demo/' target='_blank' class='btn'>View demo</a>
  <a href='{{ root_url }}/getting-started/' class='btn'>Get started</a>
  <a href='https://www.github.com/balloob/home-assistant' class='btn'>Browse code on GitHub</a>
</p>