<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Group - Home Assistant</title>
    <meta name="author" content="Home Assistant">
    <meta name="description" content="Instructions how to setup groups within Home Assistant.">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://home-assistant.io/components/group/">
    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="Group">
    <meta property="og:site_name" content="Home Assistant">
    <meta property="og:url" content="https://home-assistant.io/components/group/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Instructions how to setup groups within Home Assistant.">
    <meta property="og:image" content="https://home-assistant.io/images/default-social.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@home_assistant">
    <meta name="twitter:title" content="Group">
    <meta name="twitter:description" content="Instructions how to setup groups within Home Assistant.">
    <meta name="twitter:image" content="https://home-assistant.io/images/default-social.png">
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>
  <body >
    <header class='site-header'>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/demo/favicon-192x192.png'>
    <span>Home Assistant</span>
  </a>
</div>
<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  <li><a href="/getting-started/">Getting started</a></li>
  <li><a href="/components/">Components</a></li>
  <li><a href="/docs/">Docs</a></li>
  <li><a href="/cookbook/">Examples</a></li>
  <li><a href="/developers/">Developers</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
  <li><a href='#' class='show-search'><i class="icon-search"></i></a></li>
</ul>
  </nav>
  <div class='search-container' style='display: none'>
    <div class='search'>
      <i class="icon-search"></i>
      <input id='search' placeholder='Search the docs…'>
      <a href='#' class='close'><i class="icon-remove-sign"></i></a>
    </div>
  </div>
</div>
  </div>
</div>
    </header>
    <div class="grid-wrapper">
      <div class="grid grid-center">
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
          <article class="page">
  <header>
    <h1 class="title indent">
      Group
    </h1>
  </header>
  <hr class="divider">
  <p>Groups allow the user to combine multiple entities into one. A group can be promoted to a <strong>view</strong> by setting <code class="highlighter-rouge">view: yes</code> under the group definition. This will make the group available as a new tab in the frontend.</p>
<p>Check the <strong>Set State</strong> <img src="/images/screenshots/developer-tool-states-icon.png" class="no-shadow" height="38" /> page from the <strong>Developer Tools</strong> and browse the <strong>Current entities:</strong> listing for all available entities.</p>
<p>By default, every group appears in the HOME tab. If you create a group <code class="highlighter-rouge">default_view</code> it will REPLACE the contents of the HOME tab so you can customize the HOME tab as you wish.</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml entry</span>
<span class="s">group</span><span class="pi">:</span>
  <span class="s">default_view</span><span class="pi">:</span>
    <span class="s">view</span><span class="pi">:</span> <span class="s">yes</span>
    <span class="s">icon</span><span class="pi">:</span> <span class="s">mdi:home</span> 
    <span class="s">entities</span><span class="pi">:</span>
      <span class="pi">-</span> <span class="s">group.kitchen</span>
      <span class="pi">-</span> <span class="s">group.awesome_people</span>
      <span class="pi">-</span> <span class="s">group.climate</span>
  <span class="s">kitchen</span><span class="pi">:</span>
    <span class="s">name</span><span class="pi">:</span> <span class="s">Kitchen</span>
    <span class="s">entities</span><span class="pi">:</span>
      <span class="pi">-</span> <span class="s">switch.kitchen_pin_3</span>
  <span class="s">upstairs</span><span class="pi">:</span>
    <span class="s">name</span><span class="pi">:</span> <span class="s">Kids</span>
    <span class="s">icon</span><span class="pi">:</span> <span class="s">mdi:account-multiple</span>
    <span class="s">view</span><span class="pi">:</span> <span class="s">yes</span>
    <span class="s">entities</span><span class="pi">:</span>
      <span class="pi">-</span> <span class="s">input_boolean.notify_home</span>
      <span class="pi">-</span> <span class="s">camera.demo_camera</span>
      <span class="pi">-</span> <span class="s">device_tracker.demo_paulus</span>
      <span class="pi">-</span> <span class="s">group.garden</span>
  <span class="s">climate</span><span class="pi">:</span>
    <span class="s">name</span><span class="pi">:</span> <span class="s">Climate</span>
    <span class="s">view</span><span class="pi">:</span> <span class="s">no</span>
    <span class="s">entities</span><span class="pi">:</span>
      <span class="pi">-</span> <span class="s">sensor.bedroom_temp</span>
      <span class="pi">-</span> <span class="s">sensor.porch_temp</span>
  <span class="s">awesome_people</span><span class="pi">:</span>
    <span class="s">name</span><span class="pi">:</span> <span class="s">Awesome People</span>
    <span class="s">view</span><span class="pi">:</span> <span class="s">no</span>
    <span class="s">entities</span><span class="pi">:</span>
      <span class="pi">-</span> <span class="s">device_tracker.dad_smith</span>
      <span class="pi">-</span> <span class="s">device_tracker.mom_smith</span>
</code></pre>
</div>
<p>Configuration variables:</p>
<ul>
  <li><strong>view</strong> (<em>Optional</em>): If yes then the entry will be shown as a view (tab) at the top.</li>
  <li><strong>name</strong> (<em>Optional</em>): Name of the group.</li>
  <li><strong>icon</strong> (<em>Optional</em>): If the group is a view, this icon will show at the top in the frontend instead of the name. If it’s not a view, then the icon shows when this group is used in another group.</li>
  <li><strong>control</strong> (<em>Optional</em>): Set value to <code class="highlighter-rouge">hidden</code>. If hidden then the group switch will be hidden.</li>
  <li><strong>entities</strong> (<em>Required</em>): array or comma delimited string, list of entities to group.</li>
</ul>
<p class="img">
<img src="/images/blog/2016-01-release-12/views.png" />
Example of groups shown as views in the frontend.
</p>
<p>If all entities in a group are switches or lights then Home Assistant adds a switch at the top of the card that turns them all on/off at once. If you want to hide this switch, set <code class="highlighter-rouge">control</code> to <code class="highlighter-rouge">hidden</code>.</p>
<p>You can create views (tabs) that contain other groups.
Notice in the example below that in order to refer to the group “Living Room”, you use <code class="highlighter-rouge">group.living_room</code> (lowercase and spaces replaced with underscores).</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml entry that shows two groups, referred to in a view group (tab)</span>
  <span class="s">Living Room</span><span class="pi">:</span>
    <span class="s">control</span><span class="pi">:</span> <span class="s">hidden</span>
    <span class="s">entities</span><span class="pi">:</span>
      <span class="pi">-</span> <span class="s">light.light_family_1</span>
      <span class="pi">-</span> <span class="s">binary_sensor.motion_living</span>

  <span class="s">Bedroom</span><span class="pi">:</span> <span class="s">light.light_bedroom, switch.sleeping</span>

  <span class="s">Rooms</span><span class="pi">:</span>
    <span class="s">view</span><span class="pi">:</span> <span class="s">yes</span>
    <span class="s">name</span><span class="pi">:</span> <span class="s">Rooms</span>
    <span class="s">entities</span><span class="pi">:</span>
      <span class="pi">-</span> <span class="s">group.living_room</span>
      <span class="pi">-</span> <span class="s">group.bedroom</span>
</code></pre>
</div>
</article>
        </div>
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
    <section class="aside-module grid__item one-whole lap-one-half">
  <div class='edit-github'><a href='https://github.com/home-assistant/home-assistant.github.io/tree/current/source/_components/group.markdown'>Edit this page on GitHub</a></div>
  <div class='brand-logo-container section'>
      <img src='/images/supported_brands/home-assistant.png' />
  </div>
          <div class='section'>
          <h1 class='title delta'>Related components</h1>
          <ul class='divided'>
        <li><a href='/components/notify.group/'>
          Notify Group
        </a></li>
    </ul>
    </div>
    <div class='section'>
    <h1 class="title delta">Category Organization</h1>
    <ul class='divided'>
        <li>
            Group
        </li>
        <li>
            <a href='/components/scene/'>Scenes</a>
        </li>
        <li>
            <a href='/components/zone/'>Zone</a>
        </li>
    </ul>
    </div>
</section>
</div>
        </aside>
      </div>
    </div>
    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright">
  <a rel="me" href='https://twitter.com/home_assistant'><i class="icon-twitter"></i></a>
  <a rel="me" href='https://facebook.com/homeassistantio'><i class="icon-facebook"></i></a>
  <a rel="me" href='https://plus.google.com/110560654828510104551'><i class="icon-google-plus"></i></a>
  <a rel="me" href='https://github.com/home-assistant/home-assistant'><i class="icon-github"></i></a>
  <div class="credit">
    Contact us at <a href='mailto:hello@home-assistant.io'>hello@home-assistant.io</a> (no support!).<br>
    Website powered by <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>.<br />
    Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.
  </div>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">home-assistant.io</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
</div>
    </div>
  </div>
</div>
    </footer>
    <script>
  var _gaq=[['_setAccount','UA-57927901-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
  apiKey: 'ae96d94b201c5444c8a443093edf3efb',
  indexName: 'home-assistant',
  inputSelector: '#search',
  debug: false // Set debug to true if you want to inspect the dropdown
});
document.querySelector('.search .close').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'none';
});
document.querySelector('.show-search').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'block';
  document.getElementById('toggle').checked = false;
  document.querySelector('.search-container input').focus();
});
</script>
  </body>
</html>
