<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Lutron - Home Assistant</title>
    <meta name="author" content="Home Assistant">
    <meta name="description" content="Instructions how to use Lutron devices with Home Assistant.">
    
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://home-assistant.io/components/lutron/">

    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="Lutron">
    <meta property="og:site_name" content="Home Assistant">
    <meta property="og:url" content="https://home-assistant.io/components/lutron/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Instructions how to use Lutron devices with Home Assistant.">
    <meta property="og:image" content="https://home-assistant.io/images/default-social.png">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@home_assistant">
    
    <meta name="twitter:title" content="Lutron">
    <meta name="twitter:description" content="Instructions how to use Lutron devices with Home Assistant.">
    <meta name="twitter:image" content="https://home-assistant.io/images/default-social.png">

    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>

  <body >

    <header>
      <div class="grid-wrapper">
  <div class="grid">

    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/demo/favicon-192x192.png'>
    <span>Home Assistant</span>
  </a>
</div>

<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  
  <li><a href="/getting-started/">Getting started</a></li>
  <li><a href="/components/">Components</a></li>
  <li><a href="/docs/">Docs</a></li>
  <li><a href="/cookbook/">Examples</a></li>
  <li><a href="/developers/">Developers</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
</ul>
  </nav>
</div>

  </div>
</div>
    </header>

    

    <div class="grid-wrapper">
      <div class="grid grid-center">
        
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
        

          <article class="page">
  
  

  
  <header>
    <h1 class="title indent">
      Lutron
    </h1>
  </header>
  <hr class="divider">
  

  <p><a href="http://www.lutron.com/">Lutron</a> is an American lighting control company. They have several lines of home automation devices that manage light switches/dimmers, occupancy sensors, HVAC controls, etc. The <code class="highlighter-rouge">lutron</code> component in Home Assistant is responsible for communicating with the main hub for these systems.</p>

<p>Presently, there’s only support for communicating with the <a href="http://www.lutron.com/en-US/Products/Pages/WholeHomeSystems/RadioRA2/Overview.aspx">RadioRA 2</a> Main Repeater and only handle light switches and dimmers.</p>

<p>When configured, the <code class="highlighter-rouge">lutron</code> component will automatically discover the rooms and their associated switches/dimmers as configured by the RadioRA 2 software from Lutron. Each room will be treated as a separate group.</p>

<p>To use Lutron RadioRA 2 devices in your installation, add the following to your configuration.yaml file using the IP of your RadioRA 2 Main Repeater:</p>

<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="s">lutron</span><span class="pi">:</span>
  <span class="s">lutron_host</span><span class="pi">:</span> <span class="s">&lt;ip&gt;</span>
  <span class="s">lutron_user</span><span class="pi">:</span> <span class="s">lutron</span>
  <span class="s">lutron_password</span><span class="pi">:</span> <span class="s">integration</span>
</code></pre>
</div>

<p>Configuration variables:</p>

<ul>
  <li><strong>lutron_ip</strong> (<em>Required</em>): The IP address of the Main Repeater.</li>
  <li><strong>lutron_user</strong> (<em>Required</em>): The login name of the user. The user <code class="highlighter-rouge">lutron</code> always exists, but other users can be added via RadioRA 2 software.</li>
  <li><strong>lutron_password</strong> (<em>Required</em>): The password for the user specified above. <code class="highlighter-rouge">integration</code> is the password for the always-present <code class="highlighter-rouge">lutron</code> user.</li>
</ul>

<p class="note">
  It is recommended to assign a static IP address to your Main Repeater. This ensures that it won’t change IP addresses, so you won’t have to change the <code class="highlighter-rouge">lutron_ip</code> if it reboots and comes up with a different IP address.
</p>


</article>


        </div>

        
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
  
  
    <section class="aside-module grid__item one-whole lap-one-half">
  <div class='edit-github'><a href='https://github.com/home-assistant/home-assistant.github.io/tree/current/source/_components/lutron.markdown'>Edit this page on GitHub</a></div>
  <div class='brand-logo-container section'>
      <img src='/images/supported_brands/lutron.png' />
  </div>
    <div class='section'>
    Introduced in release: 0.37
    </div>
    <div class='section'>
    <h1 class="title delta">Category Hub</h1>
    <ul class='divided'>
        <li>
            <a href='/components/apcupsd/'>APCUPSd</a>
        </li>
        <li>
            <a href='/components/android_ip_webcam/'>Android IP Webcam</a>
        </li>
        <li>
            <a href='/components/wemo/'>Belkin WeMo</a>
        </li>
        <li>
            <a href='/components/blink/'>Blink</a>
        </li>
        <li>
            <a href='/components/bloomsky/'>BloomSky</a>
        </li>
        <li>
            <a href='/components/digital_ocean/'>Digital Ocean</a>
        </li>
        <li>
            <a href='/components/emulated_hue/'>Emulated Hue Bridge</a>
        </li>
        <li>
            <a href='/components/enocean/'>EnOcean</a>
        </li>
        <li>
            <a href='/components/ffmpeg/'>FFmpeg</a>
        </li>
        <li>
            <a href='/components/homematic/'>Homematic</a>
        </li>
        <li>
            <a href='/components/isy994/'>ISY994 Controller</a>
        </li>
        <li>
            <a href='/components/insteon_local/'>Insteon (local)</a>
        </li>
        <li>
            <a href='/components/insteon_hub/'>Insteon Hub</a>
        </li>
        <li>
            <a href='/components/insteon_plm/'>Insteon PLM</a>
        </li>
        <li>
            <a href='/components/joaoapps_join/'>Joaoapps Join</a>
        </li>
        <li>
            <a href='/components/litejet/'>LiteJet</a>
        </li>
        <li>
            Lutron
        </li>
        <li>
            <a href='/components/mqtt/'>MQTT</a>
        </li>
        <li>
            <a href='/components/microsoft_face/'>Microsoft Face</a>
        </li>
        <li>
            <a href='/components/mochad/'>Mochad</a>
        </li>
        <li>
            <a href='/components/modbus/'>Modbus</a>
        </li>
        <li>
            <a href='/components/mysensors/'>MySensors</a>
        </li>
        <li>
            <a href='/components/neato/'>Neato Robotics</a>
        </li>
        <li>
            <a href='/components/nest/'>Nest</a>
        </li>
        <li>
            <a href='/components/netatmo/'>Netatmo</a>
        </li>
        <li>
            <a href='/components/nuimo_controller/'>Nuimo controller</a>
        </li>
        <li>
            <a href='/components/octoprint/'>OctoPrint</a>
        </li>
        <li>
            <a href='/components/pilight/'>Pilight</a>
        </li>
        <li>
            <a href='/components/qwikswitch/'>QwikSwitch QSUSB Hub</a>
        </li>
        <li>
            <a href='/components/rfxtrx/'>RFXtrx</a>
        </li>
        <li>
            <a href='/components/rflink/'>Rflink</a>
        </li>
        <li>
            <a href='/components/scsgate/'>SCSGate</a>
        </li>
        <li>
            <a href='/components/sleepiq/'>SleepIQ</a>
        </li>
        <li>
            <a href='/components/tellstick/'>TellStick</a>
        </li>
        <li>
            <a href='/components/tellduslive/'>Telldus Live</a>
        </li>
        <li>
            <a href='/components/twilio/'>Twilio</a>
        </li>
        <li>
            <a href='/components/vera/'>Vera</a>
        </li>
        <li>
            <a href='/components/verisure/'>Verisure</a>
        </li>
        <li>
            <a href='/components/wink/'>Wink</a>
        </li>
        <li>
            <a href='/components/zwave/'>Z-Wave</a>
        </li>
        <li>
            <a href='/components/zoneminder/'>ZoneMinder</a>
        </li>
        <li>
            <a href='/components/ecobee/'>ecobee</a>
        </li>
    </ul>
    </div>
</section>
  
</div>
        </aside>
        
      </div>
    </div>

    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright">
  <a rel="me" href='https://twitter.com/home_assistant'><i class="icon-twitter"></i></a>
  <a rel="me" href='https://facebook.com/homeassistantio'><i class="icon-facebook"></i></a>
  <a rel="me" href='https://plus.google.com/110560654828510104551'><i class="icon-google-plus"></i></a>
  <a rel="me" href='https://github.com/home-assistant/home-assistant'><i class="icon-github"></i></a>

  <div class="credit">
    Contact us at <a href='mailto:hello@home-assistant.io'>hello@home-assistant.io</a>.<br>
    Website powered by <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>.<br />
    Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.
  </div>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">home-assistant.io</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
</div>
    </div>
  </div>
</div>
    </footer>

    <script>
  var _gaq=[['_setAccount','UA-57927901-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
  </body>
</html>