@use '../defaults' as *;
@use "sass:math";
/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html{
    font:#{math.div($base-font-size, 16px) * 1em}/#{$line-height-ratio} $base-font-family;
    overflow-y:scroll;
    min-height:100%;
}