@charset "UTF-8";
/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html{
    font:#{($base-font-size/16px)*1em}/#{$line-height-ratio} $base-font-family;
    overflow-y:scroll;
    min-height:100%;
}
