{{ if isset .Site.Params "brands" }}
{{ if .Site.Params.brands.enable }}
{{ if gt (len .Site.Data.brands) 0 }}
<section class="bar background-gray no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.brands.title }}</h2>
                </div>
                <ul class="owl-carousel customers">
                    {{ range .Site.Data.brands }}
                    <li class="item" title="{{ .name }}">
                        {{ if .url }}
                          <a href="{{ .url }}">
                            <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" width="250" />
                          </a>
                        {{ else }}
                          <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                        {{ end }}
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
