---
layout: page
title: "Credits"
description: "Credits for the developers who contributed to Home Assistant."
date: {{ headerDate }}
sidebar: true
comments: false
sharing: true
footer: true
---

This page contains a list of people who have contributed in one way or another to Home Assistant. Hover over a username to see their contributions.

### {% linkable_title Author %}

- [{{fearlessLeader.info.name}} (@{{fearlessLeader.info.username}})](https://github.com/{{fearlessLeader.info.login}} "{{fearlessLeader.countString}}")

### {% linkable_title Contributors %}

(in alphabetical order)

{{#allUsers}}- [{{info.name}} (@{{info.username}})](https://github.com/{{info.username}} "{{countString}}")
{{/allUsers}}

This page is irregularly updated using the [`credits_generator` tool](https://github.com/home-assistant/home-assistant.github.io/tree/next/credits_generator). If you think that you are missing, please let us know.

<i>This page was last updated {{ footerDate }}.</i>
