<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Persistent notification - Home Assistant</title>
    <meta name="author" content="Home Assistant">
    <meta name="description" content="Instructions on how to integrate persistent notifications into Home Assistant.">
    
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://home-assistant.io/components/persistent_notification/">

    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="Persistent notification">
    <meta property="og:site_name" content="Home Assistant">
    <meta property="og:url" content="https://home-assistant.io/components/persistent_notification/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Instructions on how to integrate persistent notifications into Home Assistant.">
    <meta property="og:image" content="https://home-assistant.io/images/default-social.png">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@home_assistant">
    
    <meta name="twitter:title" content="Persistent notification">
    <meta name="twitter:description" content="Instructions on how to integrate persistent notifications into Home Assistant.">
    <meta name="twitter:image" content="https://home-assistant.io/images/default-social.png">

    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>

  <body >

    <header>
      <div class="grid-wrapper">
  <div class="grid">

    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/demo/favicon-192x192.png'>
    <span>Home Assistant</span>
  </a>
</div>

<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  
  <li><a href="/getting-started/">Getting started</a></li>
  <li><a href="/components/">Components</a></li>
  <li><a href="/ecosystem/">Ecosystem</a></li>
  <li><a href="/cookbook/">Examples</a></li>
  <li><a href="/developers/">Developers</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
</ul>
  </nav>
</div>

  </div>
</div>
    </header>

    

    <div class="grid-wrapper">
      <div class="grid grid-center">
        
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
        

          <article class="page">
  
  

  
  <header>
    <h1 class="title indent">
      Persistent Notification
    </h1>
  </header>
  <hr class="divider">
  

  <p>The <code class="highlighter-rouge">persistent_notification</code> can be used to show a message on the frontend that has to be dismissed by the user.</p>

<p class="img">
  <img src="/images/screenshots/persistent-notification.png" />
</p>

<h3><a class="title-link" name="service" href="#service"></a> Service</h3>

<p>The service <code class="highlighter-rouge">persistent_notification/create</code> takes in <code class="highlighter-rouge">message</code>, <code class="highlighter-rouge">title</code>, and <code class="highlighter-rouge">notification_id</code>.</p>

<table>
  <thead>
    <tr>
      <th>Service data attribute</th>
      <th>Optional</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code class="highlighter-rouge">message</code></td>
      <td>no</td>
      <td>Body of the notification.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">title</code></td>
      <td>yes</td>
      <td>Title of the notification.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">notification_id</code></td>
      <td>yes</td>
      <td>If <code class="highlighter-rouge">notification_id</code> is given, it will overwrite the notification if there already was a notification with that ID.</td>
    </tr>
  </tbody>
</table>

<p>The <code class="highlighter-rouge">persistent_notification</code> component supports specifying <a href="/topics/templating/">templates</a> for both the <code class="highlighter-rouge">message</code> and the <code class="highlighter-rouge">title</code>. This will allow you to use the current state of Home Assistant in your notifications.</p>

<p>In an <a href="https://home-assistant.io/getting-started/automation-action/">action</a> of your <a href="/getting-started/automation/">automation setup</a> it could look like this with a customized subject.</p>

<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="s">action</span><span class="pi">:</span>
  <span class="s">service</span><span class="pi">:</span> <span class="s">persistent_notification.create</span>
  <span class="s">data</span><span class="pi">:</span>
    <span class="s">message</span><span class="pi">:</span> <span class="s2">"</span><span class="s">Your</span><span class="nv"> </span><span class="s">message</span><span class="nv"> </span><span class="s">goes</span><span class="nv"> </span><span class="s">here"</span>
    <span class="s">title</span><span class="pi">:</span> <span class="s2">"</span><span class="s">Custom</span><span class="nv"> </span><span class="s">subject"</span>
</code></pre>
</div>

<h3><a class="title-link" name="create-a-persistent-notification" href="#create-a-persistent-notification"></a> Create a persistent notification</h3>

<p>Choose <img src="/images/screenshots/developer-tool-services-icon.png" alt="service developer tool icon" class="no-shadow" height="38" /> <strong>Services</strong> from the <strong>Developer Tools</strong> to call the <code class="highlighter-rouge">persistent_notification</code> service. Select <code class="highlighter-rouge">persistent_notification/create</code> from the list of <strong>Available services:</strong> and enter something like the sample below into the <strong>Service Data</strong> field and hit <strong>CALL SERVICE</strong>.</p>

<div class="language-json highlighter-rouge"><pre class="highlight"><code><span class="p">{</span><span class="w">
  </span><span class="nt">"notification_id"</span><span class="p">:</span><span class="w"> </span><span class="s2">"1234"</span><span class="p">,</span><span class="w">
  </span><span class="nt">"title"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Sample notification"</span><span class="p">,</span><span class="w">
  </span><span class="nt">"message"</span><span class="p">:</span><span class="w"> </span><span class="s2">"This is a sample text"</span><span class="w">
</span><span class="p">}</span><span class="w">
</span></code></pre>
</div>
<p>This will create the notification entry shown above.</p>

<p>NOTE: if you have defined a <code class="highlighter-rouge">default_view:</code> in your <code class="highlighter-rouge">Groups:</code> configuration you will need to include <code class="highlighter-rouge">persistent_notification.&lt;notification_id&gt;</code> e.g. <code class="highlighter-rouge">persistent_notification.1234</code> as per the example above, to your Groups configuration, in order to see the notification after creating it.</p>


</article>


        </div>

        
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
  
  
    <section class="aside-module grid__item one-whole lap-one-half">
  <div class='edit-github'><a href='https://github.com/home-assistant/home-assistant.github.io/tree/current/source/_components/persistent_notification.markdown'>Edit this page on GitHub</a></div>
  <div class='brand-logo-container section'>
      <img src='/images/supported_brands/home-assistant.png' />
  </div>
    <div class='section'>
    Introduced in release: 0.23
    </div>
    <div class='section'>
    <h1 class="title delta">Category Other</h1>
    <ul class='divided'>
        <li>
            <a href='/components/browser/'>Browser</a>
        </li>
        <li>
            <a href='/components/configurator/'>Configurator</a>
        </li>
        <li>
            <a href='/components/demo/'>Demo platforms</a>
        </li>
        <li>
            <a href='/components/discovery/'>Discovery</a>
        </li>
        <li>
            <a href='/components/feedreader/'>Feedreader</a>
        </li>
        <li>
            <a href='/components/frontend/'>Frontend</a>
        </li>
        <li>
            <a href='/components/http/'>HTTP</a>
        </li>
        <li>
            <a href='/components/introduction/'>Introduction</a>
        </li>
        <li>
            <a href='/components/keyboard_remote/'>Keyboard</a>
        </li>
        <li>
            <a href='/components/logger/'>Logger</a>
        </li>
        <li>
            <a href='/components/mqtt_eventstream/'>MQTT Eventstream</a>
        </li>
        <li>
            Persistent notification
        </li>
        <li>
            <a href='/components/upnp/'>UPnP</a>
        </li>
        <li>
            <a href='/components/updater/'>Updater</a>
        </li>
        <li>
            <a href='/components/zeroconf/'>Zeroconf/Avahi/Bonjour</a>
        </li>
    </ul>
    </div>
</section>
  
</div>
        </aside>
        
      </div>
    </div>

    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright">
  <a rel="me" href='https://twitter.com/home_assistant'><i class="icon-twitter"></i></a>
  <a rel="me" href='https://facebook.com/homeassistantio'><i class="icon-facebook"></i></a>
  <a rel="me" href='https://plus.google.com/110560654828510104551'><i class="icon-google-plus"></i></a>
  <a rel="me" href='https://github.com/home-assistant/home-assistant'><i class="icon-github"></i></a>

  <div class="credit">
    Contact us at <a href='mailto:hello@home-assistant.io'>hello@home-assistant.io</a>.<br>
    Website powered by <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>.<br />
    Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.
  </div>
</div>
    </div>
  </div>
</div>
    </footer>

    <script>
  var _gaq=[['_setAccount','UA-57927901-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
  </body>
</html>