<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>History Statistics Sensor - Home Assistant</title>
    <meta name="author" content="Home Assistant">
    <meta name="description" content="Instructions about how to integrate historical statistics into Home Assistant.">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://home-assistant.io/components/sensor.history_stats/">
    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="History Statistics Sensor">
    <meta property="og:site_name" content="Home Assistant">
    <meta property="og:url" content="https://home-assistant.io/components/sensor.history_stats/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Instructions about how to integrate historical statistics into Home Assistant.">
    <meta property="og:image" content="https://home-assistant.io/images/default-social.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@home_assistant">
    <meta name="twitter:title" content="History Statistics Sensor">
    <meta name="twitter:description" content="Instructions about how to integrate historical statistics into Home Assistant.">
    <meta name="twitter:image" content="https://home-assistant.io/images/default-social.png">
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>
  <body >
    <header class='site-header'>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/demo/favicon-192x192.png'>
    <span>Home Assistant</span>
  </a>
</div>
<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  <li><a href="/getting-started/">Getting started</a></li>
  <li><a href="/components/">Components</a></li>
  <li><a href="/docs/">Docs</a></li>
  <li><a href="/cookbook/">Examples</a></li>
  <li><a href="/developers/">Developers</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
  <li><a href='#' class='show-search'><i class="icon-search"></i></a></li>
</ul>
  </nav>
  <div class='search-container' style='display: none'>
    <div class='search'>
      <i class="icon-search"></i>
      <input id='search' placeholder='Search the docs…'>
      <a href='#' class='close'><i class="icon-remove-sign"></i></a>
    </div>
  </div>
</div>
  </div>
</div>
    </header>
    <div class="grid-wrapper">
      <div class="grid grid-center">
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
          <article class="page">
  <header>
    <h1 class="title indent">
      History Statistics Sensor
    </h1>
  </header>
  <hr class="divider">
  <p>The <code class="highlighter-rouge">history_stats</code> sensor platform provides quick statistics about another component or platforms, using data from the <a href="/components/history/">history</a>.</p>
<p>It can track how long the component has been in a specific state, in a custom time period.</p>
<p>Examples of what you can track:</p>
<ul>
  <li>How long you were at home this week</li>
  <li>How long the lights were ON yesterday</li>
  <li>How long you watched TV today</li>
</ul>
<h2><a class="title-link" name="configuration" href="#configuration"></a> Configuration</h2>
<p>To enable the history statistics sensor, add the following lines to your <code class="highlighter-rouge">configuration.yaml</code>:</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml entry</span>
<span class="s">sensor</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">history_stats</span>
    <span class="s">name</span><span class="pi">:</span> <span class="s">Lamp ON today</span>
    <span class="s">entity_id</span><span class="pi">:</span> <span class="s">light.my_lamp</span>
    <span class="s">state</span><span class="pi">:</span> <span class="s1">'</span><span class="s">on'</span>
    <span class="s">type</span><span class="pi">:</span> <span class="s">time</span>
    <span class="s">start</span><span class="pi">:</span> <span class="s1">'</span><span class="s">{{</span><span class="nv"> </span><span class="s">now().replace(hour=0).replace(minute=0).replace(second=0)</span><span class="nv"> </span><span class="s">}}'</span>
    <span class="s">end</span><span class="pi">:</span> <span class="s1">'</span><span class="s">{{</span><span class="nv"> </span><span class="s">now()</span><span class="nv"> </span><span class="s">}}'</span>
</code></pre>
</div>
<p>Configuration variables:</p>
<ul>
  <li><strong>entity_id</strong> (<em>Required</em>): The entity you want to track</li>
  <li><strong>state</strong> (<em>Required</em>): The state you want to track</li>
  <li><strong>name</strong> (<em>Optional</em>): Name displayed on the frontend</li>
  <li><strong>type</strong> (<em>Optional</em>): The type of sensor: <code class="highlighter-rouge">time</code>, <code class="highlighter-rouge">ratio</code>, or <code class="highlighter-rouge">count</code>. Defaults to <code class="highlighter-rouge">time</code></li>
  <li><strong>start</strong>: When to start the measure (timestamp or datetime).</li>
  <li><strong>end</strong>: When to stop the measure (timestamp or datetime)</li>
  <li><strong>duration</strong>: Duration of the measure</li>
</ul>
<p class="note">
  You have to provide <strong>exactly 2</strong> of <code class="highlighter-rouge">start</code>, <code class="highlighter-rouge">end</code> and <code class="highlighter-rouge">duration</code>.
<br />
  You can use <a href="/topics/templating/#home-assistant-template-extensions">template extensions</a> such as <code class="highlighter-rouge">now()</code> or <code class="highlighter-rouge">as_timestamp()</code> to handle dynamic dates, as shown in the examples below.
</p>
<h2><a class="title-link" name="sensor-type" href="#sensor-type"></a> Sensor type</h2>
<p>Depending on the sensor type you choose, the <code class="highlighter-rouge">history_stats</code> component can show different values:</p>
<ul>
  <li><strong>time</strong>: The default value, which is the tracked time, in hours</li>
  <li><strong>ratio</strong>: The tracked time divided by the length of your period, as a percentage</li>
  <li><strong>count</strong>: How many times the component you track was changed to the state you track</li>
</ul>
<h2><a class="title-link" name="time-periods" href="#time-periods"></a> Time periods</h2>
<p>The <code class="highlighter-rouge">history_stats</code> component will execute a measure within a precise time period. You should always provide 2 of the following :</p>
<ul>
  <li>When the period starts (<code class="highlighter-rouge">start</code> variable)</li>
  <li>When the period ends (<code class="highlighter-rouge">end</code> variable)</li>
  <li>How long is the period (<code class="highlighter-rouge">duration</code> variable)</li>
</ul>
<p>As <code class="highlighter-rouge">start</code> and <code class="highlighter-rouge">end</code> variables can be either datetimes or timestamps, you can configure almost any period you want.</p>
<h3><a class="title-link" name="duration" href="#duration"></a> Duration</h3>
<p>The duration variable is used when the time period is fixed. Different syntaxes for the duration are supported, as shown below.</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># 6 hours</span>
<span class="s">duration</span><span class="pi">:</span> <span class="s">06:00</span>
</code></pre>
</div>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># 1 minute, 30 seconds</span>
<span class="s">duration</span><span class="pi">:</span> <span class="s">00:01:30</span>
</code></pre>
</div>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># 2 hours and 30 minutes</span>
<span class="s">duration</span><span class="pi">:</span>
  <span class="c1"># supports seconds, minutes, hours, days</span>
  <span class="s">hours</span><span class="pi">:</span> <span class="s">2</span>
  <span class="s">minutes</span><span class="pi">:</span> <span class="s">30</span>
</code></pre>
</div>
<h3><a class="title-link" name="examples" href="#examples"></a> Examples</h3>
<p>Here are some examples of periods you could work with, and what to write in your <code class="highlighter-rouge">configuration.yaml</code>:</p>
<p><strong>Today</strong>: starts at 00:00 of the current day and ends right now.</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code>    <span class="s">start</span><span class="pi">:</span> <span class="s1">'</span><span class="s">{{</span><span class="nv"> </span><span class="s">now().replace(hour=0).replace(minute=0).replace(second=0)</span><span class="nv"> </span><span class="s">}}'</span>
    <span class="s">end</span><span class="pi">:</span> <span class="s1">'</span><span class="s">{{</span><span class="nv"> </span><span class="s">now()</span><span class="nv"> </span><span class="s">}}'</span>
</code></pre>
</div>
<p><strong>Yesterday</strong>: ends today at 00:00, lasts 24 hours.</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code>    <span class="s">end</span><span class="pi">:</span> <span class="s1">'</span><span class="s">{{</span><span class="nv"> </span><span class="s">now().replace(hour=0).replace(minute=0).replace(second=0)</span><span class="nv"> </span><span class="s">}}'</span>
    <span class="s">duration</span><span class="pi">:</span>
      <span class="s">hours</span><span class="pi">:</span> <span class="s">24</span>
</code></pre>
</div>
<p><strong>This morning (6AM - 11AM)</strong>: starts today at 6, lasts 5 hours.</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code>    <span class="s">start</span><span class="pi">:</span> <span class="s1">'</span><span class="s">{{</span><span class="nv"> </span><span class="s">now().replace(hour=6).replace(minute=0).replace(second=0)</span><span class="nv"> </span><span class="s">}}'</span>
    <span class="s">duration</span><span class="pi">:</span>
      <span class="s">hours</span><span class="pi">:</span> <span class="s">5</span>
</code></pre>
</div>
<p><strong>Current week</strong>: starts last Monday at 00:00, ends right now.</p>
<p>Here, last Monday is <em>today</em> as a timestamp, minus 86400 times the current weekday (86400 is the number of seconds in one day, the weekday is 0 on Monday, 6 on Sunday).</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code>    <span class="s">start</span><span class="pi">:</span> <span class="s1">'</span><span class="s">{{</span><span class="nv"> </span><span class="s">as_timestamp(</span><span class="nv"> </span><span class="s">now().replace(hour=0).replace(minute=0).replace(second=0)</span><span class="nv"> </span><span class="s">)</span><span class="nv"> </span><span class="s">-</span><span class="nv"> </span><span class="s">now().weekday()</span><span class="nv"> </span><span class="s">*</span><span class="nv"> </span><span class="s">86400</span><span class="nv"> </span><span class="s">}}'</span>
    <span class="s">end</span><span class="pi">:</span> <span class="s1">'</span><span class="s">{{</span><span class="nv"> </span><span class="s">now()</span><span class="nv"> </span><span class="s">}}'</span>
</code></pre>
</div>
<p><strong>Last 30 days</strong>: ends today at 00:00, lasts 30 days. Easy one.</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code>    <span class="s">end</span><span class="pi">:</span> <span class="s1">'</span><span class="s">{{</span><span class="nv"> </span><span class="s">now().replace(hour=0).replace(minute=0).replace(second=0)</span><span class="nv"> </span><span class="s">}}'</span>
    <span class="s">duration</span><span class="pi">:</span>
      <span class="s">days</span><span class="pi">:</span> <span class="s">30</span>
</code></pre>
</div>
<p><strong>All your history</strong> starts at timestamp = 0, and ends right now.</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code>    <span class="s">start</span><span class="pi">:</span> <span class="s1">'</span><span class="s">{{</span><span class="nv"> </span><span class="s">0</span><span class="nv"> </span><span class="s">}}'</span>
    <span class="s">end</span><span class="pi">:</span> <span class="s1">'</span><span class="s">{{</span><span class="nv"> </span><span class="s">now()</span><span class="nv"> </span><span class="s">}}'</span>
</code></pre>
</div>
<p class="note">
  The <code class="highlighter-rouge">/dev-template</code> page of your home-assistant UI can help you check if the values for <code class="highlighter-rouge">start</code>, <code class="highlighter-rouge">end</code> or <code class="highlighter-rouge">duration</code> are correct. If you want to check if your period is right, just click on your component, the <code class="highlighter-rouge">from</code> and <code class="highlighter-rouge">to</code> attributes will show the start and end of the period, nicely formatted.
</p>
</article>
        </div>
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
    <section class="aside-module grid__item one-whole lap-one-half">
  <div class='edit-github'><a href='https://github.com/home-assistant/home-assistant.github.io/tree/current/source/_components/sensor.history_stats.markdown'>Edit this page on GitHub</a></div>
  <div class='brand-logo-container section'>
      <img src='/images/supported_brands/home-assistant.png' />
  </div>
    <div class='section'>
    IoT class<sup><a href='/blog/2016/02/12/classifying-the-internet-of-things/#classifiers'><i class="icon-info-sign"></i></a></sup>: Local Polling
    </div>
    <div class='section'>
    Introduced in release: 0.39
    </div>
    <div class='section'>
    <h1 class="title delta">Category Sensor</h1>
    <ul class='divided'>
        <li>
            <a href='/components/sensor.api_stream/'>API Stream Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.arwn/'>ARWN Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.alarmdecoder/'>AlarmDecoder Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.amcrest/'>Amcrest IP Camera</a>
        </li>
        <li>
            <a href='/components/sensor.android_ip_webcam/'>Android IP Webcam Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.arlo/'>Arlo Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.bh1750/'>BH1750 Light sensor</a>
        </li>
        <li>
            <a href='/components/sensor.bme280/'>BME280 Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.bbox/'>Bbox Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.blink/'>Blink Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.bloomsky/'>BloomSky Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.broadlink/'>Broadlink RM2 and A1 sensor</a>
        </li>
        <li>
            <a href='/components/sensor.modem_callerid/'>Caller ID Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.citybikes/'>CityBikes API sensor</a>
        </li>
        <li>
            <a href='/components/sensor.command_line/'>Command line Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.crimereports/'>Crime Reports</a>
        </li>
        <li>
            <a href='/components/sensor.dnsip/'>DNS IP</a>
        </li>
        <li>
            <a href='/components/sensor.dweet/'>Dweet.io</a>
        </li>
        <li>
            <a href='/components/sensor.dyson/'>Dyson Purifier Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.ebox/'>EBox</a>
        </li>
        <li>
            <a href='/components/sensor.eight_sleep/'>Eight Sleep Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.emoncms/'>Emoncms Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.enocean/'>EnOcean Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.envirophat/'>Enviro pHAT</a>
        </li>
        <li>
            <a href='/components/sensor.envisalink/'>Envisalink Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.fedex/'>Fedex Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.fido/'>Fido</a>
        </li>
        <li>
            <a href='/components/sensor.file/'>File Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.gpsd/'>GPSD</a>
        </li>
        <li>
            <a href='/components/sensor.gitter/'>Gitter Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.http/'>HTTP Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.htu21d/'>HTU21D Temperature and humidity sensor</a>
        </li>
        <li>
            <a href='/components/sensor.haveibeenpwned/'>HaveIBeenPwned Sensor</a>
        </li>
        <li>
            History Statistics Sensor
        </li>
        <li>
            <a href='/components/sensor.homematic/'>Homematic Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.imap_email_content/'>IMAP Email Content</a>
        </li>
        <li>
            <a href='/components/sensor.imap/'>IMAP Unread E-mail</a>
        </li>
        <li>
            <a href='/components/sensor.isy994/'>ISY994 Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.influxdb/'>InfluxDB Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.juicenet/'>Juicenet Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.knx/'>KNX Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.kwb/'>KWB Easyfire Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.kira/'>Kira Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.mhz19/'>MH-Z19 CO2 Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.mqtt/'>MQTT Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.min_max/'>Min/max Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.modbus/'>Modbus Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.mold_indicator/'>Mold Indicator</a>
        </li>
        <li>
            <a href='/components/sensor.mysensors/'>MySensors Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.neato/'>Neato Robotics Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.nest/'>Nest Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.otp/'>OTP Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.octoprint/'>OctoPrint Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.openhardwaremonitor/'>Open Hardware Monitor Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.openevse/'>OpenEVSE Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.opensky/'>OpenSky Network</a>
        </li>
        <li>
            <a href='/components/sensor.pilight/'>Pilight Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.pocketcasts/'>PocketCasts</a>
        </li>
        <li>
            <a href='/components/sensor.pushbullet/'>Pushbullet Mirrors</a>
        </li>
        <li>
            <a href='/components/sensor.qnap/'>QNAP Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.rest/'>RESTful Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.rflink/'>RFLink Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.rfxtrx/'>RFXtrx Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.radarr/'>Radarr Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.random/'>Random Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.ring/'>Ring Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.scrape/'>Scrape Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.sensehat/'>Sense HAT</a>
        </li>
        <li>
            <a href='/components/sensor.sleepiq/'>SleepIQ Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.sonarr/'>Sonarr Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.statistics/'>Statistics Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.synologydsm/'>SynologyDSM Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.tcp/'>TCP Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.ted5000/'>TED5000 electricity monitoring</a>
        </li>
        <li>
            <a href='/components/sensor.temper/'>TEMPer Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.tado/'>Tado Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.tellstick/'>TellStick Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.tellduslive/'>Telldus Live sensor</a>
        </li>
        <li>
            <a href='/components/sensor.template/'>Template Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.thinkingcleaner/'>Thinking Cleaner sensor</a>
        </li>
        <li>
            <a href='/components/sensor.ups/'>UPS Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.usps/'>USPS Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.vera/'>Vera Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.verisure/'>Verisure Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.wink/'>Wink Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.zwave/'>Z-Wave Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.comfoconnect/'>Zehnder ComfoAir Q Ventilation sensors</a>
        </li>
        <li>
            <a href='/components/sensor.zha/'>ZigBee Home Automation Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.zigbee/'>ZigBee Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.zoneminder/'>ZoneMinder Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.arest/'>aREST Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.mfi/'>mFi Sensor</a>
        </li>
    </ul>
    </div>
</section>
</div>
        </aside>
      </div>
    </div>
    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright">
  <a rel="me" href='https://twitter.com/home_assistant'><i class="icon-twitter"></i></a>
  <a rel="me" href='https://facebook.com/homeassistantio'><i class="icon-facebook"></i></a>
  <a rel="me" href='https://plus.google.com/110560654828510104551'><i class="icon-google-plus"></i></a>
  <a rel="me" href='https://github.com/home-assistant/home-assistant'><i class="icon-github"></i></a>
  <div class="credit">
    Contact us at <a href='mailto:hello@home-assistant.io'>hello@home-assistant.io</a> (no support!).<br>
    Website powered by <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>.<br />
    Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.
  </div>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">home-assistant.io</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
</div>
    </div>
  </div>
</div>
    </footer>
    <script>
  var _gaq=[['_setAccount','UA-57927901-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
  apiKey: 'ae96d94b201c5444c8a443093edf3efb',
  indexName: 'home-assistant',
  inputSelector: '#search',
  debug: false // Set debug to true if you want to inspect the dropdown
});
document.querySelector('.search .close').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'none';
});
document.querySelector('.show-search').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'block';
  document.getElementById('toggle').checked = false;
  document.querySelector('.search-container input').focus();
});
</script>
  </body>
</html>
