<h2>
  <a class="title-link" name="configuration" href="#configuration"></a>
  Configuration
</h2>
<p>
  Adding {{ page.title }} to your Home Assistant instance can be done via
  the user interface, by taking the following steps:
</p>
<p>
  <ul>
    <li>Browse to your Home Assistant instance.</li>
    <li>In the sidebar click on <i class="icon-cog"/> Configuration.</li>
    <li>From the configuration menu select: <i class="icon-puzzle-piece" /> Integrations.</li>
    <li>In the bottom right, click on the <i class="icon-plus-sign" /> Add Integration button.</li>
    <li>Follow the instruction on screen to complete the set up.</li>
  </ul>

  After completing, the {{ page.title }} integration will be immediately available for use.
</p>
