{%- for company in site.data.wwha_devices -%}
{%- assign company_brand_lower = company.brand | downcase -%}
{%- assign include_brand_lower = include.brand | downcase -%}
{%- if company_brand_lower == include_brand_lower -%}
{%- if include.hide_list -%}
For the full list of {{ company.devices | size }} certified {{ include.brand }} devices, see our <a href="https://works-with.home-assistant.io/certified-products/?brand={{ include.brand | downcase | url_encode }}" target="_blank" rel="noopener">filtered device list</a>.
{%- else -%}
<ul>
{%- for device in company.devices %}
<li><a href="{{ device.websiteLink | escape }}" target="_blank" rel="noopener">{{ device.fullName | escape_once }}</a></li>
{%- endfor %}
</ul>
{%- endif -%}
{%- endif -%}
{%- endfor -%}
