---
layout: landingpage
title: "Home Assistant Community"
description: "Connect and share ideas with makers, tinkerers, and smart home enthusiasts."
og_image: /images/connect/zwa-2/og.jpeg
frontpage: true
frontpage_image: /images/frontpage/zwa-2-frontpage.webp
frontpage_content_top: true
---
<link rel="stylesheet" href="/stylesheets/homeassistant/pages/community/index.css" />

<main id="page-community">
  <div class="container-full">
    {% include_relative assets/_icons.html %}
    {% include_relative components/_hero.html %}
  </div>
</main>