<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TCP Sensor - Home Assistant</title>
    <meta name="author" content="Paulus Schoutsen">
    <meta name="description" content="Instructions on how to set up TCP sensors within Home Assistant.">
    
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://home-assistant.io/components/sensor.tcp/">

    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="TCP Sensor">
    <meta property="og:site_name" content="Home Assistant">
    <meta property="og:url" content="https://home-assistant.io/components/sensor.tcp/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Instructions on how to set up TCP sensors within Home Assistant.">
    <meta property="og:image" content="https://home-assistant.io/images/home-assistant-logo-2164x2164.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@home_assistant">
    
    <meta name="twitter:title" content="TCP Sensor">
    <meta name="twitter:description" content="Instructions on how to set up TCP sensors within Home Assistant.">
    <meta name="twitter:image" content="https://home-assistant.io/images/home-assistant-logo-2164x2164.png">

    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>

  <body >

    <header>
      <div class="grid-wrapper">
  <div class="grid">

    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/demo/favicon-192x192.png'>
    <span>Home Assistant</span>
  </a>
</div>

<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  
  <li><a href='/getting-started/'>Getting started</a></li>
  <li><a href='/components/'>Components</a></li>
  <li><a href='/cookbook/'>Examples</a></li>
  <li><a href="/developers/">Developers</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
</ul>
  </nav>
</div>

  </div>
</div>
    </header>

    

    <div class="grid-wrapper">
      <div class="grid grid-center">
        
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
        

          <article class="page">
  
  

  
  <header>
    <h1 class="title indent">
      TCP Sensor
    </h1>
  </header>
  <hr class="divider">
  

  <p>The TCP component allows the integration of some services for which a specific Home Assistant component does not exist. If the service communicates over a TCP socket with a simple request/reply mechanism then the chances are that this component will allow integration with it.</p>

<p>To enable this sensor, add the following lines to your <code>configuration.yaml</code>:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre><span class="key">sensor</span>:
<span class="comment"># Example configuration.yaml entry</span>
  <span class="key">platform</span>: <span class="string"><span class="content">tcp</span></span>
  <span class="key">name</span>: <span class="string"><span class="content">Central Heating Pressure</span></span>
  <span class="key">host</span>: <span class="string"><span class="content">IP_ADDRESS</span></span>
  <span class="key">port</span>: <span class="string"><span class="content">PORT</span></span>
  <span class="key">timeout</span>: <span class="string"><span class="content">5</span></span>
  <span class="key">payload</span>: <span class="string"><span class="content">PAYLOAD</span></span>
  <span class="key">value_template</span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">{{ value.split(';')[0] }}</span><span class="delimiter">&quot;</span></span>
  <span class="key">unit</span>: <span class="string"><span class="content">UNIT_OF_MEASUREMENT</span></span>
</pre></div>
</div>
</div>

<p>Configuration options for the a TCP Sensor:</p>

<ul>
  <li><strong>name</strong> (<em>Required</em>): The name you’d like to give the sensor in Home Assistant.</li>
  <li><strong>host</strong> (<em>Required</em>): The hostname/IP address to connect to.</li>
  <li><strong>port</strong> (<em>Required</em>): The port to connect to the host on.</li>
  <li><strong>payload</strong> (<em>Required</em>): What to send to the host in order to get the response we’re interested in.</li>
  <li><strong>timeout</strong> (<em>Optional</em>): How long in seconds to wait for a response from the service before giving up and disconnecting. Defaults to <code>10</code></li>
  <li><strong>value_template</strong> (<em>Optional</em>): Defines a <a href="/topics/templating/">template</a> to extract the value. By default it’s assumed that the entire response is the value.</li>
  <li><strong>unit</strong> (<em>Optional</em>): The unit of measurement to use for the value.</li>
  <li><strong>buffer_size</strong> (<em>Optional</em>): The size of the receive buffer in bytes. Set this to a larger value if you expect to receive a response larger than the default. Defaults to <code>1024</code>.</li>
</ul>

<h2><a class="title-link" name="examples" href="#examples"></a> Examples</h2>

<p>In this section you find some real life examples of how to use this sensor.</p>

<h3><a class="title-link" name="ebusd" href="#ebusd"></a> EBUSd</h3>

<p>The <a href="https://github.com/john30/ebusd/wiki">EBUSd</a> service enables connection to an EBUS serial bus on some home heating/cooling systems. Using this service it is possible to extract various metrics which may be useful to have within Home Assistant. In order to use EBUSd, you connect to it using a TCP socket and send it a command. The service will respond with the value it has received from EBUS. On the command line, this would look something like:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>$ echo &quot;r WaterPressure&quot; | nc 10.0.0.127 8888
0.903;ok
</pre></div>
</div>
</div>

<p>You will notice that the output from the service is not just a single value (it contains “;ok” as well). To grab the value we’re interested in, we can use a Jinja2 template. The response received is injected into the template as the <code>value</code> variable. To use this value within Home Assistant, use the following configuration:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre><span class="key">sensor</span>:
<span class="comment"># Example configuration.yaml entry</span>
  <span class="key">platform</span>: <span class="string"><span class="content">tcp</span></span>
  <span class="key">name</span>: <span class="string"><span class="content">Central Heating Pressure</span></span>
  <span class="key">host</span>: <span class="string"><span class="content">10.0.0.127</span></span>
  <span class="key">port</span>: <span class="string"><span class="content">8888</span></span>
  <span class="key">timeout</span>: <span class="string"><span class="content">5</span></span>
  <span class="key">payload</span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">r WaterPressure\n</span><span class="delimiter">&quot;</span></span>
  <span class="key">value_template</span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">{{ value.split(';')[0] }}</span><span class="delimiter">&quot;</span></span>
  <span class="key">unit</span>: <span class="string"><span class="content">Bar</span></span>
</pre></div>
</div>
</div>

<h3><a class="title-link" name="hddtemp" href="#hddtemp"></a> hddtemp</h3>

<p>The tool <code>hddtemp</code> collects the temperature of your harddisks.</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>$ hddtemp
/dev/sda: SAMSUNG MZMTE256HMHP-000L1: 39°C
</pre></div>
</div>
</div>

<p>With <code>hddtemp -d</code> you can run the tool in TCP/IP daemon mode on port 7634 which enables you to get the data across the network.</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>$ telnet localhost 7634
Trying 127.0.0.1...
Connected to localhost.
Escape character is '^]'.
|/dev/sda|SAMSUNG MZMTE256HMHP-000L1|38|C|Connection closed by foreign host.
</pre></div>
</div>
</div>

<p>The entry for the <code>configuration.yaml</code> file for a <code>hddtemp</code> sensor could look like the example below.</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre><span class="key">sensor</span>:
<span class="comment"># Example configuration.yaml entry</span>
  <span class="key">platform</span>: <span class="string"><span class="content">tcp</span></span>
  <span class="key">name</span>: <span class="string"><span class="content">HDD temperature</span></span>
  <span class="key">host</span>: <span class="string"><span class="content">127.0.0.1</span></span>
  <span class="key">port</span>: <span class="string"><span class="content">7634</span></span>
  <span class="key">timeout</span>: <span class="string"><span class="content">5</span></span>
  <span class="key">payload</span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">\n</span><span class="delimiter">&quot;</span></span>
  <span class="key">value_template</span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">{{ value.split('|')[3] }}</span><span class="delimiter">&quot;</span></span>
  <span class="key">unit</span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">°C</span><span class="delimiter">&quot;</span></span>
</pre></div>
</div>
</div>


</article>


        </div>

        
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
  
  
    <section class="aside-module grid__item one-whole lap-one-half">
  <div class='edit-github'><a href='https://github.com/home-assistant/home-assistant.io/tree/master/source/_components/sensor.tcp.markdown'>Edit this page on GitHub</a></div>
  <div class='brand-logo-container section'>
  </div>
    <div class='section'>
    Introduced in release: 0.14
    </div>
          <div class='section'>
          <h1 class='title delta'>Related components</h1>
          <ul class='divided'>
        <li><a href='/components/binary_sensor.tcp/'>
          TCP Binary Sensor
        </a></li>
    </ul>
    </div>
    <div class='section'>
    <h1 class="title delta">Category Sensor</h1>
    <ul class='divided'>
        <li>
            <a href='/components/sensor.apcupsd/'>APCUPSd Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.bitcoin/'>Bitcoin</a>
        </li>
        <li>
            <a href='/components/sensor.bloomsky/'>BloomSky Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.cpuspeed/'>CPU speed</a>
        </li>
        <li>
            <a href='/components/sensor.command_line/'>Command line Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.dte_energy_bridge/'>DTE Energy Bridge</a>
        </li>
        <li>
            <a href='/components/sensor.deutsche_bahn/'>Deutsche Bahn</a>
        </li>
        <li>
            <a href='/components/sensor.dweet/'>Dweet.io</a>
        </li>
        <li>
            <a href='/components/sensor.ecobee/'>Ecobee Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.efergy/'>Efergy</a>
        </li>
        <li>
            <a href='/components/sensor.eliqonline/'>Eliqonline</a>
        </li>
        <li>
            <a href='/components/sensor.enocean/'>EnOcean Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.fitbit/'>Fitbit</a>
        </li>
        <li>
            <a href='/components/sensor.glances/'>Glances</a>
        </li>
        <li>
            <a href='/components/sensor.google_travel_time/'>Google Maps Travel Time</a>
        </li>
        <li>
            <a href='/components/sensor.http/'>HTTP Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.lastfm/'>Last.fm</a>
        </li>
        <li>
            <a href='/components/sensor.loop_energy/'>Loop Energy</a>
        </li>
        <li>
            <a href='/components/sensor.mqtt/'>MQTT Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.modbus/'>Modbus Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.moldindicator/'>Mold Indicator</a>
        </li>
        <li>
            <a href='/components/sensor.mysensors/'>MySensors Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.nzbget/'>NZBGet</a>
        </li>
        <li>
            <a href='/components/sensor.nest/'>Nest Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.netatmo/'>Netatmo Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.neurio_energy/'>Neurio</a>
        </li>
        <li>
            <a href='/components/sensor.octoprint/'>OctoPrint Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.onewire/'>One wire Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.gtfs/'>Public Transit (GTFS)</a>
        </li>
        <li>
            <a href='/components/sensor.rest/'>RESTful Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.rfxtrx/'>RFXtrx Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.sabnzbd/'>SABnzbd</a>
        </li>
        <li>
            <a href='/components/sensor.speedtest/'>Speedtest.net</a>
        </li>
        <li>
            <a href='/components/sensor.steam_online/'>Steam</a>
        </li>
        <li>
            <a href='/components/sensor.supervisord/'>Supervisord</a>
        </li>
        <li>
            <a href='/components/sensor.swiss_public_transport/'>Swiss Public Transport</a>
        </li>
        <li>
            <a href='/components/sensor.systemmonitor/'>System Monitor</a>
        </li>
        <li>
            TCP Sensor
        </li>
        <li>
            <a href='/components/sensor.temper/'>TEMPer Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.tellstick/'>TellStick Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.tellduslive/'>Telldus Live sensor</a>
        </li>
        <li>
            <a href='/components/sensor.template/'>Template Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.thinkingcleaner/'>Thinking Cleaner sensor</a>
        </li>
        <li>
            <a href='/components/sensor.time_date/'>Time & Date</a>
        </li>
        <li>
            <a href='/components/sensor.torque/'>Torque (OBD2)</a>
        </li>
        <li>
            <a href='/components/sensor.transmission/'>Transmission Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.twitch/'>Twitch</a>
        </li>
        <li>
            <a href='/components/sensor.uber/'>Uber</a>
        </li>
        <li>
            <a href='/components/sensor.vera/'>Vera Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.verisure/'>Verisure Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.wink/'>Wink Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.worldclock/'>Worldclock</a>
        </li>
        <li>
            <a href='/components/sensor.zwave/'>Z-Wave Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.zigbee/'>ZigBee Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.arest/'>aREST Sensor</a>
        </li>
        <li>
            <a href='/components/sensor.mfi/'>mFi Sensor</a>
        </li>
    </ul>
    </div>
</section>
  
</div>
        </aside>
        
      </div>
    </div>

    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright">
  <a rel="me" href='https://twitter.com/home_assistant'><i class="icon-twitter"></i></a>
  <a rel="me" href='https://github.com/home-assistant/home-assistant'><i class="icon-github"></i></a>

  <div class="credit">
    Contact us at <a href='mailto:hello@home-assistant.io'>hello@home-assistant.io</a>.<br>
    Website powered by <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>.<br />
    Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.
  </div>
</div>
    </div>
  </div>
</div>
    </footer>

    <script>
  var _gaq=[['_setAccount','UA-57927901-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
  </body>
</html>