---
layout: default
regenerate: true
blog_index: true
feedback: false
---

{% assign index = true %}
<h1 class="title indent">Blog</h1>

{% for post in paginator.posts %}
<article class="listing">
  {% include blog/post/article.html %}
</article>
<hr>
{% endfor %}

<div class="pagination">
  {% if paginator.next_page %}
    <a class="btn pull-left" href="{{paginator.next_page_path}}">&larr; Older</a>
  {% endif %}

  {% if paginator.previous_page %}
  <a class="btn pull-right" href="{{paginator.previous_page_path}}">Newer &rarr;</a>
  {% endif %}
</div>
