<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Automation - Home Assistant</title>
    <meta name="author" content="Home Assistant">
    <meta name="description" content="Instructions how to setup automation within Home Assistant.">
    
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://home-assistant.io/components/automation/">

    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="Automation">
    <meta property="og:site_name" content="Home Assistant">
    <meta property="og:url" content="https://home-assistant.io/components/automation/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Instructions how to setup automation within Home Assistant.">
    <meta property="og:image" content="https://home-assistant.io/images/default-social.png">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@home_assistant">
    
    <meta name="twitter:title" content="Automation">
    <meta name="twitter:description" content="Instructions how to setup automation within Home Assistant.">
    <meta name="twitter:image" content="https://home-assistant.io/images/default-social.png">

    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>

  <body >

    <header>
      <div class="grid-wrapper">
  <div class="grid">

    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/demo/favicon-192x192.png'>
    <span>Home Assistant</span>
  </a>
</div>

<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  
  <li><a href="/getting-started/">Getting started</a></li>
  <li><a href="/components/">Components</a></li>
  <li><a href="/ecosystem/">Ecosystem</a></li>
  <li><a href="/cookbook/">Examples</a></li>
  <li><a href="/developers/">Developers</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
</ul>
  </nav>
</div>

  </div>
</div>
    </header>

    

    <div class="grid-wrapper">
      <div class="grid grid-center">
        
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
        

          <article class="page">
  
  

  
  <header>
    <h1 class="title indent">
      Automation
    </h1>
  </header>
  <hr class="divider">
  

  <p>Please see the <a href="/getting-started/automation/">getting started section</a> for in-depth documentation on how to use the automation component.</p>

<p>Starting with 0.28 your automation rules can be controlled with the frontend.</p>

<p class="img">
  <img src="/images/screenshots/automation-switches.png" />
</p>

<p>This allows one to reload the automation without restarting Home Assistant itself. If you don’t want to see the automation rule in your frontend use <code class="highlighter-rouge">hide_entity: True</code> to hide it.</p>

<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="s">automation</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">alias</span><span class="pi">:</span> <span class="s">Door alarm</span>
    <span class="s">hide_entity</span><span class="pi">:</span> <span class="s">True</span>
    <span class="s">trigger</span><span class="pi">:</span>
      <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">state</span>
  <span class="s">...</span>
</code></pre>
</div>


</article>


        </div>

        
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
  
  
    <section class="aside-module grid__item one-whole lap-one-half">
  <div class='edit-github'><a href='https://github.com/home-assistant/home-assistant.github.io/tree/current/source/_components/automation.markdown'>Edit this page on GitHub</a></div>
  <div class='brand-logo-container section'>
      <img src='/images/supported_brands/home-assistant.png' />
  </div>
    <div class='section'>
    <h1 class="title delta">Category Automation</h1>
    <ul class='divided'>
        <li>
            Automation
        </li>
        <li>
            <a href='/components/switch.flux/'>Flux Light Adjustment</a>
        </li>
        <li>
            <a href='/components/hdmi_cec/'>HDMI CEC</a>
        </li>
        <li>
            <a href='/components/ifttt/'>IFTTT</a>
        </li>
        <li>
            <a href='/components/input_boolean/'>Input Boolean</a>
        </li>
        <li>
            <a href='/components/input_select/'>Input Select</a>
        </li>
        <li>
            <a href='/components/input_slider/'>Input Slider</a>
        </li>
        <li>
            <a href='/components/keyboard/'>Keyboard</a>
        </li>
        <li>
            <a href='/components/lirc/'>LIRC</a>
        </li>
        <li>
            <a href='/components/openalpr/'>OpenALPR</a>
        </li>
        <li>
            <a href='/components/device_sun_light_trigger/'>Presence based lights</a>
        </li>
        <li>
            <a href='/components/proximity/'>Proximity</a>
        </li>
        <li>
            <a href='/components/rest_command/'>RESTful Command</a>
        </li>
        <li>
            <a href='/components/script/'>Scripts</a>
        </li>
        <li>
            <a href='/components/shell_command/'>Shell command</a>
        </li>
    </ul>
    </div>
</section>
  
</div>
        </aside>
        
      </div>
    </div>

    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright">
  <a rel="me" href='https://twitter.com/home_assistant'><i class="icon-twitter"></i></a>
  <a rel="me" href='https://facebook.com/homeassistantio'><i class="icon-facebook"></i></a>
  <a rel="me" href='https://plus.google.com/110560654828510104551'><i class="icon-google-plus"></i></a>
  <a rel="me" href='https://github.com/home-assistant/home-assistant'><i class="icon-github"></i></a>

  <div class="credit">
    Contact us at <a href='mailto:hello@home-assistant.io'>hello@home-assistant.io</a>.<br>
    Website powered by <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>.<br />
    Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.
  </div>
</div>
    </div>
  </div>
</div>
    </footer>

    <script>
  var _gaq=[['_setAccount','UA-57927901-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
  </body>
</html>