.container {
    display: flex;
    margin: 0 auto;
    max-width: calc(var(--container-max-width) + (var(--container-gutters) * 2));
    padding: 0 calc(var(--container-gutters) / 2);
    width: 100%;
    height: 100%;

    @include bp(desktop) {
        padding: 0 var(--container-gutters);
    }

    &-full {
        margin: 0 auto;
        padding: 0 calc(var(--container-gutters) / 2);
        max-width: calc(var(--container-full-max-width) + (var(--container-gutters) * 2));
        width: 100%;

        @include bp(desktop) {
            padding: 0 var(--container-gutters);
        }
    }
}

#landingpage {
    background-color: #F5F6FA;
    color: #002332;

    height: auto;

    .page-content {
        overflow-x: clip;
    }

    .content {
        max-width: unset;
        margin: 0;
    }

    img{
        box-shadow: unset;
        vertical-align: unset;
        border: unset;
    }

    .spacer{
        display: none;
    }
}

main#page-community {

    p{
        margin: 0;
    }

    h1,
    .h1 {
        @include h1;
    }

    h2,
    .h2 {
        @include h2;
    }

    h3,
    .h3 {
        @include h3;
    }

    h4,
    .h4 {
        @include h4;
    }

    h5,
    .h5 {
        @include h5;
    }

    h6,
    .h6 {
        @include h6;
    }

    p {
        color: var(--typography-paragraph-color);
        font-size: var(--typography-paragraph-font-size);
        font-weight: var(--typography-paragraph-font-weight);
        line-height: var(--typography-paragraph-line-height);

        &:last-child {
            margin-bottom: 0;
        }
    }

    section{
        margin: var(--section-spacing-y) 0;
    }
}