{% unless page.feedback == false  or page.layout == "landingpage"  %}
<div class="material-card text feedback">
  <h4>{% icon "mdi:feedback" %} <b> Help us improve our documentation</b><a href="#feedback_section" class="title-link" name="feedback_section"></a></h4>
  Suggest an edit to this page, or provide/view feedback for this page.
  <div class="links">
    <a
      href="{{ site.netlify.repository_url }}/tree/{{ site.netlify.head }}/source/{{ page.path }}"
      target="_blank"
      ><iconify-icon inline icon="mdi:edit" /> Edit</a
    >
    {% if page.ha_domain %}
    <a
      href="{{ site.netlify.repository_url }}/issues/new?template=feedback.yml&url={{ site.netlify.url | url_encode }}{{ page.url | url_encode }}&version={{ site.current_major_version }}.{{
        site.current_minor_version }}.{{ site.current_patch_version }}&labels={{ site.netlify.branch }},integration%3A%20{{ page.ha_domain }}"
      target="_blank"
      ><iconify-icon inline icon="mdi:comment-edit-outline" /> Provide feedback</a
    >
    <a
      href="{{ site.netlify.repository_url }}/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22integration%3A+{{ page.ha_domain }}%22"
      target="_blank"
      ><iconify-icon inline icon="mdi:comment-text-multiple-outline" /> View pending feedback</a
    >
    {% else %}
    <a
      href="{{ site.netlify.repository_url }}/issues/new?template=feedback.yml&url={{ site.netlify.url | url_encode }}{{ page.url | url_encode }}&version={{ site.current_major_version }}.{{
        site.current_minor_version }}.{{ site.current_patch_version }}&labels={{ site.netlify.branch }}"
      target="_blank"
      ><iconify-icon inline icon="mdi:comment-edit-outline" /> Provide feedback</a
    >
    <a
      href="{{ site.netlify.repository_url }}/issues?utf8=%E2%9C%93&q=%22{{ page.url | url_encode }}%22&in=body"
      target="_blank"
      ><iconify-icon inline icon="mdi:comment-text-multiple-outline" /> View given feedback</a
    >
    {% endif %}
  </div>
</div>
{% endunless %}
