<div class="h-full w-full fixed z-[-1] bg-[#0101018f] top-0" id="algolia-search-box">
    <div class="w-[90%] md:w-[25%] mx-auto left-[-25%] translate-[-50%] mt-5 md:mt-[100px]">
        <div class="flex justify-between">
            <div class="  shadow-md shadow-gray-600 w-full mr-3 bg-white p-3 rounded-full flex">
                <p
                    class="mr-0 text-black text-[18px] group rounded-md inline-flex items-center text-base font-semibold hover:text-gray-900 ">
                    <img width="19.19" src="{{ site.baseurl }}images/icon/search.svg" />

                </p>
                <input id="algolia-search-input" class="w-[80%] pl-3 text-lg  font-semibold text-black focus:outline-none"
                    placeholder="Search..." autofocus>

            </div>
            <div
                class="flex items-center px-5  shadow-md shadow-gray-600 bg-white p-3 rounded-full search-close cursor-pointer">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z"
                        fill="black" />
                </svg>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    docsearch({
      apiKey: "{{ site.algolia.api_key }}",
      indexName: 'home-assistant',
      inputSelector: '#algolia-search-input',
      debug: false // Set debug to true if you want to inspect the dropdown
    });
</script>