<div class="h-full w-full fixed z-[-1] bg-[#0101018f] top-0" id="algolia-search-box">
    <div class="w-[90%] md:w-[50%] mx-auto left-[-50%] translate-[-50%] mt-5 md:mt-[100px]">
        <div class="flex justify-between">
            <div class="  shadow-md shadow-gray-600 w-full mr-3 bg-white p-3 rounded-full flex">
                <p
                    class="mr-0 text-black text-[18px] group rounded-md inline-flex items-center text-base font-semibold hover:text-gray-900 ">
                    <img width="19.19" src="{{ site.baseurl }}images/icon/search.svg" />

                </p>
                <input class="w-[80%] pl-3 text-lg  font-semibold text-black focus:outline-none"
                    placeholder="alright">

            </div>
            <div
                class="flex items-center px-5  shadow-md shadow-gray-600 bg-white p-3 rounded-full search-close cursor-pointer">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z"
                        fill="black" />
                </svg>
            </div>

        </div>
        <div class=" bg-white h-fit rounded-3xl p-4 shadow-xl shadow-gray-900 mt-5">
            <div class="search-result">
                <div class="bg-[#F8F8F8] rounded-md p-3 mb-3">
                    <div class="flex justify-between font-semibold text-[16px]">
                        <p class="">Onboarding Home Assistant</p>
                        <p class="opacity-40">Getting Started</p>
                    </div>
                    <div class="bg-white rounded-sm p-1 mt-2">
                        <p class="text-[#41BDF5] text-[14px]">Alright<span class="text-black opacity-40">, you made
                                it here. The tough part is done.</span></p>
                    </div>

                </div>
                <div class="bg-[#F8F8F8] rounded-md p-3 mb-3">
                    <div class="flex justify-between font-semibold text-[16px]">
                        <p class="">Splitting up the configuration</p>
                        <p class="opacity-40">Docs / Configuration</p>
                    </div>
                    <div class="bg-white rounded-sm p-1 mt-2">
                        <p class="text-[#41BDF5] text-[14px]">Alright<span class="text-black opacity-40">, so we’ve
                                got the single integrations and the include statements in the base ...</span></p>
                    </div>

                </div>
                <div class="bg-[#F8F8F8] rounded-md p-3">
                    <div class="flex justify-between font-semibold text-[16px]">
                        <p class="">Template Light</p>
                        <p class="opacity-40">Integration</p>
                    </div>
                    <div class="bg-white rounded-sm p-1 mt-2">
                        <p class="text-[#41BDF5] text-[14px]">Template Light<span
                                class="text-black opacity-40"></span></p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>