{% capture category %}{{ post.categories | size }}{% endcapture %}

<div class="grid">

  <div class="grid__item one-fifth palm-one-whole">
    <time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>
      {{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span>"}}
    </time>
  </div>
  <div class="grid__item four-fifths palm-one-whole">
    <h1 class="gamma"><a href="{{ root_url }}{{ post.url }}">{{post.title}}</a></h1>
    {% if category != '0' %}
    <footer class="meta">
      {% include blog/post/tags.html %}
    </footer>
    {% endif %}
    <hr class="divider">
  </div>

</div>