<section id="built-for-the-home">
    <div class="section-inner light">
        <div class="section-inner-content">
            <div class="container-full">
                <div class="featured-images">
                    <div class="feature-image">
                        <img src="/images/connect/zwa-2/8b6f32b7c20c473cf60ddfccae887dd9f08d46f5.webp" class="mobile">
                        <img src="/images/connect/zwa-2/96af047f9505175d66db4938f7c0b0ccc7a4f8bf.webp" class="desktop">
                        <div class="right-content">
                            <div class="h2">Designed for the home</div>
                            <p>From its injection molded case, to sleek lines, it's designed to blend into home
                                decor.</p>
                        </div>
                    </div>
                    <div class="feature-image">
                        <img src="/images/connect/zwa-2/b4c9ca7ee31eb1cad9f3659c900c607c5c650f94.webp">
                    </div>
                    <div class="col">
                        <div class="feature-image">
                            <img src="/images/connect/zwa-2/4f5a2a0a9fde05d938b4e060d3289d1ba8044e69.webp">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>