<section id="built-for-home-assistant">
    <div class="section-inner">
        <div class="section-inner-content">
            <div class="container">
                <div class="model-still">
                    <img src="/connect/zwa-2/video-frames/scene2/063.webp" />
                </div>
                <div class="cols">
                    <div class="col">
                        <h2>Built for <br />Home Assistant</h2>
                    </div>
                    <div class="col">
                        <div class="connect-badge">Z-Wave made seamless</div>
                        <p>Designed by the team driving forward Home Assistant and Z-Wave JS.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>