<section id="built-for-the-home">
    <div class="section-inner">
        <div class="section-inner-content">
            <div class="container">
                <div class="cols">
                    <div class="col">
                       <div class="feature-image">
                        <div class="right-content">
                            <h3 class="h1">Designed for the home</h3>
                            <p>From its injection molded case, to sleek lines, it's designed to blend into home decor.</p>
                        </div>
                       </div> 
                    </div>
                    <div class="col">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>