<section id="buy">
    <div class="model-still">
        <img src="/connect/zwa-2/video-frames/scene2/201.webp" />
    </div>
    <div class="section-inner">
        <div class="section-inner-content">
            <div class="container">
                <div class="content">
                    <div class="strap">Get the ultimate Z-Wave experience for just</div>
                    <h2 class="price">$69<span>/</span>€59<sup>*</sup></h2>
                    <div class="button buy">Buy now</div>
                </div>
                <p class="terms">*Recommended MSRP. Prices differ between regions due to varying local market costs
                    and conditions, and subject to individual retailers.</p>
            </div>
        </div>
    </div>
</section>