<section id="chipset">
    <div class="section-inner">
        <div class="section-inner-content">
            <div class="container">
                <div class="cols">
                    <div class="col">
                        <div class="model-still">
                            <img src="/connect/zwa-2/video-frames/scene1/314.webp" />
                        </div>
                        <h2>The latest Z-Wave Chipset</h2>
                        <div>
                            <img src="/images/connect/zwa-2/800-series.svg">
                            <img src="/images/connect/zwa-2/z-wave-lr.svg" alt="Z-Wave Plus LR Logo" />
                        </div>
                    </div>
                    <div class="col">
                        <img src="/images/connect/zwa-2/800-series.svg">
                        <p>Certified and includes the latest 800-series chipset, it supports all Z-Wave devices.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>