<section id="chipset">
    <div class="section-inner">
        <div class="section-inner-content">
            <div class="container">
                <div class="cols">
                    <div class="col">
                        <h2>Latest <br>Z-Wave <br>Chipset</h2>
                        <div>
                            <img src="/images/connect/zwa-2/z-wave-lr.svg" alt="Z-Wave Plus LR Logo" />
                            <p>Certified and includes the latest 800-series chipset, it supports all Z-Wave devices.</p>
                        </div>
                    </div>
                    <div class="col">
                        <img src="/images/connect/zwa-2/z-wave-chip.webp" alt="Top down view of the Z-Wave chip on board the ZWA-2" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>