<section id="features">
    <div class="section-inner">
        <div class="section-inner-content">
            <div class="container container-full">
                <div class="waves-wrapper">
                    {% include_relative components/assets/horizontal-wave.svg %}
                </div>
            </div>
            <div class="container">
                <div class="cols">
                    <div class="col">
                        <div class="model-still">
                            <img src="/connect/zwa-2/video-frames/scene1/246.webp" />
                        </div>
                        <div class="connect-badge"><span>Peak Z-Wave performance</span></div>
                        <h2>Precisely engineered</h2>
                        <p>The antenna and base are precisely tuned to Z-Wave’s ideal wavelength, working
                            in harmony to improve reliability and maximize range.</p>
                    </div>
                    <div class="col">
                        {% include_relative components/assets/antenna-comparison.svg %}
                        <div class="caption">Sometimes size does matter</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>