<div class="connect-nav">
    <div class="connect-nav-inner">
        <div class="container">
            <div class="logo-wrapper">
                <div class="logo">
                    <img src="/images/connect/zwa-2/logo.svg" width="280" height="34"
                        alt="Home Assistant Connect ZWA-2">
                </div>
            </div>
            <div class="nav-links">
                <div class="nav-links-items">
                    <a href="#overview">Overview</a>
                    <a href="#specs">Specs</a>
                    <a href="#faq">FAQ</a>
                    <a href="https://support.nabucasa.com/hc/en-us/categories/24451727188125-Home-Assistant-Voice-Preview-Edition"
                    target="_blank" rel="noopener">Docs</a>
                </div>
                <div class="nav-links-ctas">
                    <a href="#" class="button buy">Buy now</a>
                </div>
            </div>
        </div>
    </div>
</div>