<div class="connect-nav">
    <div class="connect-nav-inner">
        <div class="container">
            <div class="logo-wrapper">
                <div class="logo">
                    <img src="/images/connect/zwa-2/logo-dark.svg" class="dark" width="280" height="34"
                        alt="Home Assistant Connect ZWA-2">
                    <img src="/images/connect/zwa-2/logo.svg" class="light" width="280" height="34"
                        alt="Home Assistant Connect ZWA-2">
                </div>
            </div>
            <div class="nav-links">
                <div class="nav-links-items">
                    <a href="#features">Features</a>
                    <a href="#specs">Specs</a>
                    <a href="#faq">FAQ</a>
                    <a href="https://nabucasa.zendesk.com/hc/en-us/categories/28669861145885"
                        target="_blank" rel="noopener">Docs</a>
                </div>
                <div class="nav-links-ctas">
                    <a href="#" class="button buy">Buy now</a>
                </div>
            </div>
            <div class="burger">
                <input type="checkbox" id="burger-toggle">
                <label for="burger-toggle"></label>
                <div class="burger-icon"></div>
            </div>
        </div>
        <div class="mobile-nav">
            <div class="wrapper">
                <div class="nav-links">
                    <a href="#features">Features</a>
                    <a href="#specs">Specs</a>
                    <a href="#faq">FAQ</a>
                    <a href="https://nabucasa.zendesk.com/hc/en-us/categories/28669861145885"
                        target="_blank" rel="noopener">Docs</a>
                    <a href="#" class="button buy">Buy now</a>
                </div>
            </div>
        </div>
    </div>
</div>