<section id="hero">
    <div class="section-inner">
        <div class="model-still float">
            <img src="/images/connect/zwa-2/device/intro.webp" />
        </div>
        <div class="background">
            <img src="/images/connect/zwa-2/waves.svg">
        </div>
        <div class="section-inner-content">
            <div class="container">
                <div class="cols">
                    <div class="col">
                        <h1>
                            <span><span>Home</span> <span>Assistant</span> <span>Connect</span></span>
                            <span>
                                <span>Z</span>
                                <span>W</span>
                                <span>A</span>
                                <span>-2</span>
                            </span>
                        </h1>
                    </div>
                    <div class="col">
                        <p>
                            The ultimate way to connect<br /><strong>Z-Wave</strong> devices to Home Assistant.
                        </p>
                        <div class="logos">
                            <img src="/images/connect/zwa-2/home-assistant.svg" alt="Home Assistant Logo" />
                            <div class="vline"></div>
                            <img src="/images/connect/zwa-2/z-wave.svg" alt="ZWA-2 Logo" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>