<section id="long-range">
    <div class="section-inner">
        <div class="section-inner-content">
            <div class="cols">
                <div class="container">
                    <h2>Long-Range compatible</h2>
                    <p>This newest iteration of the standard delivers more reliable, responsive connections to very
                        far-away devices.</p>
                </div>
                {% include_relative components/assets/range-waves.svg %}
            </div>
        </div>
    </div>
</section>