<section id="overview">
    <div class="section-inner">
        <div class="section-inner-content">
            <div class="container">

                <div class="cols">
                    <div class="col">
                        <h1>Home Assistant
                            <span>ZWA-2</span>
                        </h1>
                    </div>
                    <div class="col">
                        <p>
                            The ultimate way to connect<br /><strong>Z-Wave</strong> devices to Home Assistant.
                        </p>
                        <div class="logos">
                            <img src="/images/connect/zwa-2/home-assistant.svg" alt="Home Assistant Logo" />
                            <div class="vline"></div>
                            <img src="/images/connect/zwa-2/z-wave.svg" alt="ZWA-2 Logo" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>