<section id="plug-and-play">
    <div class="section-inner">
        <div class="section-inner-content">
            <div class="model-still">
                <img src="/connect/zwa-2/video-frames/scene2/135.webp" />
            </div>
            <div class="container">
                <div class="cols">
                    <div class="col">
                        <h2>Plug and play</h2>
                        <p>Z-Wave setup has never been easier, thanks to our intuitive start-up wizard and one-click
                            firmware updates.</p>
                    </div>
                    <div class="col">
                        <div class="config-cards">
                            <div class="config-card complete">
                                <div class="config-card-content">
                                    <div class="h4 config-card-title">Device discovered</div>
                                    <p class="config-card-description">Ready to configure in Home Assistant</p>
                                </div>
                                <div class="config-card-icon">
                                    <div class="check"></div>
                                </div>
                                <div class="config-card-progress"></div>
                            </div>
                            <div class="config-card">
                                <div class="config-card-content">
                                    <div class="h4 config-card-title">Configure your Z-Wave network</div>
                                    <p class="config-card-description">Create a new network or migrate your existing setup</p>
                                </div>
                                <div class="config-card-icon">
                                    <div class="check"></div>
                                </div>
                                <div class="config-card-progress"></div>
                            </div>
                            <div class="config-card">
                                <div class="config-card-content">
                                    <div class="h4 config-card-title">You're all set</div>
                                    <p class="config-card-description">Effortlessly control all of your Z-Wave devices
                                    </p>
                                </div>
                                <div class="config-card-icon">
                                    <div class="check"></div>
                                </div>
                                <div class="config-card-progress"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>