<section id="second-generation-platform">
    <div class="section-inner">
        <div class="section-inner-content">
            <div class="container">
                <div class="cols">
                    <div class="col">
                        <h2>Left title</h2>
                        <p>Left text</p>
                    </div>
                    <div class="col">
                        Right
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>