<section id="specs">
    <div class="section-inner">
        <div class="section-inner-content">
            <div class="container">
                <div class="cols">
                    <div class="col">
                        <h2>Specifications</h2>
                        <div class="specs-list">
                            <div class="spec-list-top-mobile">
                                <div class="cols">
                                    <div class="col">
                                        <h4>Dimensions and weight</h4>
                                        <div class="spec-title">Device</div>
                                        <div class="spec-value">
                                            <div>125x125x315 mm</div>
                                            <div>350 g</div>
                                        </div>
                                        <h4>Material</h4>
                                        <div class="spec-title">Enclosure</div>
                                        <div class="spec-value">
                                            <div>Polycarbonate plastic</div>
                                        </div>
                                        <div class="spec-title">Colors</div>
                                        <div class="spec-value">
                                            <div>White and semi-transparent</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <img id="exploded-diagram-m" src="/images/connect/zwa-2/exploded-diagram.svg">
                                    </div>
                                </div>
                            </div>
                            <div class="spec-list-top-desktop">
                                <h4>Dimensions and weight</h4>
                                <div class="cols">
                                    <div class="col">
                                        <div class="spec-title">Device</div>
                                        <div class="spec-value">
                                            <div>125x125x315 mm</div>
                                            <div>350 g</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="spec-title">With box</div>
                                        <div class="spec-value">
                                            <div>345x222x45 mm</div>
                                            <div>600 g</div>
                                        </div>
                                    </div>
                                </div>

                                <h4>Material</h4>
                                <div class="cols">
                                    <div class="col">
                                        <div class="spec-title">Enclosure</div>
                                        <div class="spec-value">
                                            <div>Polycarbonate plastic</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="spec-title">Colors</div>
                                        <div class="spec-value">
                                            <div>White and semi-transparent</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h4>Product details</h4>
                            <div class="cols">
                                <div class="col">
                                    <div class="spec-title">SoCs</div>
                                    <div class="spec-value">
                                        <div>Silicon Labs ZG23</div>
                                        <div>ESP32-S3 (USB-serial bridge)</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="spec-title">Power/data</div>
                                    <div class="spec-value">
                                        <div>USB-C, 5 V DC, 1 A</div>
                                    </div>
                                </div>
                            </div>

                            <div class="cols">
                                <div class="col">
                                    <div class="spec-title">Supported protocols</div>
                                    <div class="spec-value">
                                        <div>Z-Wave, Z-Wave Long Range</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="spec-title">Z-Wave series</div>
                                    <div class="spec-value">
                                        <div>800</div>
                                    </div>
                                </div>
                            </div>

                            <div class="spec-title">Antenna characteristics</div>
                            <div class="cols">
                                <div class="col">
                                    <div class="spec-value">
                                        <div><strong>Frequency range:</strong> 860-930 MHz</div>

                                        <div>
                                            The frequency used by end devices depends on the region, e.g:
                                            <div>
                                                <strong>US:</strong> 908.42/916MHz (mesh), 912/920MHz (LR)<br>
                                                <strong>EU:</strong> 868.4/869.85 MHz (mesh), 864.0/866.0 MHz (LR)<br>
                                                <strong>AU:</strong> 919.8/921.4 MHz
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="spec-value">
                                        <div><strong>Peak gain:</strong><br /> 3.38 dBi</div>
                                        <div><strong>Radiation pattern:</strong><br /> Omnidirectional</div>

                                    </div>
                                </div>
                            </div>

                            <div class="cols">
                                <div class="col">
                                    <div class="spec-title">Environmental conditions for operation</div>
                                    <div class="spec-value">
                                        <div>Indoor use only</div>
                                        <div>0 °C to 65 °C | 32 °F to 149 °F</div>
                                        <div>Humidity: non-condensing</div>
                                        <div>Keep in dry, not excessively dusty environment as this can cause damage to
                                            the
                                            unit</div>
                                        <div>Do not leave the unit in direct sunlight or near any heat source, as this
                                            can
                                            cause overheating.</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="spec-title">In the box</div>
                                    <div class="spec-value">
                                        <div>Antenna + Base</div>
                                        <div>1.5m USB-Cable (USB 2.0/3.0)</div>
                                        <div>Quickstart guide</div>
                                        <div>Warranty and Safety Information</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <img id="exploded-diagram-d" src="/images/connect/zwa-2/exploded-diagram.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>