<section id="zwave-range">
    <div class="section-inner">
        <div class="section-inner-content">
            <div class="container">
                <div class="cols">
                    <div class="col">
                        <h2>Z-Wave has range</h2>
                        <p>Z-Wave empowers you to connect with confidence while exploring a world of smart home options.
                        </p>
                    </div>
                    <div class="col">
                        <div class="feature-card" id="silence-the-noise">
                            <div class="feature-card-content">
                                <div class="feature-card-title h3">Silence the noise</div>
                                <p class="feature-card-description">While Wi-Fi, Bluetooth, Zigbee, and Thread are all
                                    vying for the same airspace, Z-Wave has its own much quieter spectrum.</p>
                            </div>
                            <div class="feature-card-image">
                                <div class="wavelength-graphic mobile">
                                    {% include_relative components/assets/zwave-wavelength-mobile.svg %}
                                </div>
                                <div class="wavelength-graphic tablet">
                                    {% include_relative components/assets/zwave-wavelength.svg %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cols">
                    <div class="col">
                        <div class="feature-card feature-card--framed" id="physics-is-on-its-side">
                            <div class="feature-card-content">
                                <div class="feature-card-title h3">Physics is on its side</div>
                                <p class="feature-card-description">Z-Wave uses sub-GHz radio waves better suited for
                                    getting through thick walls and across large households.</p>
                            </div>
                            <div class="feature-card-image">
                                <img src="/images/connect/zwa-2/z-wave-physics.svg" alt="Z-Wave physics"
                                    loading="lazy">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="feature-card" id="best-listener">
                            <div class="feature-card-content">
                                <div class="feature-card-title h3">ZWA-2 is the best listener</div>
                                <p class="feature-card-description">ZWA-2 has the most optimized antenna for Z-Wave.
                                    This allows it to hear even the faintest signal with clarity, making your network
                                    more responsive and stable.</p>
                            </div>
                            <div class="feature-card-image">
                                {% include_relative components/assets/listener.svg %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>