<div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="skyline grid">
        <div class="skyline grid__item one-whole">
          <div class="footer-skyline">
          </div>
        </div>
      </div>
      <div class="footer-nav grid">
        <div class="company grid__item one-quarter lap-one-half palm-one-whole">
          <div class="title">
            <img
              src="/images/footer-logo-text.svg"
              height="72"
              alt="Home Assistant"
            />
          </div>
          <p>
            Home Assistant is a project from the <a href="https://www.openhomefoundation.org/">Open Home Foundation</a>, sponsored by <a href="https://www.nabucasa.com/">Nabu Casa</a>.
          </p>
        </div>

        <div class="grid__item one-quarter lap-one-half palm-one-whole">
          <h3>Join us and contribute!</h3>
          <ul>
            <li><a class="external-link" href="https://github.com/home-assistant/">GitHub repo {% icon "tabler:external-link" %}</a></li>
            <li><a class="external-link" href="https://developers.home-assistant.io">Developers Portal {% icon "tabler:external-link" %}</a></li>
            <li><a class="external-link" href="https://design.home-assistant.io">Design Portal {% icon "tabler:external-link" %}</a></li>
            <li><a class="external-link" href="https://data.home-assistant.io">Data Science Portal {% icon "tabler:external-link" %}</a></li>
            <li><a class="external-link" href="https://community.home-assistant.io">Community Forum {% icon "tabler:external-link" %}</a></li>
            <li><a href="/help/reporting_issues/">Reporting issues</a></li>
            <li><a href="https://home-assistant-store.creator-spring.com/">Community Merch Store</a></li>
          </ul>
          <h3>System status</h3>
          <ul>
            <li>
              <a class="external-link"  href="https://alerts.home-assistant.io">Integration Alerts {% icon "tabler:external-link" %}</a>
            </li>
            <li><a href="/security/">Security Alerts</a></li>
            <li>
              <a class="external-link" href="https://status.home-assistant.io">System Status {% icon "tabler:external-link" %}</a>
            </li>
          </ul>
        </div>

        <div class="grid__item one-quarter lap-one-half palm-one-whole">
          <h3>Companion apps</h3>
          <ul>
            <li><a class="external-link" href="https://apps.apple.com/us/app/home-assistant/id1099568401">iOS and Apple devices</a></li>
            <li><a class="external-link" href="https://play.google.com/store/apps/details?id=io.homeassistant.companion.android">Android and Wear OS</a></li>
            <li><a class="external-link" href="https://companion.home-assistant.io/">...and more!</a></li>
          </ul>
          <h3>Governance</h3>
          <ul>
            <li><a href="/privacy/">Privacy Notices</a></li>
            <li><a href="/developers/cla/">Contributor License Agreement</a></li>
            <li><a href="/tos/">Terms of Service</a></li>
            <li><a href="/code_of_conduct/">Code of Conduct</a></li>
            <li><a href="/developers/credits/">Credits</a></li>
            <li><a href="/developers/license/">License</a></li>
          </ul>
        </div>

        <div class="socials grid__item one-quarter lap-one-half palm-one-whole">

          <h3>Follow us</h3>
          <p><a class="external-link" href='https://building.open-home.io/#/portal'>Sign up for our newsletter {% icon "tabler:external-link" %}</a></p>
          <div class="icons">
            <a
              rel="me"
              href="https://youtube.com/@home_assistant"
              title="YouTube"
              target="_blank"
              ><iconify-icon icon="simple-icons:youtube"></iconify-icon></a>
            <a
              rel="me"
              href="https://reddit.com/r/homeassistant"
              title="Reddit"
              target="_blank"
              ><iconify-icon icon="simple-icons:reddit"></iconify-icon></a>
            <a
              rel="me"
              href="https://github.com/home-assistant/home-assistant"
              title="GitHub"
              target="_blank"
              ><iconify-icon icon="simple-icons:github"></iconify-icon></a>
            <br />
            <a
              rel="me"
              href="https://fosstodon.org/@homeassistant"
              title="Mastodon"
              target="_blank"
              ><iconify-icon icon="simple-icons:mastodon"></iconify-icon></a>
            <a
              rel="me"
              href="https://bsky.app/profile/home-assistant.io"
              title="Bluesky"
              target="_blank"
             ><iconify-icon icon="simple-icons:bluesky"></iconify-icon></a>
            <a
              rel="me"
              href="https://x.com/home_assistant"
              title="X"
              target="_blank"
             ><iconify-icon icon="simple-icons:x"></iconify-icon></a>
            <br />
            <a
              rel="me"
              href="https://www.facebook.com/homeassistantio"
              title="Facebook"
              target="_blank"
              ><iconify-icon icon="simple-icons:facebook"></iconify-icon></a>
            <a
              rel="me"
              href="https://www.instagram.com/homeassistant/"
              title="Instagram"
              target="_blank"
              ><iconify-icon icon="simple-icons:instagram"></iconify-icon></a>
            <a
              rel="me"
              href="https://www.linkedin.com/company/home-assistant"
              title="LinkedIn"
              target="_blank"
              ><iconify-icon icon="simple-icons:linkedin"></iconify-icon></a>
          </div>

          <div class="web-notice">
            <p>
              Contact us <a href="mailto:hello@home-assistant.io">here</a> for media and partnership inquiries. (No technical support!)
            </p>
            <p>
              Website powered by <a href="https://jekyllrb.com/">Jekyll</a><br />
              Originally based on the <a href="https://github.com/coogie/oscailte">Oscailte theme</a>
            </p>
            <a href="https://www.netlify.com">
              <img
                src="/images/frontpage/netlify.svg"
                alt="Deploys by Netlify Badge"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
