<div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="skyline grid">
        <div class="skyline grid__item one-whole">
          <div class="footer-skyline">
          </div>
        </div>
      </div>
      <div class="footer-nav grid">
        <div class="company grid__item one-quarter lap-one-half palm-one-whole">
          <div class="title">
            <img
              src="/images/footer-logo-text.svg"
              height="72"
              alt="Home Assistant"
            />
          </div>
          <p>
            Home Assistant is a project from the <a href="https://www.openhomefoundation.org/">Open Home Foundation</a>, sponsored by <a href="https://www.nabucasa.com/">Nabu Casa</a>.
          </p>
        </div>

        <div class="grid__item one-quarter lap-one-half palm-one-whole">
          <h3>Join us and contribute!</h3>
          <ul>
            <li><a class="external-link" href="https://github.com/home-assistant/">GitHub repo</a></li>
            <li><a class="external-link" href="https://developers.home-assistant.io">Developers Portal</a></li>
            <li><a class="external-link" href="https://design.home-assistant.io">Design Portal</a></li>
            <li><a class="external-link" href="https://data.home-assistant.io">Data Science Portal</a></li>
            <li><a class="external-link" href="https://community.home-assistant.io">Community Forum</a></li>
            <li><a class="external-link" href="https://creators.home-assistant.io/">Creator Network</a></li>
            <li><a class="external-link" href="https://works-with.home-assistant.io/">Works With Home Assistant</a></li>
            <li><a href="/community">Our community</a></li>
            <li><a href="/help/reporting_issues/">Reporting issues</a></li>
          </ul>
          <h3>System status</h3>
          <ul>
            <li>
              <a class="external-link"  href="https://alerts.home-assistant.io">Integration Alerts</a>
            </li>
            <li><a href="/security/">Security Alerts</a></li>
            <li>
              <a class="external-link" href="https://status.home-assistant.io">System Status</a>
            </li>
          </ul>
        </div>

        <div class="grid__item one-quarter lap-one-half palm-one-whole">
          <h3>Companion apps</h3>
          <ul>
            <li><a class="external-link" href="https://apps.apple.com/app/id1099568401">iOS and Apple devices</a></li>
            <li><a class="external-link" href="https://play.google.com/store/apps/details?id=io.homeassistant.companion.android">Android and Wear OS</a></li>
            <li><a class="external-link" href="https://companion.home-assistant.io/">...and more!</a></li>
          </ul>

          <h3>Support us</h3>
          <ul>
            <li><a href="https://store.openhomefoundation.org" target="_blank">Merch store</a></li>
            <li><a href="/cloud/">Home Assistant Cloud</a></li>
          </ul>

          <h3>Governance</h3>
          <ul>
            <li><a href="/privacy/">Privacy Notices</a></li>
            <li><a href="/developers/cla/">Contributor License Agreement</a></li>
            <li><a href="/tos/">Terms of Service</a></li>
            <li><a href="/code_of_conduct/">Code of Conduct</a></li>
            <li><a href="/developers/credits/">Credits</a></li>
            <li><a href="/developers/license/">License</a></li>
          </ul>
        </div>

        <div class="socials grid__item one-quarter lap-one-half palm-one-whole">

          <h3>Follow us</h3>
          <p><a class="external-link" href='https://newsletter.openhomefoundation.org/#/portal'>Sign up for our newsletter</a></p>
          <ul class="icons">
            {% for social in site.data.social_media %}
            <li>
              <a
                rel="me noopener noreferrer"
                href="{{ social.url }}"
                title="{{ social.title }}"
                target="_blank"
              ><iconify-icon icon="{{ social.icon }}"></iconify-icon></a>
            </li>
            {% endfor %}
          </ul>

          <div class="web-notice">
            <p>
              For partnership inquiries please check out <a href="https://works-with.home-assistant.io/">Works With Home Assistant</a>. For media, <a href="mailto:media@openhomefoundation.org">email our team</a>. For other questions, you can <a href="mailto:hello@home-assistant.io">contact support</a> (No technical support!)
            </p>
            <p>
              Website powered by <a href="https://jekyllrb.com/">Jekyll</a><br />
              Originally based on the <a href="https://github.com/coogie/oscailte">Oscailte theme</a>
            </p>
            <a href="https://www.netlify.com">
              <img
                src="/images/frontpage/netlify.svg"
                alt="Deploys by Netlify Badge"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>