<!doctype html>
  <!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">
    <meta name="description" content="{{ page.description | default: site.description | strip_html | truncate: 160 }}">
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="{{ page.url | canonical_url }}">

    <meta property="fb:app_id" content="{{ site.social.facebook.app_id }}">
    <meta property="og:title" content="{% if post.title %}{{ post.title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:url" content="{{ page.url | canonical_url }}">
    <meta property="og:type" content="{% if page.categories %}article{% else %}website{% endif %}">
    <meta property="og:description" content="{{ page.description | default: site.description | strip_html | truncate: 200 }}">
    <meta property="og:image" content="{{ page.og_image | default: "/images/default-social.png" | prepend: site.url }}">
    {% comment %}{% if page.og_image %}summary_large_image{% else %}summary{% endif %}{% endcomment %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ site.social.twitter.account }}">
    {% if page.author_twitter %}<meta name="twitter:creator" content="@{{ page.author_twitter }}">{% endif %}
    <meta name="twitter:title" content="{% if post.title %}{{ post.title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{{ page.description | default: site.description | strip_html | truncate: 200 }}">
    <meta name="twitter:image" content="{{ page.og_image | default: "/images/default-social.png" | prepend: site.url }}">
    {% if site.social.mastodon.account %}<link rel="me" href="{{ site.social.mastodon.account }}">{% endif %}

    <link href="https://cdn.jsdelivr.net/npm/@docsearch/css@3/dist/style.min.css" rel="stylesheet" />
    <link href="{{ '/stylesheets/prism.css' | cache_buster }}" rel="stylesheet">
    <link href="{{ '/stylesheets/screen.css' | cache_buster }}" media="screen, projection, print" rel="stylesheet">
    <link href="{{ site.subscribe_rss }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&amp;family=Instrument+Sans:ital,wdth,wght@0,99,400..700;1,99,400..700&amp;" rel="stylesheet">
    <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
  </head>
