<div class="grid">
  {% assign url_parts = page.url | split: '/' %}
  {% assign root = url_parts[1] %}
  {% if root == 'integrations' %}
    {% include asides/component_navigation.html %}
  {% elsif root == 'cookbook' %}
    {% include asides/cookbook_navigation.html %}
  {% elsif root == 'lovelace' %}
    {% include asides/lovelace_navigation.html %}
  {% elsif root == 'developers' or root == 'help' %}
    {% include asides/help_navigation.html %}
  {% elsif root == 'getting-started' %}
    {% include asides/getting_started_navigation.html %}
  {% elsif root == 'docs' %}
    {% include asides/docs_navigation.html %}
  {% elsif root == 'faq' %}
    {% include asides/faq_navigation.html %}
  {% elsif root == 'hassio' or root == 'addons' %}
    {% include asides/hassio_navigation.html %}
  {% elsif root == 'cloud' %}
    {% include asides/cloud_navigation.html %}
  {% elsif root == 'conference' %}
    {% include asides/conference_navigation.html %}
  {% else %}
    {% include asides/about.html %}

    {% if page.blog_index %}
      {% include asides/categories.html %}
    {% else %}
      {% include post/sharing.html %}
      {% include asides/recent_posts.html %}
    {% endif %}
  {% endif %}
</div>
