<div class="grid">
  {% include site/vertical_nav.html %}

  {% if page.toc %}
    {%- unless page.no_toc -%}
      <section id="toc-module" class="aside-module grid__item one-whole lap-one-half">
        <div class='section'>
          <h1 class="title epsilon">{% icon "mdi:toc" %} On this page</h1>
          {{ content | toc_only }}
        </div>
      </section>
    {%- endunless -%}
  {% endif %} 

  {%- if page.ha_category.first -%}
    <section id="category-module" class="aside-module grid__item one-whole lap-one-half">
      <div class='section'>
        <h1 class="title epsilon">{% icon "mdi:category" %} Categories</h1>
        <ul class='divided'>
        {%- for category in page.ha_category -%}
          <li>
            <a href='/integrations/#{{ category | slugify }}'>{{ category }}</a>
          </li>
        {%- endfor -%}
        </ul>
      </div>
    </section>
  {%- endif -%}
</div>
