{% assign url_parts = page.url | split: '/' %}
{% assign root = url_parts[1] %}
{% assign doc = url_parts[2] %}

{% if root == 'integrations' %}
  {% include asides/component_navigation.html %}

{% elsif root == 'getting-started' %}
  {% include asides/getting_started_navigation.html %}
{% elsif root == 'installation' %}
  {% include asides/getting_started_navigation.html %}

{% elsif root == 'common-tasks' %}
  {% include asides/docs_navigation.html %}
{% elsif root == 'dashboards' %}
  {% include asides/docs_navigation.html %}
{% elsif root == 'voice_control' %}
  {% include asides/docs_navigation.html %}
{% elsif root == 'docs' %}
  {% include asides/docs_navigation.html %}
{% elsif root == 'projects' %}
  {% include asides/docs_navigation.html %}

{% elsif root == 'developers' or root == 'help' %}
  {% include asides/help_navigation.html %}
{% elsif root == 'faq' %}
  {% include asides/faq_navigation.html %}
{% elsif root == 'hassio' or root == 'addons' %}
  {% include asides/hassio_navigation.html %}
{% elsif root == 'cloud' %}
  {% include asides/cloud_navigation.html %}
{% elsif root == 'conference' %}
  {% include asides/conference_navigation.html %}

{% else %}
  {% if page.blog_index %}
    {% include asides/recent_categories.html %}
  {% else %}
    {% if doc == 'categories' %}
      {% include asides/categories.html %}
    {% elsif root == 'blog' %}
      {% include post/sharing.html %}
      {% include asides/recent_posts.html posts='5' %}
    {% else %}
      {% include post/sharing.html %}
    {% endif %}
  {% endif %}
{% endif %}
