---
layout: page
date: 2014-12-18 22:39
comments: false
show_title: false
sidebar: false
hero_unit: true
is_homepage: true
hide_github_edit: true
description: Open-source home automation platform running on Python 3. Track and control all devices at home and automate control. Installation in less than a minute.
hide_github_edit: true
---

{% assign recent_release_post = site.categories['Release-Notes'].first %}

<div class="frontpage">
  <div class="grid">
    <div class="grid__item one-third lap-one-third palm-one-whole">
      <div class='current-version material-card text'>
        <h1>Current Version: {{ site.current_major_version }}.{{ site.current_minor_version }}.{{ site.current_patch_version }}</h1>
        Released: <span class='release-date'>{{ site.date_released | date: '%B %d, %Y' }}</span>

        <div class='links'>
          <a href='{{ root_url }}{{ recent_release_post.url }}{{ site.patch_version_notes }}'>Release notes</a>
        </div>
      </div>
      <div class='join-community material-card text'>
        <h1>Join The Community</h1>
        We love to help &amp; talk home automation.

        <div class='links'>
          <a href='https://community.home-assistant.io'>Forums</a>
          <a href='https://gitter.im/home-assistant/home-assistant'>Chat</a>
          <a href='https://gitter.im/home-assistant/home-assistant/devs'>Dev Chat</a>
        </div>
      </div>
    </div>
    <div class="grid__item two-thirds lap-two-thirds palm-one-whole">
      <div class='recent-posts material-card text'>
        <h1>Recent Blog Posts</h1>

        {% for post in site.posts limit: 3 %}
          <li class="post">
            <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
            <small class='blog-date'>{{ post.date_formatted }}</small>
          </li>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
          <span class="icon">
            <i class="icon-eye-open"></i>
          </span>
        </div>

        <div class="grid__item one-whole lap-two-thirds">
          {% include custom/grid_item_left.html %}
        </div>
      </div>
    </div>

    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
          <span class="icon">
            <i class="icon-mobile-phone"></i>
          </span>
        </div>

        <div class="grid__item one-whole lap-two-thirds">
          {% include custom/grid_item_middle.html %}
        </div>
      </div>
    </div>

    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
          <span class="icon">
            <i class="icon-cogs"></i>
          </span>
        </div>

        <div class="grid__item one-whole lap-two-thirds">
         {% include custom/grid_item_right.html %}
        </div>
      </div>
    </div>
  </div>
</div>
