---
layout: page
date: 2014-12-18 22:39
comments: false
show_title: false
sidebar: false
hero_unit: true
is_homepage: true
regenerate: true
hide_github_edit: true
description: Open-source home automation platform running on Python 3. Track and control all devices at home and automate control. Installation in less than a minute.
hide_github_edit: true
---

{% assign recent_release_post = site.categories['Release-Notes'].first %}

<div class="frontpage">
  <div class="grid">
    <div class="grid__item one-third lap-one-third palm-one-whole">
      <div class='current-version material-card text'>
        <h1>Current Version: {{ site.current_major_version }}.{{ site.current_minor_version }}.{{ site.current_patch_version }}</h1>
        Released: <span class='release-date'>{{ site.date_released | date: '%B %d, %Y' }}</span>

        <div class='links'>
          <a href='{{ root_url }}{{ recent_release_post.url }}{{ site.patch_version_notes }}'>Release notes</a>
        </div>
      </div>
      <div class='join-community material-card text'>
        <h1>Join The Community</h1>
        We love to help &amp; talk home automation.

        <div class='links'>
          <a href='https://community.home-assistant.io'>Forums</a>
          <a href='https://discord.gg/c5DvZ4e'>Chat</a>
        </div>
      </div>

      <a class='material-card highlight-blog-post' href='/blog/2016/01/19/perfect-home-automation/'>
        Read our founder's vision for the perfect home automation <i class="icon-arrow-right"></i>
      </a>
    </div>
    <div class="grid__item two-thirds lap-two-thirds palm-one-whole">
      <div class='recent-posts material-card text'>
        <h1>Recent Blog Posts</h1>

        {% for post in site.posts limit: 3 %}
          <li class="post">
            <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
            <small class='blog-date'>{{ post.date_formatted }}</small>
          </li>
        {% endfor %}
      </div>

      <a class='material-card highlight-blog-post large' href='/blog/2017/07/24/introducing-hassio/'>
        Learn how Hass.io can turn your Raspberry Pi into the ultimate home automation hub <i class="icon-arrow-right"></i>
      </a>

      <a class='material-card shirt-promo' href='/blog/2017/02/22/home-assistant-tshirts-have-arrived/'>
        <div class='caption'>
          <div class='title'>
            Join the Home Assistant t-shirt revolution!
          </div>
          <div class='subtitle'>
            All proceeds will be donated to the Electronic Frontier Foundation.
          </div>
        </div>
      </a>
    </div>

    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
          <span class="icon">
            <i class="icon-eye-open"></i>
          </span>
        </div>

        <div class="grid__item one-whole lap-two-thirds">
          {% include custom/grid_item_left.html %}
        </div>
      </div>
    </div>

    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
          <span class="icon">
            <i class="icon-mobile-phone"></i>
          </span>
        </div>

        <div class="grid__item one-whole lap-two-thirds">
          {% include custom/grid_item_middle.html %}
        </div>
      </div>
    </div>

    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
          <span class="icon">
            <i class="icon-cogs"></i>
          </span>
        </div>

        <div class="grid__item one-whole lap-two-thirds">
         {% include custom/grid_item_right.html %}
        </div>
      </div>
    </div>

    <div class="seen-press grid__item one-whole lap-one-whole palm-one-whole">
      <div class="material-card">
        <h1>Home Assistant in the press</h1>

        <a href='https://www.producthunt.com/posts/home-assistant'><img src='/images/press/producthunt.com.png' alt='ProductHunt.com logo'></a>

        <a href='https://www.linux.com/news/home-assistant-python-approach-home-automation-video'><img src='/images/press/linux.com.png' alt='Linux.com logo'></a>

        <a href='https://www.wired.com/2016/07/now-can-hide-smart-home-darknet/'><img src='/images/press/wired.com.svg' alt='Wired.com logo'></a>

        <a href='https://opensource.com/article/17/7/home-automation-primer'><img src='/images/press/opensource.com.svg' alt='OpenSource.com logo'></a>
      </div>
    </div>
  </div>
</div>
