---
show_title: false
sidebar: false
hero_unit: true
dark_header: true
is_homepage: true
regenerate: true
feedback: false
---

<div class="frontpage">
  <div class="grid">

    <!-- News section -->
    {% include custom/news.html %}

    <!-- Features section -->
    {% include custom/features.html %}

    <!-- Press section -->
    {% include custom/press.html %}

    <!-- Sponsor section -->
    <section class="sponsor">
      <div class="sponsored-by grid__item one-whole">
        <p class="sponsored-by-title">Home Assistant is a project of the Open Home Foundation: the non-profit organization that fights for the fundamental principles of privacy, choice, and sustainability for smart homes.</p>
        <p class="sponsored-by-title sponsored-by-subtitle">The foundation receives funding from its commercial partners Apollo Automation, and Nabu Casa – which also makes official Home Assistant products!</p>
        <div class="sponsored-by-grid">
          <a target="_blank" rel="noreferrer noopener" href="https://www.nabucasa.com"
            ><img alt="Nabu Casa logo" src="/images/sponsors/nabu_casa.svg"
          /></a>
          <a target="_blank" rel="noreferrer noopener" href="https://apolloautomation.com"
            ><img alt="Apollo Automation logo" src="/images/commercial-partners/apollo-automation.svg"
          /></a>
        </div>
      </div>
    </section>

  </div>
</div>
