.content .ha-connect {
    background-color: #000000;
    color: #ffffff;

    section .content {
        color: #ffffff;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        letter-spacing: -1px;
        text-transform: unset;
        margin: 0;
    }

    h1 {
        margin: var(--typography-h1-margin-y) 0;
    }

    h2 {
        margin: var(--typography-h2-margin-y) 0;
    }

    h3 {
        margin: var(--typography-h3-margin-y) 0;
    }

    h4 {
        margin: var(--typography-h4-margin-y) 0;
    }

    h5 {
        margin: var(--typography-h5-margin-y) 0;
    }

    h6 {
        margin: var(--typography-h6-margin-y) 0;
    }
}


section {
    color: #ffffff;

    .section-inner {
        height: 100%;
        position: sticky;
        top: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section-inner-content {
        padding: 40px 0;
        width: 100%;

        @include bp(tablet) {
            padding: 80px 0;
        }

        @include bp(desktop) {
            padding: 120px 0;
        }
    }
}

.nc-collaboration {
    position: absolute;

    &.mobile {
        display: block;

        @include bp(desktop) {
            display: none;
        }
    }

    &.desktop {
        display: none;

        @include bp(desktop) {
            display: block;
        }
    }
}