div.details-block {
  width: 100%;
  display: block;
  margin: 0 0 1.5em 0;

  .details-block-item {
    background-color: white;
    padding: 4px 16px;
    margin: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 16px;

    .details-block-title {
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      cursor: pointer;
      height: 54px;
      justify-content: space-between;
      display: flex;
      align-items: center;
      background-color: white;
      border: 0px;
      width: 100%;
    }
    .details-block-content {
      margin: 4px 32px 12px 0;
    }
  }
}
