// Here you can easily change your sites's layout.
// To give it a try, uncomment some of the lines below, make changes, rebuild your blog, and see how it works.

//$header-font-size: 1em;
//$header-padding-top: 1.5em;
//$header-padding-bottom: 1.5em;

//$max-width: 1350px;
//$indented-lists: true;

// Padding used for layout margins
//$pad-min: 18px;
//$pad-narrow: 25px;
//$pad-medium: 35px;
//$pad-wide: 55px;

// Sidebar widths used in media queries
//$sidebar-width-medium: 240px;
//$sidebar-pad-medium: 15px;
//$sidebar-pad-wide: 20px;
//$sidebar-width-wide: 300px;

html {
    overflow-y: hidden;
}

.page-content {
    width: 100%;
    margin-top: 68px;
    padding-top: 24px;
    overflow-y: scroll;
    height: calc(100% - 68px);;
    display: inline-block;
}

#sidebar {
    .grid {
        position: fixed;
        display: inline-block;
        width: 33.33%;
        height: max-content;

        .brand-logo-container {
            margin-top: 0;
            margin-right: 24px;
        }
    }
}

.site-header {
    position: fixed;
    width: 100%;
    height: 68px;
    top: 0;
    overflow: hidden;
    z-index: 2;
    display: inline-block;
}


@media only screen and (max-width: $lap-end) {
    #sidebar {
      .grid {
          position: initial;
        }
    }
  }