@charset "UTF-8";

$primary-color: #049cdb;

.site-header {
  position: relative;

  .site-title {
    display: flex;
    align-items: center;
    font-weight: normal;
  }
}

.search-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  padding-top: 19px;
  padding-right: 15%;

  .search {
    max-width: 500px;
    width: 100%;
    border-bottom: 2px solid $primary-color;
    float: right;

    .algolia-autocomplete {
      width: calc(100% - 64px);
      margin: 0 10px;
    }

    input {
      border: 0;
      width: 100%;
      outline: none;
    }
  }
}

@media only screen and (max-width: $menu-collapse) {
  .search-container {
    z-index: 20;
    padding-right: 5px;
    padding-left: 5px;
  }

  .feedback {
    margin-bottom: 32px;
  }
}

.hero {
  background-color: #038fc7;
  padding-bottom: 0;

  .lead {
    margin-bottom: 16px;
  }

  .hero-buttons a {
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
    display: inline-block;
    font-weight: 500;
  }
}

.material-card {
  background-color: #fefefe;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);

  h1 {
    font-family: Roboto, Noto, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.012em;
    line-height: 40px;
    color: #212121;
    padding: 20px 16px 12px;
    text-transform: capitalize;
    margin: 0;
  }

  &.text {
    padding: 16px;

    h1 {
      padding: 4px 0px 12px;
    }
  }

  .links {
    margin-top: 8px;
    margin-left: -8px;

    a {
      text-decoration: none;
      font-weight: 500;
      text-transform: uppercase;
      display: inline-block;
      margin: 0 8px;
    }
  }
}

.frontpage {
  .material-card {
    margin-bottom: 24px;
  }

  .current-version {
    .release-date {
      white-space: nowrap;
    }
  }

  .recent-posts {
    .blog-date {
      white-space: nowrap;
    }
  }

  .highlight-blog-post {
    font-size: 2rem;
    line-height: 1.15;
    padding: 15px;
    display: block;
    text-decoration: none;
    color: white;
    transition: background-color 0.5s;
    background-color: #038fc7;

    &.large {
      font-size: 2.25rem;
      line-height: 1.33333;
    }

    &:hover {
      background-color: lighten(#038fc7, 10%);
    }
  }

  .picture-promo {
    display: block;
    padding-top: 30%;
    background-size: cover;
    background-position: center;
    text-decoration: none;

    .caption {
      padding: 16px 12px 12px;
      background-color: rgba(0, 0, 0, 0.54);
      color: white;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        font-size: 20px;
        font-weight: 400;
      }

      .subtitle {
        font-size: 12px;
        font-weight: initial;
      }

      svg {
        fill: white;
        width: 32px;
        height: 32px;
        min-width: 32px;
      }
    }
  }

  .supported-brands {
    text-align: center;

    a {
      text-decoration: none;
    }

    img {
      border: none !important;
      box-shadow: none !important;
      max-height: 50px;
      max-width: 140px;
      margin: 10px;
      vertical-align: middle;
    }
  }

  .seen-press {
    margin-top: 24px;

    img {
      border: 0;
      box-shadow: none;
      margin: 15px;
      width: 200px;
      max-width: 40%;
    }
  }
}

// https://fortawesome.github.io/Font-Awesome/3.2.1/icons/

h1:hover a.title-link,
h2:hover a.title-link,
h3:hover a.title-link,
h4:hover a.title-link,
h5:hover a.title-link,
h6:hover a.title-link,
dt:hover a.title-link {
  position: relative;

  &::before {
    position: absolute;
    top: 5px;
    left: -25px;
    padding-right: 5px;
    padding-left: 5px;
    font-family: "FontAwesome";
    font-size: 15px;
    color: #999;
    content: "\f0c1";
  }
}

.ha-title {
  display: inline-flex;
  height: 100%;
  white-space: nowrap;

  img {
    border-radius: 3px;
    width: 36px;
    margin-right: 10px;
  }

  a > * {
    vertical-align: middle;
  }
}

.usp {
  ul {
    text-align: left;
    margin-left: 27px;
    margin-top: -18px;
  }

  .icon i {
    border: none !important;
  }
}

.hero-buttons a {
  margin: 0 30px 10px 0;

  &:last-child {
    margin: 0;
  }
}

article.post,
article.page,
article.listing {
  font-size: 1.125em;
  line-height: 1.6;

  img,
  table {
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px;
    vertical-align: middle;
  }

  img.no-shadow {
    border: 0;
    box-shadow: none;
  }

  & > table,
  & > .entry-content > table {
    background-color: #f3fcf5;
  }

  p.img {
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 3px;
    font-size: 0.9rem;
    box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px;

    img {
      display: block;
      box-shadow: none;
      margin: 0 auto;
    }
  }

  li {
    margin-bottom: 10px;

    & > p:last-child {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: underline;

    &.btn {
      text-decoration: none;
    }
  }

  h1 {
  }

  h2 {
    font-size: 1.5em;
    margin-top: 2em;

    // Future re-design
    // margin: 1.5em 0 1rem;
    //
    // border: 0;
    // border-top: 1px solid $primary-color;
    // padding-top: 1.4rem;
  }

  h3 {
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    font-size: 1.2rem;
    margin-top: 2em;

    // Future re-design
    // margin: 2em 0 1rem;
  }

  h4 {
    font-size: 1.1rem;
    margin-top: 2em;

    // Future re-design
    // margin: 1.5em 0 1rem;
  }

  details {
    padding-bottom: 1em;
  }
}

p.note,
div.note {
  position: relative;

  background: #e7f2fa;

  padding: 40px 12px 6px 12px;
  margin-bottom: 24px;
  box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px;

  p {
    margin-bottom: 0px;
  }

  &::before {
    font-family: "FontAwesome", sans-serif;
    content: "\f05a"" Note " attr(data-title);
    background-color: #6ab0de;
    color: white;
    font-weight: bold;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 6px 14px;

    line-height: 1.5em;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &.warning {
    background-color: #f7f9e1;

    &::before {
      background-color: rgb(187, 185, 13);
      content: "\f071"" Warning " attr(data-title);
    }
  }
}

.copyright {
  text-align: left;

  .company {
    .title {
      font-size: 1.5em;
    }

    img {
      vertical-align: middle;
    }

    i {
      font-size: 2em;
      padding: 0 5px;
    }
  }

  ul {
    margin: 0;
    list-style: none;
  }
}

.aside-module {
  .section {
    margin-bottom: 10px;

    ul.section-nav {
      margin-left: 0px;

      li.toc-entry {
        list-style-type: none;
        li {
          list-style-type: circle;
          margin-left: 1em;
        }
        ul {
          margin-left: 1em;
        }
      }
    }
  }

  .brand-logo-container {
    text-align: center;
    margin-top: 50px;
    display: grid;
    justify-items: center;

    img {
      max-height: 67px;
    }

    a.my img {
      margin-top: 20px;
    }
  }
}

// Responsive YouTube embeds.
// https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-bottom: 25px;
  background: #000;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.edit-github {
  float: right;
  margin-left: 8px;
  margin-bottom: 8px;
  font-size: 0.8em;
}

ul.sidebar-menu {
  a.active {
    color: #000;
    font-weight: bold;
  }

  ul {
    margin-left: 30px;
  }
}

a code {
  color: $primary-color;
}

twitter-widget,
.twitter-tweet-rendered {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.aside-module {
  max-width: 100%;
  overflow: hidden;
}

// Configuration variables
div.config-vars {
  padding-bottom: 16px;

  .config-vars-item {
    border-bottom: 1px solid #d9dbde;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .nested .config-vars-item:last-child {
    border: none;
  }

  .config-vars-label {
    padding-bottom: 4px;
    position: relative;

    &:hover a.title-link::before {
      position: absolute;
      top: 5px;
      left: -25px;
      padding-right: 40px;
      font-family: "FontAwesome";
      font-size: 15px;
      color: #999;
      content: "ÔÉÅ";
    }
  }

  .config-vars-label-name {
    font-weight: bold;
    font-size: 16px;
    color: #222222bd;
  }

  .config-vars-type {
    color: #8792a2;
    font-size: 13px;
  }

  .config-vars-required {
    color: #8792a2;
    font-size: 13px;
    text-transform: lowercase;

    .true {
      color: #e56f4a;
      text-transform: uppercase;
      font-size: 11px;
    }

    .default {
      text-transform: None;
    }
  }

  .config-vars-description-and-children {
    font-size: 14px;
    color: #4f566b;
  }

  .config-vars-description p {
    margin: 0;
  }

  .config-vars-default {
    padding-top: 8px;

    p {
      margin: 0;
      display: inline;
    }
  }

  .nested {
    margin-left: 48px;
  }
}

code {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 0.8em;
  color: #1990b8;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  background-color: #fdfdfd;
  background-image: linear-gradient(
    transparent 50%,
    rgba(69, 142, 209, 0.04) 50%
  );
  background-size: 3em 3em;
  background-origin: content-box;
  background-attachment: local;

  border: 1px solid #ddd;
  border-radius: 0.4em;
  padding: 0.1em 0.4em;
}

@media only screen and (max-width: $menu-collapse) {
  #not_found {
    .page {
      text-align: center;

      .search404-container {
        margin-bottom: 32px;
      }
    }
  }
}

@media only screen and (min-width: $menu-collapse) {
  #not_found {
    .page {
      text-align: center;
      margin-bottom: 300px;

      .search404-container {
        margin-bottom: 32px;

        #search404 {
          width: 420px;
        }
      }
    }
    footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}

a.my {
  img {
    border: 0px;
  }
}
