@charset "UTF-8";

// https://fortawesome.github.io/Font-Awesome/3.2.1/icons/

.ha-title {
  white-space: nowrap;

  img {
    width: 40px;
    vertical-align: middle;
  }
}

.usp ul {
  text-align: left;
  margin-left: 27px;
  margin-top: -18px;
}

.hero-buttons a {
  margin: 0 30px 10px 0;

  &:last-child {
    margin: 0;
  }
}

article.post, article.page {
  img, table {
    border-radius: 3px;
    box-shadow: rgba(0,0,0,0.06) 0 0 10px;    
  }

  img.no-shadow {
    border: 0;
    box-shadow: none;
  }

  & > table {
    background-color: #F3FCF5;
  }
}

.note {
  background: #e7f2fa;
  padding: 12px;
  margin-bottom: 24px;
  box-shadow: rgba(0,0,0,0.06) 0 0 10px;

  .title::before {
    font-family: "FontAwesome";
    content: "\f05a";
    margin-right: 5px;   
  }

  .title {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-weight: bold;
    display: block;
    color: #fff;
    background: #6ab0de;
    margin: -12px;
    padding: 6px 12px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }

  .content {
    margin-bottom: 0;
  }

  &.warning {
    background-color: #F7F9E1;
    
    .title {
      background-color: rgb(187, 185, 13);;
    }

    .title::before {
      content: "\f071";
    }
  }
}