@charset "UTF-8";

// https://fortawesome.github.io/Font-Awesome/3.2.1/icons/

.ha-title {
  white-space: nowrap;

  img {
    width: 40px;
    vertical-align: middle;
  }
}

.usp ul {
  text-align: left;
  margin-left: 27px;
  margin-top: -18px;
}

.hero-buttons a {
  margin: 0 30px 10px 0;

  &:last-child {
    margin: 0;
  }
}

article.post, article.page, article.listing {
  img, table {
    border-radius: 3px;
    box-shadow: rgba(0,0,0,0.06) 0 0 10px;    
  }

  img.no-shadow {
    border: 0;
    box-shadow: none;
  }

  & > table {
    background-color: #F3FCF5;
  }

  p.img {
    background-color: #FFF;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 3px;
    font-size: .9rem;
    box-shadow: rgba(0,0,0,0.06) 0 0 10px;    

    img {
      display: block;
      box-shadow: none;
      margin: 0 auto;
    }
  }

  li {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

p.note {
  position: relative;

  background: #e7f2fa;

  padding: 40px 12px 6px 12px;
  box-shadow: rgba(0,0,0,0.06) 0 0 10px;

  &::before {
    font-family: "FontAwesome";
    content: "\f05a" " Note " attr(data-title);
    background-color: #6ab0de;
    color: white;
    font-weight: bold;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 6px 14px;

    line-height: 1.5em;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &.warning {
    background-color: #F7F9E1;
    
    &::before {
      background-color: rgb(187, 185, 13);;
      content: "\f071" " Warning " attr(data-title);
    }
  }

}
