@charset "UTF-8";

$primary-color: #1abcf2;

// Typography fixes
p,li {
  letter-spacing: .005em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $heading-font;
  font-weight: 650;
  letter-spacing: -.005em;
}
h1 {font-weight: 800;}
h3, h4 {font-weight: 700;}
.page h1.title.indent {
  font-size: 56px;
}
h1.title.delta {
  border-bottom: none;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.title.indent {
  &::before {
    content: "";
    color: $primary-color;
  }
}

// Rounded background for numbered lists
article> {
  ol {
    counter-reset: my-awesome-counter;
    list-style: none;
  }
  ol>li {
    margin-left: -0.25rem;
    counter-increment: my-awesome-counter;
    position: relative;
  }
  ol>li::before {
    content: counter(my-awesome-counter);
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    position: absolute;
    left: -2.75rem;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    top: 0;
    background: $primary-color;
    // background: rgba(26, 188, 242,.2);
    border-radius: 50%;
    text-align: center;
  }
}


// Better looking menu

.menu li a {
  @include box-sizing(border-box);
  display: block;
  padding: 27px 0px;
  margin: 0 14px;
  text-decoration: none;
  font-size: 16px;
  line-height: 1;
}

.menu > li > a {
  font-family: $heading-font;
  font-weight: 500;
  // text-transform: uppercase;
}

.menu > li > a:hover,
.menu > li > a:focus {
  background: $site-background;
  box-shadow: inset 0px -5px $primary-color;
  color: $navigation-color;
  padding-bottom: 12px;
  margin-bottom: 32px;
}



.site-header {
  position: relative;

  .site-title {
    display: flex;
    align-items: center;
    font-weight: normal;
  }
}

.docsearch {
  .DocSearch-Button {
    padding: 0px;
    margin-top: 16px;
    margin-left: 8px;
    margin-right: 0px;
    background: none;
    &:hover {
      box-shadow: none;
    }
  }
  .DocSearch-Button-Placeholder {
    display: none;
  }
  .DocSearch-Button-Keys {
    display: none;
  }
  .DocSearch-Search-Icon {
    margin-right: 8px;
    color: $link-color;
  }
}

.DocSearch-Container {
  z-index: 1000;
}

.integration-alert-container {
  margin: 0;
}

a.integration-alert {
  margin: 1em 0;
  background-color: wheat;
  padding: 16px 24px;
  text-decoration: none !important;
  display: flex;
  align-items: center;
  color: black;
  border-radius: 16px;

  svg {
    width: 24px;
    margin-right: 8px;
  }

  .content {
    flex: 1;
  }

  .learn-more {
    font-weight: 600;
    padding: 4px 12px;
    border-radius: 16px;
    font-size: .8em;

    &:hover {
      background-color: rgba(0, 0, 0, .12);
    }
  }
}

@media only screen and (max-width: $menu-collapse) {
  .feedback {
    margin-bottom: 32px;
  }
}

.hero {
  background: rgb(24,188,242);
  background: linear-gradient(0deg, rgba(24,188,242,1) 0%, rgba(24,188,242,.8) 100%);
  padding-bottom: 0;

  .lead {
    margin-bottom: 16px;
  }

  .hero-buttons a {
    font-family: $heading-font;
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
    display: inline-block;
    font-weight: 600;
    padding: 8px 16px;
    margin: 0 4px 0 0;
    border-radius: 24px;
    &.primary {
      background-color: $link-color;
      font-weight: 700;
    }
  }

  img {
    display: block;
  }
}

.material-card {
  background-color: $white;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, .12);
  // box-shadow: rgba(0,0,0,0.06) 0 0 10px;

  h1 {
    font-family: $heading-font;
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.012em;
    line-height: 40px;
    color: #212121;
    padding: 20px 16px 12px;
    text-transform: capitalize;
    margin: 0;
  }

  &.text {
    padding: 16px 16px 16px 24px;

    h1 {
      padding: 4px 0px 12px;
    }
  }

  .links {
    margin-top: 8px;
    margin-left: -8px;

    a {
      text-decoration: none;
      font-weight: 500;
      text-transform: uppercase;
      display: inline-block;
      margin: 0 8px;
    }
  }

  @media screen and (max-width: 480px) {
    .links {
      margin-left: 0;
    }
  }
}

.feedback {
  h4 {
    margin: 0 0 8px !important;

    a {
      text-decoration: none !important;
      color: #000;
    }
  }

  .links a {
    font-weight: 400;
    text-transform: none;
  }
}

.installation-survey {
  padding-bottom: 64px;

  h4 {
    margin: 0 0 8px !important;

    a {
      text-decoration: none !important;
      color: #000;
    }
  }

  p {
    margin-bottom: 8px;
  }
}


.button {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 28px;
    color: #fff;
    background-color: #03a9f4;
    border: none;
    text-decoration: none !important;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
  
  &::before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.2;
    border-radius: 4px;
  }
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.14), 0 1px 7px 0 rgba(0,0,0,.12), 0 3px 1px -1px rgba(0,0,0,.2);
  }
  &:hover::before {
    background-color: rgba(255,255,255,.8);
  }
  &:focus {
    outline: none;
  }
  &:focus::before {
    background-color: white;
  }
  &:active::before {
    background-color: grey;
  }
  :host([active]) & {
    color: rgba(0, 0, 0, 0.38);
    background-color: rgba(0, 0, 0, 0.12);
    box-shadow: none;
    cursor: unset;
    pointer-events: none;
  }
  &.hidden {
    display: none;
  }
}

.frontpage {
  .material-card {
    margin-bottom: 24px;
  }

  .current-version {
    .release-date {
      white-space: nowrap;
    }
  }

  .recent-posts {
    .blog-date {
      white-space: nowrap;
    }
  }

  .highlight-blog-post {
    font-size: 2rem;
    line-height: 1.15;
    padding: 15px;
    display: block;
    text-decoration: none;
    color: white;
    transition: background-color 0.5s;
    background-color: #038fc7;

    &.large {
      font-size: 2.25rem;
      line-height: 1.33333;
    }

    &:hover {
      background-color: lighten(#038fc7, 10%);
    }
  }

  .events {
    padding: 16px;

    h3 {
      margin-top: 8px;
    }

    .event {
      display: flex;
      flex-wrap: wrap-reverse;
      align-items: center;
      text-decoration: none;
      color: inherit;

      .caption {
        padding: 0 12px;
        max-width: 450px;
      }

      .title {
        font-size: 20px;
        font-weight: 400;
      }

      .secondary {
        color: rgba(0, 0, 0, 0.54);
        font-size: 14px;
        font-weight: 500;
      }

      .subtitle {
        font-size: 12px;
        font-weight: initial;
      }

      img {
        width: 200px;
        height: 100%;
      }
    }
  }

  .picture-promo {
    display: block;
    padding-top: 30%;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    border: none;

    .caption {
      padding: 16px 12px 12px;
      background-color: rgba(0, 0, 0, 0.54);
      color: white;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        font-size: 20px;
        font-weight: 400;
      }

      .subtitle {
        font-size: 12px;
        font-weight: initial;
      }

      svg {
        fill: white;
        width: 32px;
        height: 32px;
        min-width: 32px;
      }
    }
  }

  .supported-brands {
    text-align: center;

    a {
      text-decoration: none;
    }

    img {
      border: none !important;
      box-shadow: none !important;
      max-height: 50px;
      max-width: 140px;
      margin: 10px;
      vertical-align: middle;
    }
  }

  .sponsors-and-press {
    margin-top: 24px;
  }

  .sponsored-by {
    img {
      border: 0;
      border-radius: 0;
      box-shadow: none;
      margin: 15px;
      max-width: 40%;
      max-height: 80px;
    }

  }

  .seen-press {

    img {
      border: 0;
      box-shadow: none;
      margin: 15px;
      max-width: 40%;
      max-height: 70px;
    }

    .square {
      width: initial;
    }

    .round {
      border-radius: 50%;
    }
  }
}

@media screen and (max-width: 700px) {
  .frontpage .events .event {
    .caption {
      padding-top: 4px;
    }

    img {
      width: 100%;
    }
  }
}


// https://fortawesome.github.io/Font-Awesome/3.2.1/icons/

h1:hover a.title-link,
h2:hover a.title-link,
h3:hover a.title-link,
h4:hover a.title-link,
h5:hover a.title-link,
h6:hover a.title-link,
dt:hover a.title-link {
  position: relative;

  &::before {
    position: absolute;
    top: 5px;
    left: -25px;
    padding-right: 10px;
    padding-left: 5px;
    font-family: "FontAwesome";
    font-size: 15px;
    color: #999;
    content: "\f0c1";
  }
}

.ha-title {
  display: inline-flex;
  height: 100%;
  white-space: nowrap;

  img {
    border-radius: 3px;
    height: 36px;
    margin-right: 10px;
  }

  a>* {
    vertical-align: middle;
  }
}

.usp {
  ul {
    text-align: left;
    margin-left: 27px;
    margin-top: -18px;
  }

  .icon i {
    border: none !important;
  }
}

.hero-buttons a {
  margin: 0 30px 10px 0;

  &:last-child {
    margin: 0;
  }
}

article.post,
article.page,
article.listing {
  font-size: 1.125em;
  line-height: 1.6;

  img,
  table {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 1px;
    vertical-align: middle;
  }

  img.no-shadow {
    border: 0;
    box-shadow: none;
  }

  video {
    max-width: 100%;
  }

  &>table,
  &>.entry-content>table {
    background-color: #f3fcf5;
  }

  p.img {
    background-color: #fff;
    border-radius: 8px;
    border-width: 8px;
    text-align: center;
    padding-bottom: 3px;
    font-size: 0.9rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 1px;
    border: 0;

    img {
      display: block;
      box-shadow: none;
      margin: 0 auto;
    }
  }

  li {
    margin-top: 4px;
    margin-bottom: 8px;

    &>p:last-child {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
  &>ol>li {
    margin-bottom: 16px;
  }

  a {
    text-decoration: underline;

    &.btn {
      text-decoration: none;
    }
  }

  h1 {}

  h2 {
    // font-size: 1.5em;
    margin-top: 2.5em;
  }

  h3 {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 1.5rem;
    margin-top: 2em;
  }

  h4 {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 1.25rem;
    margin-top: 2em;
    color: $gray;
  }

  details {
    padding-bottom: 1em;
  }
}

p.note,
div.note {
  position: relative;

  background: #e7f2fa;

  padding: 54px 24px 20px 24px;
  margin-bottom: 24px;
  border-radius: 16px;
  // box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px;

  p {
    margin-bottom: 0px;
  }

  &::before {
    font-family: "FontAwesome", sans-serif;
    content: "\f05a"" Note " attr(data-title);
    // background-color: #6ab0de;
    color: #6ab0de;
    font-weight: bold;

    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 16px 24px;

    line-height: 1.5em;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &.warning {
    background-color: #f7f9e1;

    &::before {
      color: rgb(187, 185, 13);
      content: "\f071"" Warning " attr(data-title);
    }
  }
}

.copyright {
  text-align: left;

  .company {
    .title {
      font-size: 1.5em;
    }

    img {
      vertical-align: middle;
      height: 120px;
    }

    i {
      font-size: 2em;
      padding: 0 5px;
    }

    .icons {
      display: flex;
      align-items: center;

      svg {
        height: 48px;
        padding: 10px 4px;
        fill: currentColor;
      }
    }
  }

  ul {
    margin: 0;
    list-style: none;
  }
}

.aside-module {
  background: white;
  border-radius: 16px;
  margin: 0 0 24px 0px;
  padding: 4px 24px 8px;

  .section {
    margin-bottom: 10px;

    ul.section-nav {
      margin-left: 0px;

      li.toc-entry {
        list-style-type: none;

        li {
          list-style-type: circle;
          margin-left: 1em;
        }

        ul {
          margin-left: 1em;
        }
      }
    }

  }

  .brand-logo-container {
    text-align: center;
    margin-top: 50px;
    display: grid;
    justify-items: center;
    padding: 12px 16px 0;

    img {
      max-height: 64px;
    }

    a.my img {
      margin-top: 20px;
    }
  }
}

lite-youtube {
  position: relative;
  display: block;
  padding-bottom: calc(100% / (16 / 9));
  background-color: rgba(0, 0, 0, .1);
}

lite-youtube::before {
  content: attr(videotitle) " video placeholder";
  color: rgba(0, 0, 0, 0.82);
  text-align: center;
  width: 100%;
  position: absolute;
  padding-top: calc(45% / (16 / 9));
}

// Responsive YouTube embeds.
// https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  margin-bottom: 25px;
  background: #000;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.edit-github {
  float: right;
  margin-left: 8px;
  margin-bottom: 8px;
  font-size: 0.8em;
}

ul.sidebar-menu {
  a.active {
    color: #000;
    font-weight: bold;
  }

  ul {
    margin-left: 30px;
  }
}

a code {
  color: $primary-color;
}

twitter-widget,
.twitter-tweet-rendered {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.aside-module {
  max-width: 100%;
  overflow: hidden;
}

// Configuration variables
div.config-vars {
  padding-bottom: 16px;

  h3 {
    margin-bottom: 0;
  }

  .configuration-link {
    font-size: 13px;

    a {
      color: #8792a2;
      text-decoration: none;
      border-bottom: #8792a2 dotted 0.5px;
    }
  }

  .config-vars-item {
    border-bottom: 1px solid #d9dbde;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .nested .config-vars-item:last-child {
    border: none;
  }

  .config-vars-label {
    padding-bottom: 4px;
    position: relative;

    &:hover a.title-link::before {
      position: absolute;
      top: 5px;
      left: -25px;
      padding-right: 40px;
      font-family: "FontAwesome";
      font-size: 15px;
      color: #999;
      content: "ÔÉÅ";
    }
  }

  .config-vars-label-name {
    font-weight: bold;
    font-size: 16px;
    color: #222222bd;
  }

  .config-vars-type {
    color: #8792a2;
    font-size: 13px;
  }

  .config-vars-required {
    color: #8792a2;
    font-size: 13px;
    text-transform: lowercase;

    .true {
      color: #e56f4a;
      text-transform: uppercase;
      font-size: 11px;
    }

    .default {
      text-transform: None;
    }
  }

  .config-vars-description-and-children {
    font-size: 14px;
    color: #4f566b;
  }

  .config-vars-description p {
    margin: 0;
  }

  .config-vars-default {
    padding-top: 8px;

    p {
      margin: 0;
      display: inline;
    }
  }

  .nested {
    margin-left: 48px;
  }
}

code {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 0.8em;
  color: $primary-color;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  background-color: #fdfdfd;
  background-image: linear-gradient(transparent 50%,
      rgba(69, 142, 209, 0.04) 50%);
  background-size: 3em 3em;
  background-origin: content-box;
  background-attachment: local;

  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 0.1em 0.4em;
}

@media only screen and (max-width: $menu-collapse) {

  #not_found {
    .page {
      text-align: center;

      .search404-container {
        margin-bottom: 32px;
        display: grid;

        #search404 {
          display: flex;
          justify-self: center;
        }
      }
    }
  }
}

@media only screen and (min-width: $menu-collapse) {
  #not_found {
    .page {
      text-align: center;
      margin-bottom: 300px;

      .search404-container {
        margin-bottom: 32px;
        display: grid;

        #search404 {
          display: flex;
          justify-self: center;
        }
      }
    }

    footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}

a.my {
  img {
    border: 0px;
    border-radius: 0;
    box-shadow: none;
  }
}

:target {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}
