<section id="built-for-home-assistant" data-dsap>
    <div class="section-inner">
        <div class="section-inner-content">
            <div class="container">
                <div class="card">
                    <div class="cols">
                        <div class="col">
                            <img src="/images/connect/zbt-2/green.webp" alt="Home Assistant Green device" />
                        </div>
                        <div class="col">
                            <div class="connect-badge connect-line-blue"><span>Zigbee or Thread made seamless</span></div>
                            <h2>Built for Home Assistant</h2>
                            <p class="body-large">Designed by the team driving forward Home Assistant, ZHA, and Matter.js.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>