<section id="buy">
    <div class="section-inner">
        <div class="section-inner-content">
            <div class="container">
                <div class="content">
                    <div class="strap">Get the ultimate Zigbee or Thread experience for just</div>
                    <h2 class="price">$49<span>/</span>€45<sup>*</sup></h2>
                    <div class="button buy">Buy now</div>
                </div>
                <p class="terms">*Recommended MSRP. Prices differ between regions due to varying local market costs
                    and conditions, and subject to individual retailers.</p>

                <img src="/images/collaboration/mobile-on-dark.png" class="nc-collaboration mobile">
                <img src="/images/collaboration/desktop-on-dark.png" class="nc-collaboration desktop">
            </div>
        </div>
    </div>
</section>