<section id="chipset">
    <div class="section-inner">
        <div class="section-inner-content">
            <div class="container">
                <div class="cols">
                    <div class="col">
                        <div class="card">
                            <div class="card-inner">
                                <img src="/images/connect/zbt-2/mg24.svg">
                                <div class="content1">
                                    <h3>Updated internals</h3>
                                    <p>An updated Zigbee and Thread chip gives it the highest performance available,
                                        while
                                        providing a rock-solid, stable network.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card--image">
                            <img src="/images/connect/zbt-2/chipset.webp"
                                alt="A close-up macro shot of a the Zigbee/Thread chip (MG24) on a black printed circuit board, illuminated by dramatic blue and pink lighting.">
                        </div>
                    </div>
                    <div class="col" data-dsap>
                        <div class="card">
                            <div class="card-inner">
                                <div class="content-wrap">
                                    <h3>More responsive</h3>
                                    <p>A 4x improvement in adapter speed consistently improves device responsiveness.</p>
                                </div>
                                <div class="comparisons">
                                    <div class="comparison">
                                        <div class="icon">
                                            <img src="/images/connect/zbt-2/icon-zbt-1.svg">
                                        </div>
                                        <div class="comparison-details">
                                            <div class="name subtitle-medium">ZBT-1</div>
                                            <div class="progress">
                                                <div></div>
                                            </div>
                                            <div class="detail">Bd 115200</div>
                                        </div>
                                    </div>
                                    <div class="comparison">
                                        <div class="icon">
                                            <img src="/images/connect/zbt-2/icon-zbt-2.svg">
                                        </div>
                                        <div class="comparison-details">
                                            <div class="name subtitle-medium">ZBT-2<div class="right">4x</div>
                                            </div>
                                            <div class="progress">
                                                <div></div>
                                            </div>
                                            <div class="detail">Bd 460800 <div class="right">Faster</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>