<section id="collaboration" data-dsap>
    <div class="container">
        <div class="card">
            <div class="card-inner">
                <div class="partner">Brought to you by <img src="/images/collaboration/nabu-casa.svg"
                        alt="Nabu Casa Logo">
                </div>
                <h3>Every purchase supports the Open Home</h3>
                <p class="body-medium">Nabu Casa designs and builds official Home Assistant hardware. As a commercial partner of the Open  Home
                    Foundation, Nabu Casa contributes the majority of its profits to the foundation. This means every
                    purchase supports the development of projects like Home Assistant and ESPHome.</p>
            </div>
        </div>
    </div>
</section>