<section id="features">
    <div class="section-inner">
        <div class="section-inner-content">
            <div class="container container-full">
                <div class="waves-wrapper">
                    {% include_relative components/assets/horizontal-wave.svg %}
                </div>
            </div>
            <div class="container">
                <div class="cols">
                    <div class="col">
                        <div class="connect-badge connect-line-blue"><span>The best just got better</span></div>
                        <h2>Precisely engineered</h2>
                        <p class="body-large">Optimized antenna providing the best possible connection to Zigbee or
                            Thread devices. Along with opening up a world of Matter devices.</p>
                    </div>
                    <div class="col">
                        {% include_relative components/assets/antenna-comparison.svg %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>