<section id="home" data-dsap>
    <div class="section-inner">
        <div class="section-inner-content">
            <div class="container">
                <div class="cols">
                    <div class="col">
                        <div class="home-content">
                            <div class="connect-badge connect-line-blue"><span>Open design</span></div>
                            <h2>Built to be tinkered with</h2>
                            <p class="body-large">Unlocked, open source, and easy to open. No clips or glue, with accessible pads and pins.</p>
                        </div>
                        <img src="/images/connect/zbt-2/lifestyle5.webp"
                            alt="The Home Assistant Connect ZBT-2 device on a wooden desk, placed next to a laptop and a Home Assistant Green." />
                    </div>
                    <div class="col">
                        <img src="/images/connect/zbt-2/still-life-2.webp"
                            alt="A wide lifestyle shot of a room, with the Home Assistant Connect ZBT-2 device next to a Home Assistant ZWA-2 on a black side table against a green paneled wall." />
                    </div>
                </div>
                <div class="cols">
                    <div class="col">
                        <img src="/images/connect/zbt-2/lifestyle4.webp"
                            alt="A wide lifestyle shot of a room, with the Home Assistant Connect ZBT-2 device next to a Home Assistant ZWA-2 on a black side table against a green paneled wall." />
                    </div>
                    <div class="col">
                        <div class="home-content">
                            <h2>Designed for the home</h2>
                            <p class="body-large">From its injection-molded case, to its sleek lines, it's designed to blend into home decor.</p>
                        </div>
                        <img src="/images/connect/zbt-2/lifestyle3.webp"
                            alt="The Home Assistant Connect ZBT-2 device placed next to a stack of books on a black side table, next to a large green houseplant." />
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>