<section id="plug-and-play">
    <div class="section-inner">
        <div class="section-inner-content">
            <div class="container">
                <div class="cols">
                    <div class="col">
                        <div class="card">

                            <h2>Plug and play</h2>
                            <p>Z-Wave setup has never been easier, thanks to our intuitive start-up wizard and one-click
                                firmware updates.</p>
                            </div>
                    </div>
                    <div class="col">
                        <div class="video">
                            <video src="/connect/zbt-2/video/usb-c.mp4" autoplay muted></video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>