<section id="second-generation-platform">
    <div class="section-inner">
        <img src="/images/connect/zbt-2/still-life-1-m.webp" class="mobile">
        <img src="/images/connect/zbt-2/still-life-1.webp" class="desktop">
        <div class="section-inner-content">
            <div class="container">
                <div class="cols">
                    <div class="col">
                        <h2>Second generation platform</h2>
                        <p class="body-large">After introducing ZWA-2, our Connect line continues to grow with the addition of the ZBT-2.</p>
                    </div>
                    <div class="col">
                        <p class="body-large">It may be smaller than its <a href="/connect/zwa-2">older brother</a>, but it shares the same second generation design, delivering peak performance, an open platform, and a look that blends seamlessly into any home.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>