<section id="specs">
    <div class="section-inner">
        <div class="section-inner-content">
            <div class="container">
                <div class="cols">
                    <div class="col">
                        <h2>Specifications</h2>
                        <div class="specs-list">
                            <div class="spec-list-top-mobile">
                                <div class="cols">
                                    <div class="col">
                                        <h4>Dimensions and weight</h4>
                                        <div class="spec-title">Device</div>
                                        <div class="spec-value">
                                            <div>83x83x179 mm</div>
                                            <div>157 g</div>
                                        </div>
                                        <div class="spec-title">With box</div>
                                        <div class="spec-value">
                                            <div>227x168x42 mm</div>
                                            <div>350 g</div>
                                        </div>
                                        <h4>Material</h4>
                                        <div class="spec-title">Enclosure</div>
                                        <div class="spec-value">
                                            <div>Polycarbonate plastic</div>
                                        </div>
                                        <div class="spec-title">Colors</div>
                                        <div class="spec-value">
                                            <div>White and semi-transparent</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <img id="exploded-diagram-m" src="/images/connect/zbt-2/exploded-diagram.svg">
                                    </div>
                                </div>
                            </div>
                            <div class="spec-list-top-desktop">
                                <h4>Dimensions and weight</h4>
                                <div class="cols">
                                    <div class="col">
                                        <div class="spec-title">Device</div>
                                        <div class="spec-value">
                                            <div>83x83x179 mm</div>
                                            <div>157 g</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="spec-title">With box</div>
                                        <div class="spec-value">
                                            <div>227x168x42 mm</div>
                                            <div>350 g</div>
                                        </div>
                                    </div>
                                </div>

                                <h4>Material</h4>
                                <div class="cols">
                                    <div class="col">
                                        <div class="spec-title">Enclosure</div>
                                        <div class="spec-value">
                                            <div>Polycarbonate plastic</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="spec-title">Colors</div>
                                        <div class="spec-value">
                                            <div>White and semi-transparent</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h4>Product details</h4>
                            <div class="cols">
                                <div class="col">
                                    <div class="spec-title">SoCs</div>
                                    <div class="spec-value">
                                        <div>Silicon Labs MG24</div>
                                        <div>ESP32-S3 (USB-serial bridge)</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="spec-title">Power/data</div>
                                    <div class="spec-value">
                                        <div>USB-C, 5 V DC, 500mA</div>
                                    </div>
                                </div>
                            </div>

                            <div class="cols">
                                <div class="col">
                                    <div class="spec-title">Supported protocols</div>
                                    <div class="spec-value">
                                        <div>Zigbee 3.0, Thread</div>
                                    </div>
                                </div>
                            </div>

                            <div class="spec-title">
                                Antenna characteristics
                                <div class="spec-subtitle">Different building materials and placement of the unit will
                                    affect the wireless connectivity range.</div>
                            </div>
                            <div class="cols">
                                <div class="col">
                                    <div class="spec-value">
                                        <div><strong>Frequency range:</strong> 2400-2483.5 MHz</div>
                                        <div><strong>Transmit power:</strong> 10 dBm (Europe)<br />8 dBm (rest of world)</div>
                                        <div><strong>Antenna dimensions:</strong> 24 mm diameter, 164mm height</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="spec-value">
                                        <div><strong>Peak gain:</strong> 4.16 dBi</div>
                                        <div><strong>Radiation pattern:</strong> Omnidirectional</div>

                                    </div>
                                </div>
                            </div>

                            <div class="cols">
                                <div class="col">
                                    <div class="spec-title">Environmental conditions for operation</div>
                                    <div class="spec-value">
                                        <div>Indoor use only<br />0 °C to 65 °C (antenna -40 to +85 °C)<br />32 °F to 149 °F</div>
                                        <div>Humidity: non-condensing<br />Keep in dry, not excessively dusty environment as this can cause damage to the unit</div>
                                        <div>Do not leave the unit in direct sunlight or near any heat source, as this can cause overheating.</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="spec-title">In the box</div>
                                    <div class="spec-value">    
                                        <div>Antenna + Base<br />1.5m USB-C cable (USB 2.0/3.0)<br />Quickstart guide<br />Warranty and Safety Information</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <img id="exploded-diagram-d" src="/images/connect/zbt-2/exploded-diagram.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>