<section id="hero">
    <div class="container" id="community">
        <div class="content">
            <h1>The Home Assistant Community</h1>
            <p>Connect with makers, tinkerers, and smart home enthusiasts. Share ideas, ask questions, and discover ways
                to
                make your home smarter, more private, and truly yours.</p>

            <div class="event-card">
                <div class="event-title">Comunidad Home Assistant Chile - 2ª Reunion</div>
                <div class="event-meta">Saturday, <strong>27th September</strong> | Las Condes, Región Metropolitana</div>
                <a href="https://luma.com/wppu4g4t" class="button secondary" target="_blank" rel="noopener">
                    <div class="icon">
                        <svg>
                            <use href="#luma" />
                        </svg>
                    </div>
                    Register Now
                </a>
            </div>
            <div class="event-card" style="display: none;">
                <div class="event-title">Open Home Foundation Meetup - San Diego</div>
                <div class="event-meta">Monday, <strong>27th October</strong> | San Diego, California</div>
                <a href="https://luma.com/j533g5a9" class="button secondary" target="_blank" rel="noopener">
                    <div class="icon">
                        <svg>
                            <use href="#luma" />
                        </svg>
                    </div>
                    Register Now
                </a>
            </div>
            <div class="event-card" style="display: none;">
                <div class="event-title">Hasselt @ Brixel</div>
                <div class="event-meta">Friday, <strong>28th November</strong> | Hasselt, Région flamande</div>
                <a href="https://luma.com/itf9gsz0" class="button secondary" target="_blank" rel="noopener">
                    <div class="icon">
                        <svg>
                            <use href="#luma" />
                        </svg>
                    </div>
                    Register Now
                </a>
            </div>
        </div>
    </div>
</section>