<section id="hero">
    <div class="container" id="community">
        <div class="content">
            <h1>The Home Assistant Community</h1>
            <p>Connect with makers, tinkerers, and smart home enthusiasts. Share ideas, ask questions, and discover ways
                to
                make your home smarter, more private, and truly yours.</p>
            <a href="https://luma.com/homeassistant" class="button secondary" target="_blank" rel="noopener">
                <div class="icon">
                    <svg>
                        <use href="#luma" />
                    </svg>
                </div>
                Find an event
            </a>
        </div>
    </div>
</section>