<section id="hero">
    <div class="container">
        <div class="content">
            <h1>The Home Assistant Community</h1>
            <p>Connect with makers, tinkerers, and smart home enthusiasts. Share ideas, ask questions, and discover ways
                to
                make your home smarter, more private, and truly yours.</p>

            <div class="event-card">
                <div class="button secondary">
                    <div class="icon">
                        <svg>
                            <use href="#luma" />
                        </svg>
                    </div>
                    Upcoming event
                </div>
                <div class="event-title">IFA 2025 Meetup</div>
                <div class="event-meta">Saturday, <strong>6 September</strong> | Berlin, Germany</div>
            </div>
        </div>
    </div>
</section>