<section id="join">
    <div class="container">
        <h2>
            <span class="h1">Join the</span>
            <span class="big">Community</span>
        </h2>
        <p>
            Our vibrant community is very active and super friendly.
            We love to talk and share our passion for home
            automation.
        </p>
        <div class="buttons">
            <div class="button">
                <div class="icon">
                    <svg>
                        <use href="#creator" />
                    </svg>
                </div>
                Creator Network
            </div>
            <div class="button">
                <div class="icon">
                    <svg>
                        <use href="#forum" />
                    </svg>
                </div>
                Forum
            </div>
            <div class="button">
                <div class="icon">
                    <svg>
                        <use href="#discord" />
                    </svg>
                </div>
                Discord
            </div>
            <div class="button">
                <div class="icon">
                    <svg>
                        <use href="#reddit" />
                    </svg>
                </div>
                Reddit
            </div>
            <div class="button">
                <div class="icon">
                    <svg>
                        <use href="#facebook" />
                    </svg>
                </div>
                Facebook
            </div>
        </div>
    </div>
</section>