<section id="meetups">
    <div class="container">
        <div class="content">
            <svg>
                <use href="#community" />
            </svg>
            <h2 class="h1">Community Meetups</h2>
            <p>The community will be leading meetups across the globe, so find your nearest event and register now!
                They’re all free and will be full of smart people with smart homes.</p>
            <div class="event-card">
                <div class="event-title">No upcoming events</div>
                <div class="event-meta">Time to take matters into your own hands, and create your own meetup.</div>
                <a href="https://luma.com/homeassistant" class="button secondary" target="_blank" rel="noopener">
                    <div class="icon">
                        <svg>
                            <use href="#luma" />
                        </svg>
                    </div>
                    Create your own event
                </a>
            </div>
        </div>

        <div class="guide">
            <h3>Is your city not included in the list?</h3>
            <p>Time to take matters into your own hands, and create your own meetup.</p>
            <div class="steps">
                <div class="step">Using Luma, create an account, and navigate to our Home Assistant Community Day event
                    page, select Submit Event > Create New Event (the button is above the calendar on the right). </div>
                <div class="step">Set the invite graphic we created as the event image. When creating your own event,
                    make sure you add the event name, time zone, date, time, event location, capacity and hosts.</div>
                <div class="step">Click Create Event once you’ve followed the checklist, then come let everyone know in
                    the Home Assistant Community Day meetup thread on Discord or the Social section of the Community
                    forum!</div>
            </div>
            <div class="buttons">
                <a href="https://docs.google.com/document/d/1kcziY3ZJfut2mPez7zY6xcjv8VKcynFxvKYI51NJ8-Y" class="button" target="_blank" rel="noopener">
                    <div class="icon">
                        <svg>
                            <use href="#docs" />
                        </svg>
                    </div>
                    Expense Guidelines for Hosts
                </a>
                <a href="https://drive.google.com/drive/folders/1cQCV4vcfKx0FCNwzNqd3F2lE1xR5W5co" class="button" target="_blank" rel="noopener">
                    <div class="icon">
                        <svg>
                            <use href="#download" />
                        </svg>
                    </div>
                    Graphic Assets
                </a>
            </div>
        </div>
    </div>
</section>