<section id="newsletter">
    <div class="container">
        <div class="editions" data-dsap>
            <div class="edition">
                <img src="https://newsletter.openhomefoundation.org/content/images/size/w960/2025/06/1200X630.jpg" />
            </div>
            <div class="edition">
                <img src="https://newsletter.openhomefoundation.org/content/images/size/w960/2025/07/OHF_Newsletter2507_1200X630.png" />
            </div>
            <div class="edition">
                <img src="https://newsletter.openhomefoundation.org/content/images/size/w960/2025/08/OHF_Newsletter2508_1200x630.png" />
            </div>
        </div>
        <div class="content">
            <h2>Subscribe to the newsletter</h2>
            <p class="small">Open Home is our vision for smart homes that offer privacy, choice and sustainability. The Open Home Foundation newsletter is the latest from the projects making this a reality, including Home Assistant and ESPHome.</p>
            <div class="buttons">
                <a href="https://newsletter.openhomefoundation.org/#/portal/signup" class="button secondary" target="_blank" rel="noopener">
                    Subscribe Now
                </a>
                <a href="https://newsletter.openhomefoundation.org/" class="button hollow-dark">
                    Read Our Latest Posts
                </a>
            </div>
        </div>
    </div>
</section>