<section id="newsletter">
    <div class="container">
        <div class="editions" data-dsap>
            <div class="edition">
                <img src="https://picsum.photos/seed/3/600/320" />
                <div class="label">
                    <div class="label-date">August 29, 2025</div>
                    <div class="label-title">Why isn’t there one standard?</div>
                </div>
            </div>
            <div class="edition">
                <img src="https://picsum.photos/seed/4/600/320" />
            </div>
            <div class="edition">
                <img src="https://picsum.photos/seed/5/600/320" />
            </div>
        </div>
        <div class="content">
            <h2>Subscribe to the newsletter</h2>
            <p class="small">Open Home is our vision for smart homes that offer privacy, choice and sustainability. The Open Home Foundation newsletter is the latest from the projects making this a reality, including Home Assistant and ESPHome.</p>
            <div class="buttons">
                <div class="button secondary">
                    Subscribe Now
                </div>
                <div class="button hollow-dark">
                    Read Our Last Piece
                </div>
            </div>
        </div>
    </div>
</section>